{% load staticfiles compress %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{% block title %}Dancerfly{% endblock %}</title>

		{% block meta %}
			<meta property="og:site_name" content="Dancerfly" />
			<meta property="og:title" content="Dancerfly" />

			<meta name="description" content="Dancerfly is an event platform built by dancers, for dancers. Leave registration to us – go make the rest of your event amazing!" />
			<meta property="og:description" content="Dancerfly is an event platform built by dancers, for dancers. Leave registration to us – go make the rest of your event amazing!" />

			<meta property="og:url" content="https://{{ site.domain }}{{ request.path }}" />
		{% endblock %}

		{% block stylesheets %}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
			{% compress css %}
				<link rel="stylesheet" type="text/css" href="{% static "brambling/lib/chosen/chosen.min.css" %}" />
				<link rel="stylesheet" type="text/css" href="{% static "brambling/lib/bootstrap-datepicker/datepicker3.css" %}" />
			{% endcompress %}
			{% compress css %}
				{# must be separate to keep @fontface declarations on top #}
				<link rel="stylesheet" type="text/sass" href="{% static "brambling/sass/styles.sass" %}" />
			{% endcompress %}
		{% endblock %}

	</head>
	<body class="{% block body-classes %}dancerfly brambling zenaida{% endblock %}">

		{% block body %}
			{% block top %}
				{% include "brambling/_navbar.html" %}
			{% endblock %}

			<!--[if lt IE 7]>
				<div class="container">
					<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
				</div>
		    <![endif]-->

			<div class="container">
				<div class="alert alert-info">
					<strong>Dancerfly</strong> is no longer actively maintained.
					We will stop allowing new event creation on <strong>Aug 17, 2023<strong>
					and go offline permanently on <strong>Feb 17, 2024<strong>.<br />
					Please email <a href="mailto:support@dancerfly.com">support@dancerfly.com</a> with any concerns.
				</div>
			</div>

			{% block content %}{% endblock %}

			{% block bottom %}
				{% include "brambling/_footer.html" %}
			{% endblock bottom %}
		{% endblock body %}

		{% block javascripts %}
			{% compress js %}
				<script type="text/javascript" src="{% static "brambling/javascript/jquery-1.11.0.min.js" %}"></script>
				<script type="text/javascript" src="{% static "brambling/javascript/jquery-ui-1.10.4.custom.min.js" %}"></script>
				<script type="text/javascript" src="{% static "brambling/lib/underscore.1.8.3.js" %}"></script>
				<script type="text/javascript" src="{% static "brambling/javascript/bootstrap/transition.js" %}"></script>
				<script type="text/javascript" src="{% static "brambling/javascript/bootstrap/alert.js" %}"></script>
				<script type="text/javascript" src="{% static "brambling/javascript/bootstrap/collapse.js" %}"></script>
				<script type="text/javascript" src="{% static "brambling/javascript/bootstrap/modal.js" %}"></script>
				<script type="text/javascript" src="{% static "brambling/lib/chosen/chosen.jquery.min.js" %}"></script>
				<script type="text/javascript" src="{% static "brambling/lib/modernizr.js" %}"></script>
				<script type="text/javascript">
					window._brambling_chosen_init = function (idx, ele) {
						var $this = $(ele),
							first_child = $this.children("option").eq(0),
							options = {
								width: $this.hasClass('chosen-width-auto') ? "auto" : "100%",
								allow_single_deselect: (typeof $this.attr('required')) === "undefined" && first_child.val() === "",
								placeholder_text_multiple: "Select all that apply",
								placeholder_text_single: "Select one",
								inherit_select_classes: true,
								disable_search_threshold: 5
							};
						// If the first child has no value, blank its label.
						if (first_child.val() === "") first_child.html("");
						$this.chosen(options);
					};
					$('select.chosen-select').each(_brambling_chosen_init);
				</script>
				<script type="text/javascript" src="{% static "brambling/javascript/bootstrap/tooltip.js" %}"></script>
				<script type="text/javascript" src="{% static "brambling/javascript/bootstrap/popover.js" %}"></script>
				<script type="text/javascript" src="{% static "brambling/javascript/bootstrap/dropdown.js" %}"></script>
				<script type="text/javascript" src="{% static "brambling/javascript/jquery.shorten.js" %}"></script>
				<script type="text/javascript" src="{% static "brambling/lib/bootstrap-datepicker/bootstrap-datepicker.js" %}"></script>
				<script type="text/javascript" src="{% static "brambling/brambling.kickoff.js" %}"></script>
				<script type="text/javascript" src="{% static "brambling/brambling.utils.js" %}"></script>
				<script type="text/javascript" src="{% static "brambling/brambling.countdown.js" %}"></script>
				<script type="text/javascript" src="{% static "brambling/javascript/namespaces.js" %}"></script>
				<script type="text/javascript" src="{% static "brambling/jquery.formset.js" %}"></script>
				{% if GOOGLE_ANALYTICS_UA and GOOGLE_ANALYTICS_DOMAIN %}
					<script>
						(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
						(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
						m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
						})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

						ga('create', '{{ GOOGLE_ANALYTICS_UA }}', '{{ GOOGLE_ANALYTICS_DOMAIN }}', {'siteSpeedSampleRate': 100});
						ga('send', 'pageview');
					</script>
				{% endif %}
			{% endcompress %}

			<script src="https://js.stripe.com/v3/"></script>
		{% endblock javascripts %}
	</body>
</html>
