{% extends 'zenaida/__base.html' %}

{% load staticfiles compress %}

{% block title %}Dancerfly{% endblock %}</title>

{% block body-classes %}dancerfly brambling {{ block.super }}{% endblock %}

{% block stylesheets %}
	{% compress css %}
		<link rel="stylesheet" type="text/css" href="{% static "zenaida/lib/chosen/chosen.min.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "zenaida/css/styles.css" %}" />
	{% endcompress %}
	{% compress css %}
		{# must be separate to keep @fontface declarations on top #}
		<link rel="stylesheet" type="text/css" href="{% static "brambling/css/styles.css" %}" />
	{% endcompress %}
{% endblock stylesheets %}

{% block top%}
	{% include "brambling/_navbar.html" %}
{% endblock %}

{% block bottom %}
	{% include "brambling/_footer.html" %}
{% endblock bottom %}

{% block javascripts %}
	{% compress js %}
		{{ block.super }}
		<script type="text/javascript" src="{% static "zenaida/js/bootstrap/tooltip.js" %}"></script>
		<script type="text/javascript" src="{% static "zenaida/js/bootstrap/popover.js" %}"></script>
		<script type="text/javascript" src="{% static "zenaida/js/bootstrap/dropdown.js" %}"></script>
		<script type="text/javascript" src="{% static "zenaida/js/jquery.shorten.js" %}"></script>
		<script type="text/javascript" src="{% static "brambling/brambling.kickoff.js" %}"></script>
		<script type="text/javascript" src="{% static "brambling/brambling.countdown.js" %}"></script>
		{# TO DO: Ultimately this analytics code should live in a proprietary repository with Little Weaver specific things. #}
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-52154832-1', 'littleweaverweb.com');
			ga('send', 'pageview');
		</script>
	{% endcompress %}
{% endblock %}
