{% extends 'brambling/__base.html' %}

{% block body %}
	{% block top%}
		{% include "brambling/_navbar.html" %}
	{% endblock %}

    <!--[if lt IE 7]>
    	<div class='container'>
	        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	    </div>
    <![endif]-->
    {% block content %}{% endblock %}

	{% block bottom %}
		{% include "brambling/_footer.html" %}
	{% endblock bottom %}
{% endblock body %}