{% load daguerre %}

{% if event.banner_image %}
	{% adjust event.banner_image 'fill' width=940 height=300 as banner_image %}
{% endif %}

<div class="margin-trailer-dbl event-listing">
	<a href="{% url 'brambling_event_shop' event_slug=event.slug organization_slug=event.organization.slug %}" class="a-secret a-opacity">
		<div class="event-listing-image relative"{% if banner_image %} style="background-image: url({{ banner_image }})"{% endif %}>
			<div class="datecard">
				<h5 class="datecard-month">{{ event.start_date|date:"M" }}</h5>
				<p class="datecard-day">{{ event.start_date|date:"j" }}</p>
			</div>
		</div>
	</a>
	<h3>
		{{ event.name }}
		{% if is_admin and not event.is_published %}
			<small class='text-danger tipped' title="You can see this event because you're are an admin for it">
				<i class='fa fa-fw fa-warning'></i>
				Not published
			</small>
		{% endif %}
	</h3>
	<p class="visible-inline-block margin-0">
		<i class="fa fa-clock-o fa-fw"></i>
		{% include "brambling/event/_when.html" %}
	</p>
	{% if event.city and event.state_or_province and event.country %}
		<p class="visible-inline-block margin-leader-0 margin-trailer-half">
			<i class="fa fa-map-marker fa-fw"></i>
			{% include "brambling/event/_where.html" %}
		</p>
	{% endif %}
	<h5 class="text-muted event-tags margin-0">{% for style in event.dance_styles.all %}<span class="list-comma">{{ style }}</span>{% endfor %}</h5>

	<div class='form-group margin-leader-half'>
			{% if is_registered %}
				{% if event.order and event.order.has_cart %}
					<a href="{{ event.get_absolute_url }}" class="margin-trailer-half btn btn-warning tipped" title="Complete your registration now!">
						<i class="fa fa-exclamation-circle"></i> Almost Registered
					</a>
				{% elif event.order and event.order.unconfirmed_checks %}
					<a href="{{ event.get_absolute_url }}" class="margin-trailer-half btn btn-warning tipped" title="Your payment by mail has not yet been received.">
						<i class="fa fa-exclamation-circle"></i> Almost Registered
					</a>
				{% else %}
					<a href="{{ event.get_absolute_url }}" class="margin-trailer-half btn btn-success tipped" title="Modify your registration">
						<i class="fa fa-check"></i> Registered
					</a>
				{% endif %}
			{% else %}
				<a href="{{ event.get_absolute_url }}" class="margin-trailer-half btn btn-default">
					<i class="fa fa-ticket"></i> Register <span class="hidden-xs hidden-sm hidden-md">for <strong>{{ event.name }}</strong>!</span>
				</a>
			{% endif %}
		{% if is_admin %}
			<div class="btn-group">
				<a class="margin-trailer-half btn btn-default dropdown-toggle tipped" title='Manage Event' type="button" id="manageEvent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-container="body">
					<i class="fa fa-cog"></i>
					Manage Event
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="manageEvent">
					<li>
						<a href="{% url 'brambling_event_summary' event_slug=event.slug organization_slug=event.organization.slug %}" class="btn btn-link">Event Summary</a>
					</li>
					<li>
						<a href="{% url 'brambling_event_basic' event_slug=event.slug organization_slug=event.organization.slug %}" class="btn btn-link">Basic Information</a>
					</li>
					<li>
						<a href="{% url 'brambling_event_permissions' event_slug=event.slug organization_slug=event.organization.slug %}" class="btn btn-link">Team and Permissions</a>
					</li>
					<li role="separator" class="divider"></li>
					<li>
						<a href="{% url 'brambling_event_registration' event_slug=event.slug organization_slug=event.organization.slug %}" class="btn btn-link">Registration Settings</a>
					</li>
					<li>
						<a href="{% url 'brambling_item_list' event_slug=event.slug organization_slug=event.organization.slug %}" class="btn btn-link">Items</a>
					</li>
					<li>
						<a href="{% url 'brambling_form_list' event_slug=event.slug organization_slug=event.organization.slug %}" class="btn btn-link">Forms</a>
					</li>
					<li>
						<a href="{% url 'brambling_discount_list' event_slug=event.slug organization_slug=event.organization.slug %}" class="btn btn-link">Discounts</a>
					</li>
					<li role="separator" class="divider"></li>
					<li>
						<a href="{% url 'brambling_event_attendees' event_slug=event.slug organization_slug=event.organization.slug %}" class="btn btn-link">Attendee Data</a>
					</li>
					<li>
						<a href="{% url 'brambling_event_orders' event_slug=event.slug organization_slug=event.organization.slug %}" class="btn btn-link">Order Data</a>
					</li>
					<li>
						<a href="{% url 'brambling_event_finances' event_slug=event.slug organization_slug=event.organization.slug %}" class="btn btn-link">Finance Data</a>
					</li>
				</ul>
			</div>
		{% endif %}
		{% if event.website_url %}
			<a target="_blank" href="{{ event.website_url }}" class="margin-trailer-half btn btn-default-dark">
				<i class="fa fa-fw fa-globe"></i>
				Website
			</a>
		{% endif %}
		{% if event.facebook_url %}
			<a target="_blank" href="{{ event.facebook_url }}" class="margin-trailer-half btn btn-default-dark">
				<i class="fa fa-fw fa-facebook"></i>
				Facebook
			</a>
		{% endif %}

	</div>

	{% if event.order and event.order.unconfirmed_checks %}
		<div class='alert margin-trailer-md-0 alert-info'>
			Note: Your passes are reserved, but the organizer has not yet received your payment by mail.
			<br>If you believe this is in error, please contact the event organizer directly.
		</div>
	{% endif %}

	{% if event.order and event.order.has_cart %}
		{% include "brambling/event/order/_expiry_countdown.html" with expiry_time=event.order.cart_expire_time %}
	{% endif %}
</div>
