<div class="list-group-item">
	<div class="row">
		<div class="col-sm-9">
			<a href="{{ event.get_absolute_url }}">{{ event.name }}</a><br />
			<div class="media text-muted margin-leader-0 text-small">
				<div class="media-left">
					<i class="fa fa-clock-o fa-fw"></i>
				</div>
				<div class="media-body">
					{% include "brambling/event/_when.html" %}
				</div>
			</div>
			<div class="media text-muted margin-leader-0 text-small margin-trailer-tiny">
				<div class="media-left">
					<i class="fa fa-map-marker fa-fw"></i>
				</div>
				<div class="media-body">
					{% include "brambling/event/_where.html" %}
				</div>
			</div>
		</div>{# /.col-sm-9 #}
		<div class="col-sm-3 hidden-xs">
			<div class="btn-group-vertical pull-right">
				<a class="btn btn-default btn-sm tipped" data-placement="left" data-container="body" title="Manage Event" href="{% url 'brambling_event_summary' event.slug %}">
					<i class="fa fa-fw fa-cog"></i>
				</a>
				<a class="btn btn-default btn-sm tipped" data-placement="left" data-container="body" title="Visit Shop" href="{{ event.get_absolute_url }}">
					<i class="fa fa-fw fa-shopping-cart"></i>
				</a>
			</div>
		</div>{# /.col-sm-3.hidden-xs #}
	</div>{# /.row #}
	<div class="visible-xs">
		<a class="btn btn-default btn-sm" href="{% url 'brambling_event_summary' event.slug %}">
			<i class="fa fa-fw fa-cog"></i> Manage Event
		</a>
		<a class="btn btn-default btn-sm" title="Visit Shop" href="{{ event.get_absolute_url }}">
			<i class="fa fa-fw fa-shopping-cart"></i> Visit Shop
		</a>
	</div>{# /.visible-xs #}
</div>
