{% load daguerre %}

<div class="media margin-leader-dbl event-listing">
	<a href="{{ event.get_absolute_url }}" class=" a-secret a-opacity pull-left">
		<div class="media-object relative margin-leader-tiny">
			<div class="{% if event.logo_image or event.banner_image %}datecard-inset{% else %}datecard-no-img{% endif %}">
				<h5 class="datecard-month">{{ event.start_date|date:"M" }}</h5>
				<p class="datecard-day">{{ event.start_date|date:"j" }}</p>
			</div>
			{% if event.logo_image %}
				{% adjust event.logo_image 'fit' width=100 height=100 as image %}
			{% elif event.banner_image %}
				{% adjust event.banner_image 'fill' width=100 height=100 as image %}
			{% endif %}
			{% if event.logo_image or event.banner_image %}
				<img src="{{ image }}" width="{{ image.width }}" height="{{ image.height }}" class="datecard-img">
			{% endif %}
		</div>
	</a>
	<div class="media-body">
		<h3><a href="{{ event.get_absolute_url }}" class="a-inherit">{{ event.name }}</a></h3>
		<h4 class="text-muted">{{ event.tagline }}</h4>
		<p>
			{% include "brambling/event/_when_where.html" %}
		</p>
		<p>
		{% if event.description %}
			<div class="collapse" id="{{ event.slug }}-collapse">{{ event.description|linebreaks }}</div>
			<a class="collapser" data-toggle="collapse" data-target="#{{ event.slug }}-collapse">Information</a>
		{% endif %}
		<h5 class="text-muted event-tags">{% for style in event.dance_styles.all %}<span class="list-comma">{{ style }}</span>{% endfor %}</h5>
		<a href="{{ event.get_absolute_url }}" class="btn btn-primary">
			{% if registered %}
				Edit registration
			{% else %}
				Register
			{% endif %}
		</a>
		{% if event.website_url %}
			<a href="{{ event.website_url }}" class="btn btn-default-dark" target="_blank">Event website <i class='fa fa-fw fa-external-link'></i></a>
		{% endif %}
	</div>
</div>
