<nav class="{% firstof navbar_class "navbar navbar-default navbar-fixed-top" %} orange-barred" role="navigation">
	<div class="{% firstof container_class "container" %}">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<span id="dancerflyBrandName">
					Dancerfly
				</span>
			</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				{% if request.user.is_authenticated %}
					{% url 'brambling_dashboard' as brambling_dashboard_url %}
					{% url 'brambling_home' as brambling_home_url %}
					{% url 'brambling_user_profile' as brambling_user_profile_url %}
					<li><a href="{{ brambling_dashboard_url }}"><i class="fa fa-calendar fa-fw"></i> Your Events</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-fw"></i> {{ request.user.get_full_name }} <i class="fa fa-fw fa-caret-down"></i></a>
						<ul class="dropdown-menu">
							<li><a href="{{ brambling_user_profile_url }}"><i class="fa fa-cog fa-fw"></i> Profile Settings</a></li>
							<li><a href="{{ brambling_home_url }}"><i class="fa fa-home fa-fw"></i> Home Settings</a></li>
							<li><a href="{% url 'logout' %}"><i class="fa fa-power-off fa-fw"></i> Log out</a></li>
							{% with organizations=request.user.get_organizations %}
								{% if organizations %}
									 <li role="presentation" class="divider"></li>
									<li role="presentation" class="dropdown-header">Your Organizations</li>
									{% for organization in organizations %}
										<li><a href="{% url 'brambling_organization_update' organization_slug=organization.slug %}">{{ organization.name }}</a></li>
									{% endfor %}
								{% endif %}
							{% endwith %}
						</ul>
					</li>
				{% else %}
					{% url 'login' as login_url %}
					{% url 'brambling_signup' as brambling_signup_url %}
					<li{% if request.path == login_url %} class='active'{% endif %}><a href="{{ login_url }}">Log in</a></li>
					<li{% if request.path == brambling_signup_url %} class='active'{% endif %}><a href="{{ brambling_signup_url }}">Sign up</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
