{% if not request.is_secure %}
	<div class="alert alert-danger">
		<p><strong>Warning:</strong> This connection is not secure. Never submit real credit card data over an insecure connection. You may see this error if this site is in testing mode. If not, please contact a site administrator.</p>
		<p>If you are testing this site, you may use <a class="alert-link" href="https://stripe.com/docs/testing#cards" target="_blank">these test credit card numbers</a>.</p>
	</div>
{% elif event.api_type == event.TEST %}
	<p>This event is in test mode; use <a class="alert-link" href="https://stripe.com/docs/testing#cards" target="_blank">these test credit card numbers</a>.</p>
{% endif %}

<div class='row'>
	<div class='col-sm-9'>
		<div class='form-group'>
			<input type='text' class='form-control' id='card-number' maxlength='16' placeholder='Card number'>
		</div>
	</div>
	<div class='col-sm-3'>
		<div class='form-group'>
			<input type='text' class='form-control' id='card-cvc' maxlength='4' placeholder='CVC'>
		</div>
	</div>
</div>

<div class='row'>
	<div class='col-sm-6'>
		<div class='form-group'>
			<input type='text' class='form-control' id='card-expiry-month' placeholder='MM' maxlength='2'>
		</div>
	</div>
	<div class='col-sm-6'>
		<div class='form-group'>
			<input type='text' class='form-control' id='card-expiry-year' placeholder='YY' maxlength='2'>
		</div>
	</div>
</div>
