<script>
	$(function(){
		// External code must set stripe and card vars correctly.
		$('#card-submit').on('click', function(e){
			e.preventDefault();
			$('.has-error').removeClass('has-error');
			$('.help-block').remove();

			stripe.createToken(card).then(function(result) {
				if (result.error) {
					console.log(result.error);
					var group = $('#card-element').parent();
					group.addClass('has-error');
					group.append('<p class="help-block">' + result.error.message + '</p>');
				} else {
					var cardForm = $('#card-form');
					cardForm.append("<input type='hidden' name='token' value='" + result.token.id + "'/>");
					cardForm.get(0).submit();
				}
			});
		});
	});
</script>
