{% if api_type == 'test' %}
	<div class='alert alert-info'>
		<p>This event is in test mode; use <a class="alert-link" href="https://stripe.com/docs/testing#cards" target="_blank">these test credit card numbers</a> to complete your purchase.</p>
	</div>
{% elif not request.is_secure %}
	<div class="alert alert-danger">
		<p><strong>Warning:</strong> This connection is not secure. Credit card processing is disabled. Please contact a system administrator if you think this message is in error.</p>
	</div>
{% endif %}

<div class='form-group'>
	<label for='card-element'>Credit or debit card</label>
	<div id="card-element"></div>
</div>
{% include 'brambling/_stripe_note.html' %}
