{% extends "brambling/__marketing.html" %}

{% load staticfiles %}

{% block title %}About – {{ block.super }}{% endblock %}

{% block body-classes %}{{ block.super }} marketing-page{% endblock %}

{% block content %}
	<div class='marketing text-center'>
		<div class='text-jumbo'>
			<p>
				<span class="dancerfly-brand">Dancerfly</span> is an event platform built <strong>by&nbsp;dancers, for&nbsp;dancers.</strong>
			</p>
			<p>
				Leave registration <span class="inline-block">to us—</span><span class="inline-block">go make</span> the rest of your <span class="inline-block">event amazing!</span>
			</p>
		</div>
		<p class='margin-leader-dbl'>
			Use <span class="dancerfly-brand">Dancerfly</span> for workshops, exchanges, series classes, &amp; more.
		</p>
		<p class='margin-leader-dbl'>
			<a href='mailto:hello@littleweaverweb.com' class='btn btn-xl btn-primary'>Email us to get started!</a>
		</p>
		<div class="container">
			<img src='{% static "brambling/images/all-dancers.gif" %}' class="full-width marketing-dancers-img">
		</div>
	</div>

	<div class='marketing marketing-grey'>
		<div class='row'>
			<div class='col-sm-4 margin-leader-dbl'>
				<p class='text-jumbo marketing-icon-header'>
					<i class='fa fa-check-square-o fa-2x'></i>
					Easy checkout
				</p>
				<p>
					Zero account creation, plus a human-friendly design and checkout process!
					Use credit cards, Dwolla, and/or checks, whatever is easiest for you and your attendees!
				</p>
			</div>
			<div class='col-sm-4 margin-leader-dbl'>
				<p class='text-jumbo marketing-icon-header'>
					<i class='fa fa-check-square-o fa-2x'></i>
					Easy data
				</p>
				<p>
					Get the data you need for your attendees and your event!
					We support custom forms, custom data downloads, and full financial reports,
					making the event management process as simple as possible for you!
				</p>
			</div>
			<div class='col-sm-4 margin-leader-dbl'>
				<p class='text-jumbo marketing-icon-header'>
					<i class='fa fa-check-square-o fa-2x'></i>
					Easy teams
				</p>
				<p>
					Have a team of people involved in your event? Great!
					Control their access to data and editing on a per-event
					basis, or give them access to all your events at once!
				</p>
			</div>
		</div>

		<div class='text-center container'>
			<p class='margin-leader-dbl'>
				We also support custom <strong>discount codes</strong>, simple <strong>housing management</strong>, easy <strong>refunds</strong>, and more!
			</p>
			<p>
				Looking for a feature you don't see? Email us!
				If it's not there right now, we'll talk about adding it for you.
				We're always looking for ways to make <span class="dancerfly-brand">Dancerfly</span> <span class="inline-block">even better!</span>
			</p>
			<p class='margin-leader-dbl'>
				<a href='mailto:hello@littleweaverweb.com' class='btn btn-xl btn-primary'>Email us to get started!</a>
			</p>
		</div>
	</div>

	<div class='marketing marketing-brand' name='payment'>
		<div class='text-jumbo text-center'>
			<p>
				<span class="dancerfly-brand">Dancerfly</span> is free for free events!
			</p>
			<p>
				For everyone else, we add a fee of <strong>1.5%</strong> to credit and Dwolla transactions.
			</p>
		</div>
		<div class='row'>
			<div class='col-sm-4 margin-leader-dbl'>
				<p class='text-jumbo'>
					<i class='fa fa-fw fa-credit-card'></i>
					Stripe
				</p>
				<p>
					Credit card processing is handled through <a class='marketing-brand-link' href='http://stripe.com' target="_blank">Stripe</a>.
					Sensitive data is stored on their secure servers, and attendees don't have to
					leave our site or create any accounts!
				</p>
				<p>
					<a class='marketing-brand-link' href="http://stripe.com/us/pricing/" target="_blank">2.9% + 30¢ on all transactions</a>
				</p>
			</div>
			<div class='col-sm-4 margin-leader-dbl'>
				<p class='text-jumbo'>
					<i class='fa fa-fw fa-money'></i>
					Dwolla
				</p>
				<p>
					<a class='marketing-brand-link' href='http://dwolla.com' target="_blank">Dwolla</a> is an alternative payment service, available within the US.
					Attendees can pay with their Dwolla balance or directly from their bank account.
					On the plus side, the fees for Dwolla are dirt cheap – but they <em>do</em> require that attendees
					create a Dwolla account first.
				</p>
				<p>
					<a class='marketing-brand-link' href="http://dwolla.com/fees/" target="_blank">25¢ for transactions <span class="inline-block">over $10</span></a>
				</p>
			</div>
			<div class='col-sm-4 margin-leader-dbl'>
				<p class='text-jumbo'>
					<i class='fa fa-fw fa-bank'></i>
					Check
				</p>
				<p>
					Since some attendees may not want or be able to process payments online,
					we also support payment by check, free of charge.
					Organizers can mark payments received in the management interface as they come in.
				</p>
				<p>
					Free of charge!
				</p>
			</div>
		</div>
		<div class='text-center margin-leader-dbl container'>
			<p>
				You can use any or all of the above payment methods for your events.
				We'll never invoice you for payment; our portion 
				<span class="inline-block">(if any)</span> is automatically taken out
				during payment processing and reported in your finances tab!
				<em><a href='{% url "brambling_pricing" %}' class='marketing-brand-link inline-block'>Learn more about pricing <i class="fa fa-angle-double-right"></i></a></em>
			</p>
		</div>
		<p class='text-center margin-leader-dbl'>
			<a href='mailto:hello@littleweaverweb.com' class='btn btn-xl btn-default marketing-brand-btn'>Email us to get started!</a>
		</p>
	</div>

	<div class='marketing clearfix'>
		<div class='container'>
			<div class='row'>
				<div class='col-sm-8 col-sm-offset-2 col-md-7 col-md-offset-2'>
					<a href="http://littleweaverweb.com">
						<img class='pull-right hidden-xs' src='{% static "brambling/images/little-weaver.png" %}' />
					</a>
					<p class='margin-leader-dbl'>
						<span class="dancerfly-brand">Dancerfly</span> is a project of <a href='http://littleweaverweb.com' target='_blank'>Little Weaver Web Collective</a>,
						a web development &amp; design agency. We're all dancers, so we get you.
						If you run into any questions while setting up or running your event, we're here to help!
						<i class='fa fa-heart'></i>
					</p>
					<p>
						<i class='fa fa-fw fa-envelope'></i>
						<a href='mailto:hello@littleweaverweb.com'>hello@littleweaverweb.com</a>
						<br />

						<i class='fa fa-fw fa-facebook'></i>
						<a href='https://www.facebook.com/littleweaverwebcollective'>littleweaverwebcollective</a>
						<br />

						<i class='fa fa-fw fa-twitter'></i>
						<a href='https://twitter.com/littleweaverweb'>littleweaverweb</a>
					</p>
					<a href="http://littleweaverweb.com">
						<img class='pull-right visible-xs margin-leader-dbl' src='{% static "brambling/little-weaver.png" %}' />
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
