{% extends 'brambling/layouts/small_center.html' %}

{% load floppyforms static %}

{% block title %}Add a card – {{ block.super }}{% endblock %}

{% block javascripts %}
	{{ block.super }}
	{% include "brambling/_stripe_js.html" %}
{% endblock %}

{% block main %}
	<h2>Add a card</h2>

	{% for error in errors %}
		<div class='alert alert-danger'>
			{{ error }}
		</div>
	{% endfor %}

	{% include 'brambling/_stripe_form.html' %}

	<p>
		<button class="btn btn-primary" type="submit" id='card-submit'>Add card</button>
		<a href="{% url 'brambling_user_profile' %}" class="btn btn-link">Cancel</a>
	</p>

	{% include "brambling/_stripe_note.html" %}

	<form id='card-form' action="{{ request.path }}?{{ request.GET.urlencode }}" method="post">
		{% csrf_token %}
	</form>
{% endblock %}
