{% extends 'brambling/layouts/12_xs.html' %}

{% load floppyforms static %}

{% block title %}Add a card – {{ block.super }}{% endblock %}

{% block javascripts %}
	{{ block.super }}
	{% if api_type == TEST or request.is_secure %}
		<script>
			var publishableKey = '{% if api_type == TEST %}{{ STRIPE_TEST_PUBLISHABLE_KEY }}{% else %}{{ STRIPE_PUBLISHABLE_KEY }}{% endif %}';
			var stripe = Stripe(publishableKey);
			var elements = stripe.elements();
			var card;
			$(function() {
				card = elements.create('card');
				card.mount('#card-element');
				card.addEventListener('change', function(event) {
					$('.has-error').removeClass('has-error');
					$('.help-block').remove();
					if (event.error) {
						var group = $('#card-element').parent();
						group.addClass('has-error');
						group.append('<p class="help-block">' + event.error.message + '</p>');
					}
				});
			});
		</script>
		{% include "brambling/_stripe_js.html" %}
	{% endif %}

{% endblock %}

{% block main %}
	<h2>Add a card</h2>

	{% for error in errors %}
		<div class='alert alert-danger'>
			{{ error }}
		</div>
	{% endfor %}

	{% include 'brambling/_stripe_form.html' with api_type=api_type %}

	<p>
		<button class="btn btn-primary" type="submit" id='card-submit'{% if not api_type == 'test' and not request.is_secure %} disabled{% endif %}>Add card</button>
		<a href="{% url 'brambling_user_billing' %}" class="btn btn-link">Cancel</a>
	</p>

	<form id='card-form' action="{{ request.path }}?{{ request.GET.urlencode }}" method="post">
		{% csrf_token %}
	</form>
{% endblock %}
