{% extends "brambling/layouts/9_3.html" %}

{% block title %}Your events – {{ block.super }}{% endblock %}

{% block main %}
	<div class="page-header">
		<h1>Upcoming Events</h1>
	</div>
	{% for event in upcoming_events|slice:"5" %}
		<div class="row margin-leader-dbl event-listing">
			<div class="col-sm-3 text-right">
				{# <h5>{{ event.start_date|date }}<br> <em>to</em> {{ event.end_date|date }}</h5> #}
				<h4>{{ event.start_date|date }}</h4>
				<h5 class="text-muted">{{ event.city }}, {{ event.state_or_province }}</h5>
				<h5 class="text-muted">{% for style in event.dance_styles.all %}<span class="list-comma">{{ style }}</span>{% endfor %}</h5>
			</div>
			<div class="col-sm-9">
				<h3>{{ event.name }}</h3>
				<h4 class="text-muted">{{ event.tagline }}</h4>
				<a href="{{ event.get_absolute_url }}" class="btn btn-primary">Register</a>
			</div>
		</div>
	{% endfor %}
{% endblock %}

{% block side %}
	{% if admin_events %}
		<div class="panel panel-default">
			<header class="panel-heading">
				<h4 class="panel-title">Events You Manage</h4>
			</header>
			<div class="list-group">
				{% for event in admin_events|slice:"5" %}
					<a class="list-group-item" href="{{ event.get_absolute_url }}">
						<div class="media">
							<div class="pull-left">
								<i class="fa fa-calendar-o fa-fw text-muted"></i>
							</div>
							<div class="media-body">
								{{ event.name }}<br />
								<small class="text-muted">{{ event.start_date|date }} — {{ event.end_date|date }}</small>
							</div>
						</div>{# /.media #}
					</a>
				{% endfor %}
				<a class="list-group-item" href="{% url 'brambling_event_create' %}">
					<i class="fa fa-plus fa-fw text-muted"></i> Create a New Event
				</a>
			</div>
		</div>
	{% else %}
		<p><a href="{% url 'brambling_event_create' %}" class="btn btn-block btn-primary btn-large"><i class="fa fa-plus"></i> Create a New Event</a></p>
	{% endif %}
	{% if registered_events %}
		<div class="panel panel-default">
			<header class="panel-heading">
				<h4 class="panel-title">Events You Registered For</h4>
			</header>
			<div class="list-group">
					{% for event in registered_events|slice:"5" %}
				<a class="list-group-item" href="{{ event.get_absolute_url }}">
					<div class="media">
						<div class="pull-left">
							<i class="fa fa-calendar-o fa-fw text-muted"></i>
						</div>
						<div class="media-body">
							{{ event.name }}<br />
							<small class="text-muted">{{ event.start_date|date }} — {{ event.end_date|date }}</small>
						</div>
					</div>{# /.media #}
				</a>
			{% endfor %}
			</div>
		</div>
	{% endif %}
{% endblock %}
