{% extends "brambling/layouts/9_3.html" %}

{% load daguerre %}

{% block title %}Your events – {{ block.super }}{% endblock %}

{% block main %}
	<div class="page-header">
		<h1>Upcoming Events</h1>
	</div>
	{% for event in upcoming_events|slice:"5" %}
		<div class="media margin-leader-dbl event-listing">
			<a href="{{ event.get_absolute_url }}" class=" a-secret pull-left">
				<div class="media-object relative margin-leader-tiny">
					<div class="{% if event.logo_image or event.banner_image %}datecard-inset{% else %}datecard-no-img{% endif %}">
						<h5 class="datecard-month">{{ event.start_date|date:"M" }}</h5>
						<p class="datecard-day">{{ event.start_date|date:"j" }}</p>
					</div>
					{% if event.logo_image %}
						{% adjust event.logo_image 'fit' width=100 height=100 as image %}
						{% if event.logo_image %}<img src="{{ image }}" width="{{ image.width }}" height="{{ image.height }}" class="datecard-img">{% endif %}
					{% elif event.banner_image %}
						{% adjust event.banner_image 'fill' width=100 height=100 as image %}
						{% if event.banner_image %}<img src="{{ image }}" width="{{ image.width }}" height="{{ image.height }}" class="datecard-img">{% endif %}
					{% endif %}
				</div>
			</a>
			<div class="media-body">
				<h3><a href="{{ event.get_absolute_url }}" class="a-inherit">{{ event.name }}</a></h3>
				<h4 class="text-muted">{{ event.tagline }}</h4>
				<p>
					{% include "brambling/event/_when_where.html" %}
				</p>
				<h5 class="text-muted event-tags">{% for style in event.dance_styles.all %}<span class="list-comma">{{ style }}</span>{% endfor %}</h5>
				<a href="{{ event.get_absolute_url }}" class="btn btn-primary">Register</a>
				{% if event.website_url %}
					<a href="{{ event.website_url }}" class="btn btn-primary">Event</a>
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% endblock %}

{% block side %}
	{% if admin_events %}
		<div class="panel panel-default">
			<header class="panel-heading">
				<h4 class="panel-title">Events You Manage</h4>
			</header>
			<div class="list-group">
				{% for event in admin_events|slice:"5" %}
					<a class="list-group-item" href="{{ event.get_absolute_url }}">
						{{ event.name }}<br />
						<small class="text-muted">{{ event.start_date|date }}{% if event.start_date != event.end_date %} — {{ event.end_date|date }}{% endif %}</small>
					</a>
				{% endfor %}
				<a class="list-group-item" href="{% url 'brambling_event_create' %}">
					<i class="fa fa-plus fa-fw text-muted"></i> Create a New Event
				</a>
			</div>
		</div>
	{% else %}
		<p><a href="{% url 'brambling_event_create' %}" class="btn btn-block btn-primary btn-large"><i class="fa fa-plus"></i> Create a New Event</a></p>
	{% endif %}
	{% if registered_events %}
		<div class="panel panel-default">
			<header class="panel-heading">
				<h4 class="panel-title">Events You Registered For</h4>
			</header>
			<div class="list-group">
					{% for event in registered_events|slice:"5" %}
				<a class="list-group-item" href="{{ event.get_absolute_url }}">
					{{ event.name }}<br />
					<small class="text-muted">{{ event.start_date|date }}{% if event.start_date != event.end_date %} — {{ event.end_date|date }}{% endif %}</small>
				</a>
			{% endfor %}
			</div>
		</div>
	{% endif %}
{% endblock %}
