{% extends "brambling/layouts/75_25.html" %}

{% block messages %}
	{{ block.super }}
	{% if not user.confirmed_email %}
		<div class='alert alert-warning'>You must confirm your email address to register for events. <a class='alert-link' href="{% url 'brambling_email_confirm_send' %}">Resend confirmation email</a></div>
	{% endif %}
{% endblock %}

{% block main %}
	<h1>Upcoming Events <small>You Might Be Interested In</small></h1>
	{% if user.all_dance_styles or user.all_event_styles %}
		<p>Update your <a href="{% url 'brambling_user_profile' %}">profile</a> to customize this list</p>
	{% endif %}
	<ul>
		{% for event in upcoming_events|slice:"5" %}
			<li><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}

{% block side %}
	{% if admin_events %}
		<div class="panel panel-default">
			<header class="panel-heading">
				<h4 class="panel-title">Events You Manage</h4>
			</header>
			<div class="panel-body">
				<ul>
					{% for event in admin_events|slice:"5" %}
						<li><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}
	{% if registered_events %}
		<div class="panel panel-default">
			<header class="panel-heading">
				<h4 class="panel-title">Events You Registered For</h4>
			</header>
			<div class="panel-body">
				<ul>
					{% for event in registered_events|slice:"5" %}
						<li><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}
{% endblock %}
