{% extends "brambling/layouts/12_xs.html" %}

{% load humanize %}

{% block title %}{% if valid_token %}Email confirmed{% else %}Invalid token{% endif %} – {{ block.super }}{% endblock %}

{% block meta %}
    {{ block.super }}

	{% if valid_token and not claimable_orders %}
	    <meta http-equiv="refresh" content="3; url={% url 'brambling_dashboard' %}">
   {% endif %}
{% endblock %}

{% block main %}
	{% if valid_token and not claimable_orders %}
	    <div class="alert alert-success">
	        Your email address has been confirmed! You will be redirected to <a href="{% url 'brambling_dashboard' %}">your dashboard</a> in a few seconds.
	    </div>
	{% elif valid_token and claimable_orders %}
		<div class="alert alert-success">
	        Your email address has been confirmed! To use your account,<a href="{% url 'brambling_dashboard' %}">continue to your dashboard</a>.
	    </div>
		<div class="alert alert-info">
			<p>We found {{ claimable_orders|length|apnumber }} order{{ claimable_orders|pluralize }} associated with your email address.
				<p>
					<a href="{{ brambling_claim_orders_url }}" class="btn btn-sm btn-info">Claim order{{ claimable_orders|pluralize }}</a>
					<a href="javascript://" class="btn btn-sm btn-default popped text-muted" data-toggle="popover" data-container=".container" data-content="
																																							 We found some orders that you made while not logged in.
																																							 Claim orders to make changes or keep them in your account records.
																																							 ">What&#8217;s this?</a>
				</p>
		</div>
	{% else %}
		<p>
			Sorry, but the email confirmation link you followed is no longer valid.
			It probably expired or has already been used.
		</p>
		{% if request.user.is_authenticated %}
			<p>If you think this is in error, please <a href='{% url "brambling_email_confirm_send" %}'>request a new confirmation link</a>. Thanks!</p>
		{% else %}
			<p>If you think this is in error, please log in to request a new confirmation link.</p>
		{% endif %}
	{% endif %}
{% endblock %}
