{% extends "brambling/layouts/12_xs.html" %}

{% block title %}FAQ – {{ block.super }}{% endblock %}

{% block main %}
	<h2>FAQ</h2>

	<p><em class='text-muted'>Don't see your question? Use the feedback
		form in the lower right hand corner of the window to ask us!
		Or just email us at <a href="mailto:hello@littleweaverweb.com">hello@littleweaverweb.com</a>.</em></p>

	<h3>Why don't you use PayPal?</h3>

	<p>
		We use <a href='http://stripe.com'>Stripe</a> for processing credit card payments
		rather than PayPal. This is because fee is the same (<a href="http://stripe.com/us/pricing">2.9% + 30¢</a>)
		and Stripe has a couple distinct advantages.
	</p>

	<p>
		First, Stripe allows for secure credit card payment without an ugly iframe
		or requiring the user to visit a third-party site, which means the user's
		experience is more consistent.
	</p>

	<p>
		Second, Stripe has a well-documented, well-supported, clean API – something
		PayPal sorely lacks. This means that we can spend less time debugging
		payment and more time developing amazing features!
	</p>
{% endblock %}
