{% extends "brambling/layouts/6_6.html" %}

{% load staticfiles %}

{% block title %}International support – {{ block.super }}{% endblock %}

{% block main %}
	<h1>International Support</h1>
	<div class='text-jumbo'>
		<p><span class='dancerfly-brand'>Dancerfly</span> works anywhere! ...&nbsp;mostly.</p>
	</div>

	<h3>Language</h3>

	<p><span class='dancerfly-brand'>Dancerfly</span> is only available in English right now. We might expand into other languages someday; if you want to be kept informed, or just want to let us know you'd totally use us if we supported your language, email us at <a href='mailto:hello@littleweaverweb.com'>hello@littleweaverweb.com</a>.</p>

	<h3>Payment processors</h3>

	<p><a href="http://stripe.com/">Stripe</a>, our credit card processor, is currently available <a href="http://stripe.com/global">in 19 countries</a>; <a href="http://dwolla.com/">Dwolla</a> is only currently available <a href="http://dwolla.com/global">in the United States</a>.</p>

	<p>If neither of those options works for you, you can still accept payments by check. If that doesn't work for you either, and this is the only thing keeping you from using our platform, please email us at <a href='mailto:hello@littleweaverweb.com'>hello@littleweaverweb.com</a>, and we'll see if anything can be done.</p>
{% endblock %}

{% block side %}
	<img src="{% static 'brambling/images/SwingCoupleWings.jpeg' %}" class="img-responsive margin-leader">
{% endblock side %}
