{% extends 'brambling/user/__base.html' %}

{% load floppyforms %}

{% block title %}Home settings – {{ block.super }}{% endblock %}

{% block main %}
	<h2 class="sr-only">Edit settings</h2>

	<p>Please include the preferences of all of the residents of your home when filling out this form.</p>

	{% include "brambling/forms/_top_error_list.html" %}

	<form action="{{ request.path }}" method="post">
		{% csrf_token %}
		{% form form using "brambling/forms/home.html" %}
		<button class="btn btn-primary" type="submit">Save changes</button>
		<a class="btn btn-link" href="{{ event.get_absolute_url }}">Cancel</a>
	</form>
{% endblock %}
