{% extends 'brambling/layouts/12_xs.html' %}

{% load floppyforms staticfiles %}

{% block title %}Accept invitation – {{ block.super }}{% endblock %}
{% block main %}
	{% comment %}
	If the person is already logged in, the invitation is currently automatically accepted.
	{% endcomment %}
	{% if invite %}
		<h2>
			You've been invited
			{% if invite.kind == invite.HOME %}
				to edit a home!
			{% else %}
				to edit an event!
			{% endif %}
		</h2>
		<p>
			This invitation was sent by <strong>{{ invite.user.get_full_name }}</strong> to <strong>{{ invite.email }}</strong>.
			{% if invited_person_exists %}
				Log in to accept the invitation!
			{% else %}
				Create an account to accept the invitation!
			{% endif %}
		</p>
		{% if request.user.is_authenticated %}
			<div class='alert alert-warning'>
				<p>You are currently logged in as <strong>{{ request.user.email }}</strong>. You can only accept this invitation as <strong>{{ invite.email }}</strong>. If you believe this invitation was sent to the wrong email address, please get in touch with <strong>{{ invite.user.get_full_name }}</strong> directly to request a new invitation.</p>
			</div>
		{% endif %}
		{% if invited_person_exists %}
			<form id="login" action="{% url 'login' %}?next={{ request.path }}" method="post">
				{% csrf_token %}
				{% form login_form %}
				<button class="btn btn-primary-light" type="submit">{% if request.user.is_authenticated %}Yes, log in as {{ invite.email }}{% else %}Log in{% endif %}</button>
				<a class='btn btn-link' href="{% url 'password_reset' %}">Forgot your password?</a>
			</form>
		{% else %}
			<form id="signup" action="{% url "brambling_signup" %}?next={{ request.path }}" method="post">
				{% csrf_token %}
				{% form signup_form using "brambling/forms/signup.html" %}
				<button class="btn btn-primary-light">{% if request.user.is_authenticated %}Yes, create a new account as {{ invite.email }}{% else %}Sign up{% endif %}</button>
			</form>
		{% endif %}
	{% else %}
		<p>Sorry, but the invitation link you followed is no longer valid. It may have expired, been revoked, or been claimed already. If you know who sent the invitation, please ask them to resend it. Good luck!</p>
	{% endif %}
{% endblock %}


{% block javascripts %}
	{{ block.super }}
	<script type="text/javascript" src="{% static "zenaida/js/bootstrap/tab.js" %}"></script>
{% endblock javascripts %}
