{% extends 'brambling/layouts/12_xs.html' %}

{% load floppyforms staticfiles %}

{% block title %}Accept invitation – {{ block.super }}{% endblock %}
{% block main %}
	{% if invite %}
		<h2>Accept invitation from {{ invite.user.get_full_name }}</h2>
		<ul class="nav nav-pills" role="tablist">
			<li class="active"><a href="#login" role="tab" data-toggle="tab">Log In</a></li>
			<li><a href="#signup" role="tab" data-toggle="tab">Sign Up</a></li>
		</ul>
		<div class="tab-content">
			<form id="login" class="tab-pane fade in active" action="{% url 'login' %}?next={{ request.path }}" method="post">
				{% csrf_token %}
				{% form login_form %}
				<button class="btn btn-primary-light" type="submit">Log in</button>
				<a class='btn btn-link' href="{% url 'password_reset' %}">Forgot your password?</a>
			</form>
			<form id="signup" class="tab-pane fade" action="{% url "brambling_signup" %}?next={{ request.path }}" method="post">
				{% csrf_token %}
				{% form signup_form using "brambling/forms/signup.html" %}
				<button class="btn btn-primary-light">Sign Up</button>
			</form>
		</div>
	{% else %}
		<p>Sorry, but the invitation link you followed is no longer valid. It may have expired, been revoked, or been claimed already. If you know who sent the invitation, please ask them to resend it. Good luck!</p>
	{% endif %}
{% endblock %}


{% block javascripts %}
	{{ block.super }}
	<script type="text/javascript" src="{% static "zenaida/js/bootstrap/tab.js" %}"></script>
{% endblock javascripts %}
