{% extends 'brambling/__base.html' %}

{% load floppyforms static %}

{% block javascripts %}
	{{ block.super }}
	<script type="text/javascript" src="{% static "brambling/lib/chosen/chosen.jquery.min.js" %}"></script>
	<script type="text/javascript">
		$('.chosen-select').chosen({width: "100%"})
	</script>
{% endblock %}

{% block content %}
	<h2>Edit settings</h2>

	<form action="{{ request.path }}" method="post" class="form-horizontal">
		{% csrf_token %}
		{% form form using "brambling/forms/person.html" %}
		<button class="btn btn-primary" type="submit">Save changes</button>
		<a href="{{ event.get_absolute_url }}" class="btn btn-text">Cancel</a>
	</form>
{% endblock %}
