{% extends 'brambling/layouts/75_25.html' %}

{% load floppyforms static %}

{% block title %}Profile settings – {{ block.super }}{% endblock %}

{% block javascripts %}
	{{ block.super }}
	<script>
		$('.remove-card').on('click', function(e) {
			var $this = $(this);
			e.preventDefault();
			$.post($this.attr('target'), function() {
				$this.parent().parent().fadeOut();
			});
		});
	</script>
{% endblock %}

{% block main %}
	<h2>Edit settings</h2>

	<form action="{{ request.path }}" method="post">
		{% csrf_token %}
		{% form form using "brambling/forms/person.html" %}
		<button class="btn btn-primary" type="submit">Save changes</button>
		<a href="{{ event.get_absolute_url }}" class="btn btn-link">Cancel</a>
	</form>
{% endblock %}

{% block side %}
	<h3>Cards</h3>

	{% if cards %}
		<p><a class='btn btn-link' href='{% url "brambling_user_card_add" %}'><span class='fa fa-plus'></span> Add another card</a></p>
		{% for card in cards %}
			<div class='clearfix'>
				<h5>{{ card.brand }} <span class='pull-right'>&bull;&bull;&bull;&bull;{{ card.last4 }}</span></h5>
				<p>
					<span class='text-muted'>Expires {{ card.exp_month }}/{{ card.exp_year }}</span>
					<a target='{% url "brambling_user_card_delete" pk=card.pk %}' href="javascript://" class='pull-right text-danger remove-card'><span class='fa fa-times'></span></a>
				</p>
			</div>
		{% endfor %}
	{% else %}
		<p>No credit cards on record.</p>
		<p><a href='{% url "brambling_user_card_add" %}'>Add a card!</a></p>
	{% endif %}
{% endblock %}
