{% extends "brambling/layouts/6_6.html" %}

{% load staticfiles %}

{% block title %}Pricing – {{ block.super }}{% endblock %}

{% block before %}
	<h1 class='margin-trailer'>Pricing</h1>
{% endblock before %}

{% block main %}
	<div class='text-jumbo'>
		<p>
			<span class="dancerfly-brand">Dancerfly</span> is free for free events!
		</p>
		<p>
			For everyone else, we add a fee of <strong>1.5%</strong> to credit and Dwolla transactions.
		</p>
	</div>

	<p class='text-muted'>This fee is going up to 2.5% in 2016 – but sign up now and you'll be locked in at 1.5% for two years!</p>

	<p><a href='mailto:hello@littleweaverweb.com' class='btn btn-xl btn-primary'>Email us to get started!</a></p>

	<h3>Payment processors</h3>

	<p>
		We currently support three payment methods: <a href="http://stripe.com/">Stripe</a>, <a href="http://dwolla.com/">Dwolla</a>, and mailed checks.
		Any combination of these payment methods can be enabled for your events.
	</p>

	<p>
		We've chosen our payment processors carefully to make running an event as seamless as possible.
		Sales from your event are transferred directly into your Stripe or Dwolla accounts,
		and our percentage comes directly to us! No hassle, no invoices.
	</p>

	<table class='table'>
		<tbody>
			<tr>
				<td style="min-width: 125px">
					<p><strong>Stripe</strong></p>
					<p><i class='fa fa-fw fa-globe text-muted'></i> <a href="https://stripe.com">stripe.com</a></p>
					<p><i class='fa fa-fw fa-map-marker text-muted'></i> <a href='https://stripe.com/global'>19 countries</a></p>
				</td>
				<td>
					<p><a href="http://stripe.com/us/pricing/">2.9% + 30¢ on all transactions</a></p>
					<p>Stripe allows users to pay with credit cards – like PayPal, and at the <a href='https://www.paypal.com/webapps/mpp/paypal-fees'>same fee</a>.</p>
					<p>Sensitive data is stored on Stripe's <a href='https://stripe.com/help/security'>secure servers</a>,
					   and attendees don't have to leave our site or create any accounts!</p>
				</td>
			</tr>
			<tr>
				<td>
					<p><strong>Dwolla</strong></p>
					<p><i class='fa fa-fw fa-globe text-muted'></i> <a href="https://dwolla.com">dwolla.com</a></p>
					<p><i class='fa fa-fw fa-map-marker text-muted'></i> <a href='https://dwolla.com/global/'>US-only</a></p>
				</td>
				<td>
					<p><a href="http://dwolla.com/fees/">25¢ for transactions over $10</a></p>
					<p>
						Attendees can pay with their Dwolla balance or directly from their bank account.
						On the plus side, the fees for Dwolla are dirt cheap – but they <em>do</em> require that attendees
						create a Dwolla account first.
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p><strong>Checks</strong></p>
				</td>
				<td>
					<p>No fee! Not even a Dancerfly fee!</p>
					<p>Checks are mailed directly to you for processing.</p>
				</td>
			</tr>
		</tbody>
	</table>

	<div class='alert alert-danger'>
		You <strong>must</strong> create an account with Stripe or Dwolla if you choose to use them.
		<strong>Signup is easy,</strong> but it will take <strong>several days</strong> for your
		account to be verified so you can accept payments, so don't put it off!
	</div>

{% endblock main %}

{% block side %}
	<img src="{% static 'brambling/images/BluesWings.jpeg' %}" class="img-responsive">
{% endblock side %}
