{% extends "brambling/layouts/12.html" %}

{% load floppyforms daguerre staticfiles %}

{% block body-classes %}{{ block.super }} no-navbar{% endblock %}

{% block top %}
{% endblock top %}

{% block main %}
	<div class="masthead masthead-brand">
		<div class="row">
			<div class="col-sm-6">
				<p class="text-jumbo"><strong class="text-accent">Dancerfly</strong> is an easy-to-use dance event registration and ticketing system.</p>
				<p class="text-jumbo">Start <strong class="text-accent">organizing</strong> and <strong class="text-accent">attending</strong> dance events today!</p>
				<p><a class='btn btn-link btn-lg masthead-link pull-right' href='{% url "brambling_about" %}'>More information <i class='fa fa-chevron-right'></i></a></p>
			</div>
			<div class="col-sm-6">
				<ul class="nav nav-pills masthead-pills text-jumbo" role="tablist">
					<li class="active"><a href="#signup" id="toggleToSignup" class="masthead-link" role="tab" data-toggle="tab">Sign Up</a></li>
					<li>or</li>
					<li><a href="#login" id="toggleToLogin" class="masthead-link" role="tab" data-toggle="tab">Log In</a></li>
				</ul>
				<div class="tab-content">
					<form id="signup" class="masthead-form tab-pane fade in active" action="{% url "brambling_signup" %}" method="post">
						{% csrf_token %}
						{% form signup_form using "brambling/forms/signup.html" with masthead="True" only %}
						<button class="btn btn-primary-light">Sign Up</button>
					</form>
					<form id="login" class="masthead-form tab-pane fade" action="{% url 'login' %}" method="post">
						{% csrf_token %}
						{% form login_form %}
						<button class="btn btn-primary-light" type="submit">Log in</button>
						<a class='btn btn-link masthead-link' href="{% url 'password_reset' %}">Forgot your password?</a>
					</form>
				</div>
			</div>
		</div>{# /.row #}
	</div>
	{% if upcoming_events %}
			<h2 class="margin-leader-dbl">Upcoming Events on Dancerfly</h2>
			{% for event in upcoming_events|slice:"3" %}
				<div class="media margin-leader-dbl event-listing">
					<a href="{{ event.get_absolute_url }}" class=" a-secret pull-left">
						<div class="media-object relative margin-leader-tiny">
							<div class="{% if event.banner_image %}datecard-inset{% else %}datecard-no-img{% endif %}">
								<h5 class="datecard-month">{{ event.start_date|date:"M" }}</h5>
								<p class="datecard-day">{{ event.start_date|date:"j" }}</p>
							</div>
							{% if event.banner_image %}
								{% adjust event.banner_image 'fill' width=100 height=100 as image %}
								<img src="{{ image }}" width="{{ image.width }}" height="{{ image.height }}" class="datecard-img">
							{% endif %}
						</div>
					</a>
					<div class="media-body">
						<h3><a href="{{ event.get_absolute_url }}" class="a-inherit">{{ event.name }}</a></h3>
						<h4 class="text-muted">{{ event.tagline }}</h4>
						<p>
							{% include "brambling/event/_when.html" %}
							{% include "brambling/event/_where.html" %}
						</p>
						<h5 class="text-muted event-tags">{% for style in event.dance_styles.all %}<span class="list-comma">{{ style }}</span>{% endfor %}</h5>
					</div>
				</div>
			{% endfor %}
	{% endif %}
{% endblock %}


{% block javascripts %}
	{{ block.super }}
	<script type="text/javascript" src="{% static "zenaida/js/bootstrap/tab.js" %}"></script>
	<script>
		$(function() {
			$('#toggleToLogin').click(function() {
				$('#id_username').val($('#id_email').val());
				$('#id_password').val($('#id_password1').val());
			});
			$('#toggleToSignup').click(function() {
				$('#id_email').val($('#id_username').val());
				$('#id_password1').val($('#id_password').val());
			});
		});
	</script>

{% endblock javascripts %}
