{% extends "brambling/__base.html" %}

{% block content %}
	<div class='row'>
		<div class='col-md-8 col-md-offset-2'>
			<div class='jumbotron'>
				<h1>Welcome to Brambling!</h1>

				<div class='row'>
					<div class='col-sm-4'>
						<p><a class='btn btn-block btn-primary btn-lg' href='{% url "login" %}'><i class='fa fa-sign-in'></i> Log in</a></p>
					</div>
					<div class='col-sm-4'>
						<p><a class='btn btn-block btn-success btn-lg' href='{% url "brambling_signup" %}'><i class='fa fa-rocket'></i> Sign Up</a></p>
					</div>
					<div class='col-sm-4'>
						<p><a class='btn btn-block btn-default btn-lg' href='https://github.com/littleweaver/django-brambling'><i class='fa fa-github-alt'></i> Get the code</a></p>
					</div>
			</div>

				<p>Brambling is an <a href="https://github.com/littleweaver/django-brambling">open source</a> dance registration platform built <strong>by dancers, for dancers</strong>. We're still in the early stages of development, so we'd love your feedback! (There will be a feedback button in the lower right of your screen once you've logged in.)</p>

				<p><strong>Why open source?</strong> No single dance scene has enough resources (in terms of skilled volunteers) to truly focus on creating an application that meets all of their needs. As dancers, we've seen a variety of homegrown systems over the years, none of them quite polished enough for general use.</p>

				<p>By providing a solid, easy-to-use alternative, we hope to save some time for local organizers and volunteers – and if we're lucky, to get a hand in return to make this the most awesomest social dance event registration system ever!</p>

				<p>Thanks for your help!</p>
				<h2><a href="http://littleweaverweb.com/">Little Weaver Web Collective</a></h2>
		</div>
	</div>
{% endblock %}