{% load floppyforms %}
{% formconfig row using "floppyforms/rows/bootstrap.html" %}

<div class='row'>
	<div class='col-md-6'>
		{% formrow form.nights %}
		{% formrow form.housing_prefer %}
	</div>
</div>

<div class='row'>
	<div class='col-md-6'>
		{% formrow form.ef_cause %}
		{% if form.ef_cause_confirm %}{% formrow form.ef_cause_confirm %}{% endif %}
	</div>
	<div class='col-md-6'>
		{% formrow form.ef_avoid %}
		{% if form.ef_avoid_confirm %}{% formrow form.ef_avoid_confirm %}{% endif %}
	</div>
</div>

<div class='row'>
	<div class='col-md-6'>{% formrow form.person_prefer %}</div>
	<div class='col-md-6'>{% formrow form.person_avoid %}</div>
</div>

{% formrow form.other_needs %}

{% formrow form.save_as_defaults %}
