{% load floppyforms tz %}
{% formconfig row using "brambling/forms/rows/bootstrap.html" %}

<div class="row margin-trailer">
	<div class="col-md-6">{% formrow form.name %}</div>
	<div class="col-md-6">{% formrow form.code %}</div>
	<div class="col-md-6">{% formrow form.item_options %}</div>
	<div class="col-md-6">
		{% with field=form.amount %}
			<div class='form-group'>
				<label class="control-label" for="{{ field|id }}">{{ field.label }} {% if field.field.required %} <span class="required">*</span>{% endif %}</label>
				<div class="input-group{% if field.errors %} has-error{% endif %}">
					{% formfield field %}
					<div class='input-group-addon'>
						<label class="radio-inline">
							  <input type="radio" id="id_discount_type_flat" name="discount_type" value="{{ form.instance.FLAT }}"{% if form.instance.discount_type == form.instance.FLAT %} checked{% endif %}> {{ event.currency }}
						</label>
						<label class="radio-inline">
							  <input type="radio" id="id_discount_type_percent" name="discount_type" value="{{ form.instance.PERCENT }}"{% if form.instance.discount_type == form.instance.PERCENT %} checked{% endif %}> %
						</label>
					</div>
				</div>
			</div>
		{% endwith %}
	</div>
</div>

<div class="panel-group">
	<div class="panel panel-default">
		<header class="panel-heading">
			<h4 class="panel-title">Availability</h4>
		</header>
		<div class="panel-body">
			{% timezone event.timezone %}
			{% get_current_timezone as TIME_ZONE_CURRENT %}
			<div class="row">
				<div class="col-md-6">
					{% formrow form.available_start with prepend="<i class='fa fa-fw fa-calendar'></i>" label="Start" %}
					<div class='help-block'>Timezone: {{ TIME_ZONE_CURRENT }}</div>
				</div>
				<div class="col-md-6">{% formrow form.available_end with prepend="<i class='fa fa-fw fa-calendar'></i>" label="End" %}</div>
			</div>
			{% endtimezone %}
		</div>
	</div>
</div>
