{% load floppyforms %}
{% formconfig row using "floppyforms/rows/bootstrap.html" %}

<div class="panel panel-default">
	<header class="panel-heading">
		<h4 class="panel-title">Information</h4>
	</header>
	<div class="panel-body">

		{% formrow form.name %}
		{% formrow form.slug %}
		{% formrow form.tagline %}

		<div class="row">
			<div class="col-sm-6">
				{% formrow form.dance_style %}
			</div>
			<div class="col-sm-6">
				{% formrow form.event_type %}
			</div>
		</div>{# /.row #}

	</div>{# /.panel-body #}
</div>{# /.panel #}

<div class="panel panel-default">
	<header class="panel-heading">
		<h4 class="panel-title">Details</h4>
	</header>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-5">
				{% formrow form.start_date %}
			</div>
			<div class="col-sm-5">
				{% formrow form.end_date %}
			</div>
			<div class="col-sm-2">
				{% formrow form.timezone %}
			</div>
		</div>{# /.row #}
		<div class="row">
			<div class="col-sm-6">
				{% formrow form.city %}
			</div>
			<div class="col-sm-2">
				{% formrow form.state_or_province %}
			</div>
			<div class="col-sm-4">
				{% formrow form.country %}
			</div>
		</div>{# /.row #}
		{% formrow form.currency %}
		{% include "brambling/_stripe_note.html" %}
	</div>{# /.panel-body #}
</div>{# /.panel #}

<div class="panel panel-default">
	<header class="panel-heading">
		<h4 class="panel-title">Settings</h4>
	</header>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-6">
				{% formrow form.editors %}
				{% formrow form.privacy %}
			</div>
			<div class="col-sm-6">
				{% formrow form.collect_housing_data %}
				{% formrow form.cart_timeout %}
			</div>
		</div>
	</div>{# /.panel-body #}
</div>{# /.panel #}
