{% load floppyforms %}
{% formconfig row using "floppyforms/rows/bootstrap.html" %}

{% formrow form.point_person %}

<div class='row'>
	<div class='col-md-6'>{% formrow form.housing_categories using "floppyforms/rows/confirm.html" with confirm=form.housing_categories_confirm %}</div>
</div>

<div class='row'>
	<div class='col-md-6'>{% formrow form.ef_present using "floppyforms/rows/confirm.html" with confirm=form.ef_present_confirm %}</div>
	<div class='col-md-6'>{% formrow form.ef_avoid using "floppyforms/rows/confirm.html" with confirm=form.ef_avoid_confirm %}</div>
</div>

<div class='row'>
	<div class='col-md-6'>{% formrow form.person_prefer %}</div>
	<div class='col-md-6'>{% formrow form.person_avoid %}</div>
</div>

{% formrow form.other_needs %}

{% formrow form.save_as_defaults %}
