{% load floppyforms %}
{% formconfig row using "floppyforms/rows/bootstrap.html" %}

<div class="panel panel-default">
	<header class="panel-heading">
		<h4 class="panel-title">Information</h4>
	</header>
	<div class="panel-body">
		{% formrow form.name %}
		{% formrow form.slug %}
		{% formrow form.tagline %}
		{% formrow form.dance_styles %}
		<div class="row">
			<div class="col-sm-6">
				<div class='form-group'>
					{% with field=form.has_dances %}
						<label class='checkbox-inline' for="{{ field|id }}">{% formfield field %} {{ field.label }}</label>
					{% endwith %}
				</div>
			</div>
			<div class="col-sm-6">
				<div class='form-group'>
					{% with field=form.has_classes %}
						<label class='checkbox-inline' for="{{ field|id }}">{% formfield field %} {{ field.label }}</label>
					{% endwith %}
				</div>
			</div>
		</div>{# /.row #}
	</div>{# /.panel-body #}
</div>{# /.panel #}

<div class="panel panel-default">
	<header class="panel-heading">
		<h4 class="panel-title">Details</h4>
	</header>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-5">
				{% formrow form.start_date %}
			</div>
			<div class="col-sm-5">
				{% formrow form.end_date %}
			</div>
			<div class="col-sm-2">
				{% formrow form.timezone %}
			</div>
		</div>{# /.row #}
		<div class="row">
			<div class="col-sm-5">
				{% formrow form.city %}
			</div>
			<div class="col-sm-3">
				{% formrow form.state_or_province %}
			</div>
			<div class="col-sm-4">
				{% formrow form.country %}
			</div>
		</div>{# /.row #}
		{% formrow form.currency %}
		{% include "brambling/_stripe_note.html" %}
	</div>{# /.panel-body #}
</div>{# /.panel #}

<div class="panel panel-default">
	<header class="panel-heading">
		<h4 class="panel-title">Settings</h4>
	</header>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-3">
				{% formrow form.cart_timeout %}
				<div class='form-group'>
					{% with field=form.collect_housing_data %}
						<div class='checkbox'>
							<label for="{{ field|id }}">{% formfield field %} {{ field.label }}</label>
						</div>
					{% endwith %}
					{% with field=form.collect_survey_data %}
						<div class='checkbox'>
							<label for="{{ field|id }}">{% formfield field %} {{ field.label }}</label>
						</div>
					{% endwith %}
				</div>
			</div>
			<div class="col-sm-4">
				{% formrow form.liability_waiver %}
			</div>
			<div class="col-sm-5">
				{% formrow form.privacy %}
				{% formrow form.editors %}
			</div>
		</div>
	</div>{# /.panel-body #}
</div>{# /.panel #}
