{% extends "floppyforms/layouts/bootstrap.html" %}

{% load floppyforms tz %}

{% block rows %}
	<div class='row form--single-row'>
		<div class='col-sm-1 hidden-xs'>
			<span class="js-sortable-handle btn btn-link btn-block a-secret pull-right"><i class="fa fa-bars"></i></span>
		</div>
		<div class='margin-trailer-half-xs col-sm-4'>
			{% formrow form.name using "brambling/forms/rows/no_label.html" with placeholder="Name" %}</div>
		<div class='margin-trailer-half-xs col-sm-3'>
			{% formrow form.price using "brambling/forms/rows/no_label.html" with append=event.currency placeholder="0.00" %}
		</div>
		<div class="col-sm-4 js-actions">
			<a class="btn btn-default" href="#{{ form.prefix }}-advanced" data-toggle="collapse" aria-expanded="false" aria-controls="{{ form.prefix }}-advanced"><i class="fa fa-cog"></i> <span class="hidden-md hidden-sm">Advanced</span> Settings</a>
		</div>
	</div>

	<div class="collapse margin-leader" id="{{ form.prefix }}-advanced">
		{{ form.id }}
		{% timezone event.timezone %}
			<div class='row'>
				{% get_current_timezone as TIME_ZONE_CURRENT %}
				<div class='col-xs-6'>
					{% formrow form.available_start with prepend="<i class='fa fa-fw fa-calendar'></i>" %}
					<div class='help-block'>
						Timezone: {{ TIME_ZONE_CURRENT }}
					</div>
				</div>
				<div class='col-xs-6'>{% formrow form.available_end with prepend="<i class='fa fa-fw fa-calendar'></i>" %}</div>
			</div>
		{% endtimezone %}

		<div id="{{ form.prefix }}-limitRow" class='row limitRow'>
			<div class='col-xs-6'>{% formrow form.total_number %}</div>
			<div class='col-xs-6'>{% formrow form.remaining_display with label="Display remaining / total?" %}</div>
		</div>
	</div>

	{% for field in form.hidden_fields %}
		{% formfield field %}
	{% endfor %}

	{# The following form fields are controlled with javascript: #}
	<div class='hide'>
		{% formrow form.order %}
		{# Don't render delete box if this is a dynamic form. We'll delete those by removing the DOM element with javascript. #}
		{% if not "__prefix__" in form.prefix %}{% formrow form.DELETE %}{% endif %}
	</div>
{% endblock %}
