{% extends "floppyforms/layouts/bootstrap.html" %}

{% load floppyforms %}
{% formconfig row using "floppyforms/rows/bootstrap.html" %}

{% block rows %}
	<div class='row'>
		<div class='col-md-12'>{% formrow form.name %}</div>
	</div>
	<div class='row'>
		<div class='col-md-3'>
			{% with field=form.price %}
				<div class='form-group{% if field.errors %} has-error{% endif %}'>
					<label class="control-label" for="{{ field|id }}">{{ field.label }} {% if field.field.required %} <span class="required">*</span>{% endif %}</label>
					<div class="input-group">
						{% formfield field %}
						<div class='input-group-addon'>
							{{ event.currency }}
						</div>
					</div>
					{% if field.errors %}{% include "floppyforms/errors.html" with errors=field.errors %}{% endif %}
				</div>
			{% endwith %}
		</div>
		<div class='col-md-3'>{% formrow form.total_number %}</div>
		<div class='col-md-3'>{% formrow form.available_start %}</div>
		<div class='col-md-3'>{% formrow form.available_end %}</div>
	</div>
	<div class='row js-hide'>
		<div class='col-md-6'>{% formrow form.order %}</div>
		<div class='col-md-6'>{% formrow form.DELETE %}</div>
	</div>

	{% for field in form.hidden_fields %}
		{% formfield field %}
	{% endfor %}
{% endblock %}
