{% load floppyforms %}

{% formconfig row using "brambling/forms/signup_row.html" %}

<div class="row">
	<div class="form-group col-md-6">
		{% formrow form.first_name %}
	</div>
	<div class="form-group col-md-6">
		{% formrow form.last_name %}
	</div>
</div>

<div class="row collapse" id="extraName">
	<div class="form-group col-sm-6">
		{% formrow form.middle_name %}
	</div>
	<div class="form-group col-sm-6">
		{% formrow form.name_order %}
	</div>
</div>

<div class="row">
	<div class="form-group col-xs-12">
		<a href="#extraName" data-toggle="collapse" class="{% if masthead %}masthead-link {% endif %}pull-right more-name-options"><small><i class="fa fa-plus"></i> More Name Options</small></a>
		{% formrow form.email %}
	</div>
</div>

<div class="row">
	<div class="form-group col-sm-6">
		{% formrow form.password1 %}
	</div>
	<div class="form-group col-sm-6">
		{% formrow form.password2 %}
	</div>
</div>

{% for field in form.hidden_fields %}
	{{ field }}
{% endfor %}
