*.pyc
.env
/*.egg-info/
/media/
/static/
/db.sqlite3
.sass-cache
/.tox/
/pillar/
/dancerfly_project/settings/local.py

# Deprecated after settings.py restructure
/dancerfly_project/media/
/dancerfly_project/static/
