-r requirements.txt

newrelic==2.54.0.41
-e git+git://github.com/littleweaver/django-brambling.git@master#egg=django-brambling
psycopg2==2.5.3
python-http-client==1.2.3
sendgrid==2.2.1
sendgrid-django==2.0.0
smtpapi==0.3.1
