h1, h2, h3, h4, h5, h6
	// Sloppy fix for St. Ryde's high baseline.
	// TODO: Fix this in the font file instead.
	position: relative
	top: .125em

.masthead
	background: $brand-yellow
	color: lighten($brand-yellow, 45%)
.masthead-link
	color: lighten($brand-yellow, 30%)
