// Styles for divs used in layout

.container
	max-width: 970px

.container-sm
	@extend .container
	max-width: 750px

.container-xs
	@extend .container
	max-width: 480px

.margin-leader-dbl
	margin-top: 2*$line-height-computed

.margin-trailer-dbl
	margin-bottom: 2*$line-height-computed

.relative
	position: relative
