@import compass/css3/box-sizing
@import compass/css3/border-radius
@import compass/css3/box-shadow
@import compass/css3/images

$masthead-padding-vertical: $line-height-computed

// BASE

.masthead
    position: relative
    margin:
        top: -$line-height-computed // to brush up against the navbar
        left: -6000px
        bottom: $line-height-computed
        right: -6000px
    padding: $masthead-padding-vertical 6000px
    text-shadow: 0 1px 0 rgba(0, 0, 0, .15)
    &.splash
        margin-top: 0

// VARIATIONS
// These variations can, generally, be combined.

// Positioning
.masthead-b, .masthead-t, .masthead-l, .masthead-r
    position: absolute
    z-index: 2

.masthead-b
    bottom: $line-height-computed/2

.masthead-t
    top: $line-height-computed/2

.masthead-l
    left: $grid-gutter-width/2

.masthead-r
    right: $grid-gutter-width/2

.swallow-navbar .masthead-t
    // Corrections to top positioning for mastheads that overlap the navbar.
    top: $navbar-height + $line-height-computed/2

// THEMES

.masthead-primary
    background-color: darken($brand-primary, 10%)
    color: lighten($brand-primary, 45%)
    .masthead-link
        color: lighten($brand-primary, 30%)
        &:hover
            color: #FFF
    strong
        color: #FFF

.masthead-brand
    background-color: $yellow-dark
    color: lighten($yellow-dark, 45%)
    .masthead-link
        color: lighten($yellow-dark, 30%)
        &:hover
            color: #FFF
    strong
        color: #FFF

.masthead-light
    +background(#E5E5E5 linear-gradient(bottom, #D5D5D5 0%, #E5E5E5 10%))

// SUBCOMPONENTS

.masthead-cover-image
    // Should be wrapped inside .masthead, but around the rest of the contents
    // of the masthead.
    height: 320px
    margin-left: 0
    margin-right: 0
    padding-left: $grid-gutter-width/2
    padding-right: $grid-gutter-width/2
    margin-bottom: -$masthead-padding-vertical
    margin-top: -$masthead-padding-vertical
    background-size: cover
    background-repeat: no-repeat
    +box-shadow(inset 0 -1px 0 0 rgba(0,0,0,.35), inset 1px 0 0 0 rgba(0,0,0,.35), inset -1px 0 0 0 rgba(0,0,0,.35))
    +box-sizing(border-box)
    position: relative
    color: #FFF
    &::after
        content: " "
        display: block
        position: absolute
        bottom: 0
        left: 0
        right: 0
        height: 150px
        +background(linear-gradient(bottom, rgba(0,0,0,.5), rgba(0,0,0,0)))


.masthead-link
    font-weight: bold

.masthead-pills
    margin: 0 -15px
    > li > a
        display: inline
        &:hover
            background: none

.masthead-form
    input, .chosen-container-multi .chosen-choices, .chosen-container-single .chosen-single, .chosen-container-active.chosen-container-multi .chosen-choices, .chosen-container-active.chosen-container-single .chosen-single, .chosen-container-single .chosen-drop
        background-color: #FFF
        border: 0
        color: black
        text-shadow: none

.masthead-bold
    color: #FFF
