.navbar-default
    background: $yellow-dark
    border: 0
    color: #FFF
    font-family: $headings-font-family
    .navbar-nav > li > a, .navbar-brand
        color: white
        text-shadow: 0 1px 0 rgba(0, 0, 0, .15)
        &:hover, &:active, &:focus
            color: white
            background: rgba(0, 0, 0, .15)
    .navbar-nav > .open > a
        &, &:hover, &:focus
            color: white
            background: rgba(0, 0, 0, .25)
    .navbar-collapse
        @media (min-width: $screen-sm-min)
            padding: 0

.navbar-transparent
    background-color: rgba(0,0,0,.5)

.nav-tabs
    margin-bottom: $line-height-computed

.swallow-navbar
    // To be used on elements immediately following the navbar that should be
    // made to overlap with the navbar.
    // Best used in tandem with .navbar-transparent.
    margin-top: -$navbar-height + -$line-height-computed
    padding-top: $navbar-height + $line-height-computed
