{% extends "brambling/layouts/12_sm.html" %}

{% load staticfiles hints %}

{% block title %}{{ organization.name }} – {{ block.super }}{% endblock %}

{% block main %}
	<div class='page-header'>
		<h1>
			{{ organization.name }}
			{% if organization_editable_by %}
				<ul class='list-inline pull-right'>
					<li>
						<a href="{% url "brambling_event_create" organization_slug=organization.slug %}" class="btn btn-success pull-right">
							<i class="fa fa-plus fa-fw"></i> Create a new event
						</a>
					</li>
					<li>
						<a href="{% url "brambling_organization_update" organization_slug=organization.slug %}" class="btn btn-primary pull-right">
							<i class="fa fa-cog fa-fw"></i> Settings
						</a>
					</li>
				</ul>
			{% endif %}
		</h1>

		{% if organization.description %}
			<div>{{ organization.description|linebreaks }}</div>
		{% endif %}
		{% if organization.website_url %}
			<a target="_blank" href="{{ organization.website_url }}" class="btn btn-primary">
				<i class="fa fa-fw fa-globe"></i>
				Website
			</a>
		{% endif %}
		{% if organization.facebook_url %}
			<a target="_blank" href="{{ organization.facebook_url }}" class="btn btn-primary">
				<i class="fa fa-fw fa-facebook"></i>
				Facebook
			</a>
		{% endif %}
		{% with dance_styles=organization.dance_styles.all %}
			{% if dance_styles %}
				<h4 class="text-muted event-tags">Featuring {% for style in dance_styles %}<span class="list-comma text-lowercase">{{ style }}</span>{% endfor %}.</h4>
			{% endif %}
		{% endwith %}
		{% if organization.city or organization.state_or_province or organization.country %}
			<p><i class="fa fa-map-marker fa-fw"></i> {% include "brambling/organization/_where.html" %}</p>
		{% endif %}
	</div>

	{% for event in events %}
		{% if event in registered_events and event in admin_events %}
			{% include "brambling/_event_list_item.html" with is_registered="true" is_admin="true" %}
		{% elif event in registered_events %}
			{% if event.is_published %}
				{% if event.privacy == event.PUBLIC or event.privacy == event.HALF_PUBLIC %}
					{% include "brambling/_event_list_item.html" with is_registered="true" %}
				{% endif %}
			{% endif %}
		{% elif event in admin_events %}
			{% include "brambling/_event_list_item.html" with is_admin="true" %}
		{% else %}
			{% if event.is_published %}
				{% if event.privacy == event.PUBLIC or event.privacy == event.HALF_PUBLIC %}
					{% include "brambling/_event_list_item.html" %}
				{% endif %}
			{% endif %}
		{% endif %}
	{% endfor %}
{% endblock %}
