{% extends 'brambling/organization/__admin.html' %}

{% load staticfiles %}

{% block title %}Create New Event – {{ block.super }}{% endblock %}

{% block main %}
	<h2>Create New Event</h2>
	{% include "brambling/event/organizer/_form.html" %}
{% endblock %}

{% block javascripts %}
	{{ block.super }}
	<script type="text/javascript">window.django = window.grp = {'jQuery': jQuery};</script>
	<script type="text/javascript" src="{% static "admin/js/urlify.js" %}"></script>
	<script type="text/javascript" src="{% static "admin/js/prepopulate.min.js" %}"></script>
	<script type="text/javascript" src="{% static "brambling/brambling.slug.js" %}"></script>

	{% include "brambling/event/organizer/_form_js.html" %}
{% endblock %}
