{% extends 'brambling/organization/__admin.html' %}
{% load floppyforms %}

{% block main %}
	{{ block.super }}

	<h1>Payment Processors</h1>

	{% include "brambling/forms/_top_error_list.html" %}

	<form action="{{ request.path }}" method="post" novalidate enctype="multipart/form-data">
		{% csrf_token %}

		{% form form using %}
			{% formconfig row using "brambling/forms/rows/bootstrap.html" %}

			<p>
				We currently offer three payment methods: Stripe (Credit Cards),
				Dwolla, or payments by mail. You may enable any combination of
				these payment methods for your organization.
			</p>
			<p>
				You must register for an account with Stripe or Dwolla if you
				choose to use them. Sales go directly to those accounts with Dancerfly&#8217;s
				fee automatically subtracted. Click the info icon next to each
				payment method to learn more.
			</p>
			<table class="table">
				<thead>
					<tr>
						<th>Method</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
				{% if not organization.is_demo %}
					{# Stripe / Dwolla Live: #}
					{% if organization.stripe_live_connected or stripe_oauth_url %}
						<tr>
							<th>
								<i class="fa fa-fw fa-credit-card"></i>
								Stripe
								<a href="javascript:void(0);" class="popped" data-container="body" data-content="Stripe allows payment by credit card. They charge an additional 2.9% + 30¢ per transaction."><i class="fa fa-info-circle"></i></a>
							</th>
							{% if organization.stripe_live_connected %}
								<td>Enabled ({{ organization.stripe_user_id }})</td>
								<td>
									{% if 'edit' in organization_permissions %}
										{% formrow form.disconnect_stripe_live with label="Disconnect" %}
									{% endif %}
								</td>
							{% else %}
								<td>Not Enabled</td>
								<td>
									{% if 'edit' in organization_permissions %}
										<a href='{{ stripe_oauth_url }}' class='btn btn-info btn-xs'>Connect</i></a>
									{% else %}
										<button type='button' class='btn btn-info btn-xs tipped' disabled title="Only available for users with permission to edit this organization">Connect</i></button>
									{% endif %}
								</td>
							{% endif %}
						</tr>
					{% endif %}
					{% if dwolla_account or dwolla_oauth_url %}
						<tr class="active">
							<th>
								<i class="fa fa-fw fa-money"></i>
								Dwolla
								<a href="javascript:void(0);" class="popped" data-container="body" data-content="Dwolla allows payment from any user who has a Dwolla account. They don't charge any transaction fees."><i class="fa fa-info-circle"></i></a>
							</th>
							{% if dwolla_account %}
								<td>
									Enabled ({{ dwolla_account.user_id }})
								</td>
								<td>
									{% if 'edit' in organization_permissions %}
										{% formrow form.disconnect_dwolla_live with label="Disconnect" %}
									{% endif %}
								</td>
							{% else %}
								<td>Not Enabled</td>
								<td>
									{% if 'edit' in organization_permissions %}
										<a href='{{ dwolla_oauth_url }}' class='btn btn-xs btn-info'>Connect</a>
									{% else %}
										<button type='button' class='btn btn-info btn-xs tipped' disabled title="Only available for users with permission to edit this organization">Connect</i></button>
									{% endif %}
								</td>
							{% endif %}
						</tr>
					{% endif %}
				{% else %}
					{# Stripe / Dwolla Test: #}
					{% if organization.stripe_test_connected or stripe_test_oauth_url %}
						<tr>
							<th>
								<i class="fa fa-fw fa-credit-card"></i>
								Stripe (Test)
								<a href="javascript:void(0);" class="popped" data-container="body" data-content="Stripe allows payment by credit card. They charge an additional 2.9% + 30¢ per transaction."><i class="fa fa-info-circle"></i></a>
							</th>
							{% if organization.stripe_test_connected %}
								<td>Enabled ({{ organization.stripe_test_user_id }})</td>
								<td>
									{% if 'edit' in organization_permissions %}
										{% formrow form.disconnect_stripe_test with label="Disconnect" %}
									{% endif %}
								</td>
							{% else %}
								<td>Not Enabled</td>
								<td>
									{% if 'edit' in organization_permissions %}
										<a href='{{ stripe_test_oauth_url }}' class='btn btn-info btn-xs'>Connect</i></a>
									{% else %}
										<button type='button' class='btn btn-info btn-xs tipped' disabled title="Only available for users with permission to edit this organization">Connect</i></button>
									{% endif %}
								</td>
							{% endif %}
						</tr>
					{% endif %}
					{% if dwolla_test_account or dwolla_test_oauth_url %}
						<tr class="active">
							<th>
								<i class="fa fa-fw fa-money"></i>
								Dwolla (Test)
								<a href="javascript:void(0);" class="popped" data-container="body" data-content="Dwolla allows payment from any user who has a Dwolla account. They don't charge any transaction fees."><i class="fa fa-info-circle"></i></a>
							</th>
							{% if dwolla_test_account %}
								<td>
									Enabled ({{ dwolla_test_account.user_id }})
								<td>
									{% if 'edit' in organization_permissions %}
										{% formrow form.disconnect_dwolla_test with label="Disconnect" %}
									{% endif %}
								</td>
							{% else %}
								<td>Not Enabled</td>
								<td>
									{% if 'edit' in organization_permissions %}
										<a href='{{ dwolla_test_oauth_url }}' class='btn btn-xs btn-info'>Connect</a>
									{% else %}
										<button type='button' class='btn btn-info btn-xs tipped' disabled title="Only available for users with permission to edit this organization">Connect</i></button>
									{% endif %}
								</td>
							{% endif %}
						</tr>
					{% endif %}
				{% endif %}

					{# By Mail/Check: #}
					<tr>
						<th>
							<i class="fa fa-fw fa-envelope"></i>
							By Mail/Check
							<a href="javascript:void(0);" class="popped" data-container="body" data-html="true" data-content="Allow payments by mail. Note that Dancerfly does &lt;i&gt;not&lt;/i&gt; confirm these payments. See configuration for more details."><i class="fa fa-info-circle"></i></a>
						</th>
						<td>
							{% if organization.check_payment_allowed %}Enabled{% else %}Disabled{% endif %}
						</td>
						<td>
							{% if 'edit' in organization_permissions %}
								<a href='#CheckConfig' data-toggle="collapse" class="btn btn-xs btn-info"><i class="fa fa-cog"></i> Configure</a>
							{% else %}
								<button type='button' disabled class="btn btn-xs btn-info tipped" title="Only available for users with permission to edit this organization"><i class="fa fa-cog"></i> Configure</a>
							{% endif %}
						</td>
					</tr>
					<tr class="collapse active {% if organization.check_payment_allowed or form.has_check_errors %}in{% endif %}" id="CheckConfig">
						<td colspan="3">
							{% formrow form.check_payment_allowed with label="Enable Payment by Check" %}

							<div class="alert alert-info">
								<strong>Note:</strong>
								Dancerfly does not confirm shipping or receipt of checks by mail.
								Attendees are responsible for mailing their checks and
								organizers are responsible for marking those checks as received.
								Dancerfly does not charge a fee on transactions by mail.
							</div>

							{% formrow form.check_payable_to with label="Checks made out to" %}
							{% formrow form.check_recipient with label="Mail addressed to" %}
							{% formrow form.check_address with label="Address" %}
							{% formrow form.check_address_2 using "brambling/forms/rows/no_label.html" %}
							{% formrow form.check_city with label="City" %}
							<div class="row">
								<div class="col-sm-4">
									{% formrow form.check_state_or_province with label="State / province" %}
								</div>
								<div class="col-sm-4">
									{% formrow form.check_country %}
								</div>
								<div class="col-sm-4">
									{% formrow form.check_zip with label="Zip / Postal Code"%}
								</div>
							</div>{# /.row #}
						</td>
					</tr>
				</tbody>
			</table>
		{% endform %}

		{% if organization.is_demo %}
			<p class='text-muted'>Note: This is a demo organization which uses test APIs. None of the transactions made through this organization can result in real money changing hands.</p>
		{% endif %}

		{% if 'edit' in organization_permissions %}
			<button class="btn btn-primary" type="submit">
				Save Changes
			</button>

			{% if organization.pk %}
				<a class="btn btn-link" href="{{ request.path }}">Cancel</a>
			{% endif %}
		{% endif %}

	</form>

{% endblock %}

{% block javascripts %}
	{{ block.super }}

	<script>
        var $payable_to = $('#id_check_payable_to'),
            $recipient = $('#id_check_recipient'),
            recipient_val = '';
        $payable_to.on('keyup', function(e) {
            if ($recipient.val() === recipient_val) {
                recipient_val = $payable_to.val();
                $recipient.val(recipient_val);
            }
        });
    </script>

	{% if 'edit' not in organization_permissions %}
		{% include "brambling/_disable_forms_js.html" %}
	{% endif %}
{% endblock %}
