{% extends 'brambling/layouts/12_sm.html' %}
{% load floppyforms %}

{% block main %}
	{{ block.super }}

	<h1>Edit organization: {{ organization.name }}</h1>

	{% include "brambling/forms/_top_error_list.html" %}

	<form action="{{ request.path }}" method="post" novalidate enctype="multipart/form-data">
		{% csrf_token %}

		{% form form using %}
			{% formconfig row using "floppyforms/rows/bootstrap.html" %}
			<div class="panel panel-default">
				<header class="panel-heading">
					<h4 class="panel-title">Information</h4>
				</header>
				<div class="panel-body">
					{% formrow form.name %}
					{% if form.slug %}
						{% formrow form.slug %}
					{% else %}
						<div class="form-group">
							<label class="control-label" for="id_slug">
							Slug
							 <span class="required">*</span>
							</label>
							<input class="form-control" type="text" value="{{ event.slug }}" disabled>
							<p class="help-block">{{ form.base_fields.slug.help_text }}</p>
						</div>
					{% endif %}
					{% formrow form.website_url %}
					{% formrow form.facebook_url %}
					{% formrow form.description %}
					{% formrow form.banner_image %}
					<p class="text-muted">Images will be scaled and cropped to 940 x 300 pixels.</p>
					{% formrow form.dance_styles %}

					<div class="row">
						<div class="col-sm-5">
							{% formrow form.city %}
						</div>
						<div class="col-sm-3">
							{% formrow form.state_or_province %}
						</div>
						<div class="col-sm-4">
							{% formrow form.country %}
						</div>
					</div>{# /.row #}
				</div>{# /.panel-body #}
			</div>{# /.panel #}



			<div class="panel panel-default">
				<header class="panel-heading">
					<h4 class="panel-title">Event Defaults</h4>
				</header>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-5">
							{% formrow form.default_event_city %}
						</div>
						<div class="col-sm-3">
							{% formrow form.default_event_state_or_province %}
						</div>
						<div class="col-sm-4">
							{% formrow form.default_event_country %}
						</div>
					</div>{# /.row #}

					{% formrow form.default_event_timezone %}
					{% formrow form.default_event_currency %}
				</div>{# /.panel-body #}
			</div>{# /.panel #}

			<div class="panel panel-default">
				<header class="panel-heading">
					<h4 class="panel-title">Sharing</h4>
				</header>
				<div class="panel-body">
					{% formrow form.privacy %}

					<p>The following people have access to edit this organization and all its events. Only the organization owner can add or remove editors.</p>

					<div class="table-responsive">
						<table class='table table-striped'>
							<tbody>
								<tr>
									<th>{{ organization.owner.get_full_name }}</th>
									<td>{{ organization.owner.email }}</td>
									<td><i class='fa fa-fw fa-lock'></i> Owner</td>
									{% if organization.owner == request.user %}<td></td>{% endif %}
								</tr>
								{% for editor in organization.editors.all %}
									<tr>
										<th>{{ editor.get_full_name }}</th>
										<td>{{ editor.email }}</td>
										<td><i class='fa fa-fw fa-pencil'></i> Editor</td>
										{% if organization.owner == request.user %}
											<td>
												<a href="{% url 'brambling_organization_remove_editor' organization_slug=organization.slug pk=editor.pk %}"><i class='text-danger fa fa-fw fa-times'></i></a>
											</td>
										{% endif %}
									</tr>
								{% endfor %}
								{% for invite in organization.get_invites %}
									<tr>
										<th>{{ invite.email }}</th>
										<td>{{ invite.email }}</td>
										<td>
											{% if invite.is_sent %}
												<i class='fa fa-fw fa-paper-plane'></i> Invitation sent
											{% else %}
												<i class='fa fa-fw fa-envelope'></i> Not sent
											{% endif %}
										</td>
										{% if organization.owner == request.user %}
											<td>
												<a href='{% url "brambling_invite_delete" code=invite.code %}' class='tipped' data-toggle="tooltip" data-placement="top" data-container="body" title='Cancel invitation'><i class='text-danger fa fa-fw fa-times'></i></a>
												<a href='{% url "brambling_invite_send" code=invite.code %}' class='tipped' data-toggle="tooltip" data-placement="top" data-container="body" title='Send invitation'><i class='fa fa-fw fa-repeat fa-rotate-270 text-success'></i></a>
											</td>
										{% endif %}
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>

					{% formrow form.editors with label="Invite more editors" %}
				</div>{# /.panel-body #}
			</div>{# /.panel #}

			{% if organization.pk %}
				<div class='panel panel-default'>
					<header class="panel-heading">
						<h4 class="panel-title">Payment Options</h4>
					</header>
					<div class='panel-body'>
						<p>
							We currently offer three payment methods: Stripe (Credit Cards),
							Dwolla, or payments by mail. You may enable any combination of
							these payment methods for your organization.
						</p>
						<p>
							You must register for an account with Stripe or Dwolla if you
							choose to use them. Sales go directly to those accounts with Dancerfly&#8217;s
							fee automatically subtracted. Click the info icon next to each
							payment method to learn more.
						</p>
						<table class="table">
							<thead>
								<tr>
									<th>Method</th>
									<th>Status</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{# Stripe / Dwolla Live: #}
								{% if organization.stripe_live_connected or stripe_oauth_url %}
									<tr>
										<th>
											<i class="fa fa-fw fa-credit-card"></i>
											Stripe (Live)
											<a href="javascript:void(0);" class="popped" data-container=".panel-body" data-content="Stripe allows payment by credit card. They charge an additional 2.9% + 30¢ per transaction."><i class="fa fa-info-circle"></i></a>
										</th>
										{% if organization.stripe_live_connected %}
											<td>Enabled ({{ organization.stripe_user_id }})</td>
											<td>{% formrow form.disconnect_stripe_live with label="Disconnect" %}</td>
										{% else %}
											<td>Not Enabled</td>
											<td>
												<a href='{{ stripe_oauth_url }}' class='btn btn-info btn-xs'>Connect</i></a>
											</td>
										{% endif %}
									</tr>
								{% endif %}
								{% if organization.dwolla_live_connected or dwolla_oauth_url %}
									<tr class="active">
										<th>
											<i class="fa fa-fw fa-money"></i>
											Dwolla (Live)
											<a href="javascript:void(0);" class="popped" data-container=".panel-body" data-content="Dwolla allows payment from any user who has a Dwolla account. They charge an additional 25¢ per transaction or no fee for transactions under $10."><i class="fa fa-info-circle"></i></a>
										</th>
										{% if organization.dwolla_live_connected %}
											<td>Enabled ({{ organization.dwolla_user_id }})</td>
											<td>{% formrow form.disconnect_dwolla_live with label="Disconnect" %}</td>
										{% else %}
											<td>Not Enabled</td>
											<td>
												<a href='{{ dwolla_oauth_url }}' class='btn btn-xs btn-info'>Connect</a>
											</td>
										{% endif %}
									</tr>
								{% endif %}

								{# Stripe / Dwolla Test: #}
								{% if organization.stripe_test_connected or stripe_test_oauth_url %}
									<tr>
										<th>
											<i class="fa fa-fw fa-credit-card"></i>
											Stripe (Test)
											<a href="javascript:void(0);" class="popped" data-container=".panel-body" data-content="Stripe allows payment by credit card. They charge an additional 2.9% + 30¢ per transaction."><i class="fa fa-info-circle"></i></a>
										</th>
										{% if organization.stripe_test_connected %}
											<td>Enabled ({{ organization.stripe_test_user_id }})</td>
											<td>{% formrow form.disconnect_stripe_test with label="Disconnect" %}</td>
										{% else %}
											<td>Not Enabled</td>
											<td>
												<a href='{{ stripe_test_oauth_url }}' class='btn btn-info btn-xs'>Connect</i></a>
											</td>
										{% endif %}
									</tr>
								{% endif %}
								{% if organization.dwolla_test_connected or dwolla_test_oauth_url %}
									<tr class="active">
										<th>
											<i class="fa fa-fw fa-money"></i>
											Dwolla (Test)
											<a href="javascript:void(0);" class="popped" data-container=".panel-body" data-content="Dwolla allows payment from any user who has a Dwolla account. They charge an additional 25¢ per transaction or no fee for transactions under $10."><i class="fa fa-info-circle"></i></a>
										</th>
										{% if organization.dwolla_test_connected %}
											<td>Enabled ({{ organization.dwolla_test_user_id }})</td>
											<td>{% formrow form.disconnect_dwolla_test with label="Disconnect" %}</td>
										{% else %}
											<td>Not Enabled</td>
											<td>
												<a href='{{ dwolla_oauth_url }}' class='btn btn-xs btn-info'>Connect</a>
											</td>
										{% endif %}
									</tr>
								{% endif %}

								{# By Mail/Check: #}
								<tr>
									<th>
										<i class="fa fa-fw fa-envelope"></i>
										By Mail/Check
										<a href="javascript:void(0);" class="popped" data-container=".panel-body" data-html="true" data-content="Allow payments by mail. Note that Dancerfly does &lt;i&gt;not&lt;/i&gt; confirm these payments. See configuration for more details."><i class="fa fa-info-circle"></i></a>
									</th>
									<td>
										{% if organization.check_payment_allowed %}Enabled{% else %}Disabled{% endif %}
									</td>
									<td>
										<a href='#CheckConfig' data-toggle="collapse" class="btn btn-xs btn-info"><i class="fa fa-cog"></i> Configure</a>
									</td>
								</tr>
								<tr class="collapse active {% if organization.check_payment_allowed or form.has_check_errors %}in{% endif %}" id="CheckConfig">
									<td colspan="3">
										{% formrow form.check_payment_allowed with label="Enable Payment by Check" %}

										<div class="alert alert-info">
											<strong>Note:</strong>
											Dancerfly does not confirm shipping or receipt of checks by mail.
											Attendees are responsible for mailing their checks and
											organizers are responsible for marking those checks as received.
											Dancerfly does not charge a fee on transactions by mail.
										</div>

										{% formrow form.check_payable_to with label="Checks made out to" %}
										{% formrow form.check_recipient with label="Mail addressed to" %}
										{% formrow form.check_address with label="Address" %}
										{% formrow form.check_address_2 using "brambling/forms/rows/no_label.html" %}
										{% formrow form.check_city with label="City" %}
										<div class="row">
											<div class="col-sm-4">
												{% formrow form.check_state_or_province with label="State / province" %}
											</div>
											<div class="col-sm-4">
												{% formrow form.check_country %}
											</div>
											<div class="col-sm-4">
												{% formrow form.check_zip with label="Zip / Postal Code"%}
											</div>
										</div>{# /.row #}
										{% formrow form.check_postmark_cutoff with label="Checks must be postmarked by" %}

									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			{% endif %}
		{% endform %}

		<button class="btn btn-primary" type="submit">
			Save Changes
		</button>

		{% if organization.pk %}
			<a class="btn btn-link" href="{{ organization.get_absolute_url }}">Cancel</a>
		{% endif %}

	</form>

{% endblock %}

{% block javascripts %}
	{{ block.super }}

	<script>
        var $payable_to = $('#id_check_payable_to'),
            $recipient = $('#id_check_recipient'),
            recipient_val = '';
        $payable_to.on('keyup', function(e) {
            if ($recipient.val() === recipient_val) {
                recipient_val = $payable_to.val();
                $recipient.val(recipient_val);
            }
        });
    </script>
{% endblock %}
