$yellow-dark: #de8e0f
$yellow-light: #E8A500

$whitesmoke: #EEEBE8

$brand-primary: $yellow-dark

//* Global text color on `<body>`.
$text-color: $gray-dark

//* By default, this inherits from the `<body>`.
$headings-font-family: "St Ryde", $font-family-serif
$headings-font-weight: 700

// Basics of a navbar
$navbar-height: 40px
$navbar-border-radius: 0
