{% load zenaida %}<p>You've gotten a new order! Here are the quick details:</p>

<ul>
	<li><strong>Order code:</strong> {{ order.code }}</li>
	<li><strong>Net cost:</strong> {{ net_cost|format_money:event.currency }}</li>
	<li><strong>Net payments:</strong> {{ net_payments|format_money:event.currency }}</li>
</ul>

{% if unconfirmed_check_payments %}
	<p>This order has outstanding check payments, so keep an eye on your mail!</p>
{% endif %}

<p>View more details on <a href="{{ protocol }}://dancerfly.com{% url 'brambling_event_order_detail' event_slug=event.slug code=order.code %}">Dancerfly</a>.</p>
