{% load zenaida %}
<p>Hello, {% if order.person %}{{ order.person.given_name }}{% else %}{{ order.email }}{% endif %}!
Thanks for registering for {{ event.name }}. We've included a
short summary of your registration below; you can also view
and edit your order information at any time on
<a href="{{ protocol }}://{{ site.domain }}{% if order.person %}{% url 'brambling_event_order_summary' event_slug=event.slug organization_slug=event.organization.slug %}{% else %}{% url 'brambling_event_order_summary' event_slug=event.slug organization_slug=event.organization.slug code=order.code %}{% endif %}">Dancerfly</a>.</p>

<p>We hope you have a great time! Remember, your event starts on {{ event.start_date|date:"F jS, Y" }}.</p>

{% if unconfirmed_check_payments %}
	<p>Note: Your passes are reserved, but the organizer has not yet received your payment by mail.</p>
	{% include "brambling/event/order/_check_payment_info.html" %}
	<p>If you believe this is in error, please contact the event organizer directly.</p>
{% endif %}

<table style="width: 100%; text-align: left;">
	<tbody>
		<tr>
			<th>Paid</th>
			<th>Order code</th>
		</tr>
		<tr>
			<td>{{ total_payments|format_money:event.currency }}</td>
			<td>{{ order.code }}</td>
		</tr>
	</tbody>
</table>

{% for attendee in order.attendees.all %}
	<h3>{{ attendee.get_full_name }}</h3>

	{% for item in attendee.bought_items.all %}
		{% if item.status != item.REFUNDED %}
			<li>{{ item.item_option.item.name }} ({{ item.item_option.name }})</li>
		{% endif %}
	{% endfor %}
{% endfor %}

<p><em>View more details on <a href="{{ protocol }}://{{ site.domain }}{% if order.person %}{% url 'brambling_event_order_summary' event_slug=event.slug organization_slug=event.organization.slug %}{% else %}{% url 'brambling_event_order_summary' event_slug=event.slug organization_slug=event.organization.slug code=order.code %}{% endif %}">Dancerfly</a>.</em></p>
