{% extends 'brambling/layouts/small_center.html' %}

{% load floppyforms i18n %}

{% block title %}{{ title }} – {{ block.super }}{% endblock %}
{% block main %}
	<h2>{{title}}</h2>

	{% if validlink %}
		<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

		<form action="{{ request.path }}?{{ request.GET.urlencode }}" method="post">
			{% csrf_token %}
			{% form form %}
			<button class="btn btn-primary" type="submit">{% trans 'Change my password' %}</button>
		</form>
	{% else %}
		<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
	{% endif %}
{% endblock %}
