{% extends 'brambling/__base.html' %}

{% block content %}
	<h1>{{ event.name }}</h1>
	<h2>{{ event.start_date }} &#8211; {{ event.end_date }}</h2>
	<h2>{{ event.city }}, {{ event.state_or_province }}, {{ event.country }}</h2>

	{% if request.user.is_authenticated and request.user.is_active %}
		{% if request.user.is_superuser or request.user == event.owner or request.user in event.editors.all %}
			{% url 'brambling_event_detail' slug=event.slug as event_detail_url %}
			{% url 'brambling_event_update' slug=event.slug as event_update_url %}
			{% url 'brambling_item_list' event_slug=event.slug as item_list_url %}
			{% url 'brambling_discount_list' event_slug=event.slug as discount_list_url %}
			{% with item_list_url_length=item_list_url|length|floatformat discount_list_url_length=discount_list_url|length|floatformat %}
				<ul class='nav nav-pills'>
					<li{% if request.path == event_detail_url %} class='active'{% endif %}><a href="{{ event_detail_url }}">View event</a></li>
					<li{% if request.path == event_update_url %} class='active'{% endif %}><a href="{{ event_update_url }}">Edit event</a></li>
					<li{% if request.path|slice:item_list_url_length == item_list_url %} class='active'{% endif %}><a href="{{ item_list_url }}">Manage items</a></li>
					<li{% if request.path|slice:discount_list_url_length == discount_list_url %} class='active'{% endif %}><a href="{{ discount_list_url }}">Manage discounts</a></li>
				</ul>
			{% endwith %}
		{% endif %}
	{% endif %}
{% endblock %}
