{% extends 'brambling/layouts/75_25.html' %}

{% block before %}
	<h1>{{ event.name }}</h1>
	<h2>{{ event.start_date }} &#8211; {{ event.end_date }} <em>in</em> {{ event.city }}, {{ event.state_or_province }}, {{ event.country }}</h2>
{% endblock %}

{% block side %}
	<div class='list-group'>
		{% for item in event_nav %}
			<a class='list-group-item{% if item.is_active %} active{% endif %}' href="{{ item.url }}">
				{% if item.icon %}
					<i class="glyphicon {{ item.icon }}"></i>
				{% endif %}
				{{ item.label }}
			</a>
		{% endfor %}
	</ul>
	{% if event_admin_nav %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Manage event</h3>
			</div>
			<div class="list-group">
				{% for item in event_admin_nav %}
					<a class='list-group-item{% if item.is_active %} active{% endif %}' href="{{ item.url }}">
						{% if item.icon %}
							<i class="glyphicon {{ item.icon }}"></i>
						{% endif %}
						{{ item.label }}
					</a>
				{% endfor %}
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block main %}
{% endblock %}
