{% extends 'brambling/layouts/11_1.html' %}

{% block title %}{{ event.name }} – {{ block.super }}{% endblock %}

{% block before %}
	{% include "brambling/event/_masthead.html" %}
{% endblock %}

{% block side %}
	{% if event_admin_nav %}
		<div class="list-group">
			{% for item in event_admin_nav %}
				{% include "brambling/event/_mini_nav_item.html" with item=item only %}
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block main %}
	{% if order.has_cart %}
		{% include "brambling/event/_expiry_countdown.html" with expiry_time=order.cart_expire_time only %}
	{% endif %}
{% endblock %}
