{% extends 'brambling/layouts/92_8.html' %}

{% block before %}
	<h1>{{ event.name }}</h1>
	<h2>{% if event.start_date == event.end_date %}{{ event.start_date }}{% else %}{{ event.start_date }} &#8211; {{ event.end_date }}{% endif %} <em>in</em> {{ event.city }}, {{ event.state_or_province }}, {{ event.country }}</h2>
{% endblock %}

{% block side %}
	<div class='list-group'>
		{% for item in event_nav %}
			{% include "brambling/event/_mini_nav_item.html" with item=item only %}
		{% endfor %}
	</div>
	{% if event_admin_nav %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title visible-sm visible-xs">Manage event</h3>
				<h3 class="panel-title visible-md visible-lg text-center"><i class="fa fa-wrench"></i></h3>
			</div>
			<div class="list-group">
				{% for item in event_admin_nav %}
					{% include "brambling/event/_mini_nav_item.html" with item=item only %}
				{% endfor %}
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block main %}
	{% if event_person.has_cart %}
		<div class='alert alert-info'>
			<p>You have {% include "brambling/event/_expiry_countdown.html" with expiry_time=event_person.cart_expire_time only %} to finish checkout.</p>
		</div>
	{% endif %}
{% endblock %}
