{% extends 'brambling/event/__manage.html' %}

{% load floppyforms zenaida static %}

{% block main %}
    {{ block.super }}

    {% include "brambling/event/_empty_shop_alert.html" %}

    <form action="" method="get">
        <div class='text-right form-inline'>
            <button class="btn btn-default" data-toggle="modal" data-target="#filterModal" type='button'>
                <i class="fa fa-filter"></i>
                Change columns and filters
            </button>
            <button type="submit" class="btn btn-primary" name="format" value="csv"><i class="fa fa-download"></i> Download CSV</button>
        </div>
        <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Filters &amp; Columns</h4>
                    </div>
                    <div class="modal-body">
                        <div class='row'>
                            <div class='col-sm-6'>
                                <p><em>Limit attendees in data&hellip;</em></p>
                                {% form filter.form %}
                            </div>
                            <div class='col-sm-6'>
                                <p><em>Change displayed columns&hellip;</em></p>
                                {% form table.form %}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-download"></i> Apply filters</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>{# /.modal-content #}
            </div>{# /.modal-dialog #}
        </div>{# /.modal #}
    </form>
    <div class="scroll-x">
        <table class="table table-striped">
            <thead>
                <tr>
                    {% for header in table.header_row %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table %}
                    <tr>
                        {% for field in row %}
                            {% if forloop.first %}
                                <th>
                            {% else %}
                                <td>
                            {% endif %}
                            {{ field }}
                            {% if not forloop.first %}
                                </td>
                            {% else %}
                                </th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">No items match the filter criteria.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "zenaida/js/bootstrap/modal.js" %}"></script>
{% endblock %}
