{% load floppyforms %}
<div class='panel panel-default' id='discounts'>
	<header class='panel-heading'>
		<div class='panel-title'>Discounts</div>
	</header>
	<ul class='list-group'>
		{% for discount in discounts %}
			<li class='list-group-item'>
				{{ discount.discount.name }} <em class='text-muted'>{{ discount.discount.code }}</em>
			</li>
		{% endfor %}
		<li class='list-group-item'>
			<div class='input-group'>
				<input id='discountCode' class='form-control' placeholder='Discount code' autocomplete='off'>
				<span class='input-group-btn'>
					<button id='discountCodeButton' class='btn btn-default' type='submit' data-slug="{{ event.slug }}"><span class='fa fa-plus'></span></button>
				</span>
			</div>
		</li>
	</ul>
</div>
