{% load zenaida daguerre %}
<div class="masthead clearfix">
	{% if event.logo_image %}
		<div class="masthead-logo">
			{% adjust event.logo_image 'fit' width=75 height=75 as image %}
			<img src="{{ image }}" width="{{ image.width }}" height="{{ image.height }}">
		</div>
	{% endif %}
	<div{% if event.logo_image %} class="masthead-inner"{% endif %}>	
		<h1 class="masthead-bold">
			<a class="uncolored-link" href="{% url "brambling_event_shop" event.slug %}">{{ event.name }}</a>
			{% if event_admin_nav %}
				<div class="pull-right">
					<button class="btn btn-primary-light dropdown-toggle" type="button" id="manageEventMenu" data-toggle="dropdown">
						Manage Event <i class="caret"></i>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="manageEventMenu">
						<li>
							<a role="menuitem" href="{% url 'brambling_event_shop' event.slug %}">
								<i class="fa fa-shopping-cart fa-fw"></i>
								View Shop
							</a>
						</li>
						<li role="presentation" class="divider"></li>
						{% for item in event_admin_nav %}
							<li>
								<a role="menuitem" href="{{ item.url }}">
									{% if item.icon %}
										<i class="fa {{ item.icon }} fa-fw"></i>
									{% endif %}
									{{ item.label }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		</h1>
		<p class="text-large">
			{% include "brambling/event/_when_where.html" %}
		</p>
	</div>
</div>
{% if event.banner_image %}
	<img src="{% adjust event.banner_image 'fill' width=940 height=200 %}" width="940" height="200" class="img-responsive">
{% endif %}
