{% load zenaida %}
<div class="masthead">
	<h1 class="masthead-bold">
		<a class="uncolored-link" href="{% url "brambling_event_shop" event.slug %}">{{ event.name }}</a>
	</h1>
	<p class="text-large">
		{% td_to_dict event.start_date|td_timeuntil as time_until_event %}
		<span class='tipped' data-toggle="tooltip" data-placement="bottom" data-container="body"{% if time_until_event.days > 1%} title="{{ time_until_event.days }} day{{ time_until_event|pluralize }} from now"{% endif %}>
			<i class="fa fa-clock-o fa-fw"></i>

			{# start date #}
			{% if time_until_event.days == 0 %}
				Today
			{% elif time_until_event.days == 1 %}
				Tomorrow
			{% else %}
				{{ event.start_date }}
			{% endif %}

			{# end date #}
			{% if event.start_date != event.end_date %}
				&#8211; {{ event.end_date }}
			{% endif %}
		</span>

		<i class="fa fa-map-marker fa-fw"></i>
		{{ event.city }}, {{ event.state_or_province }}, {{ event.country }}
		{% if event_admin_nav %}
			<div class="btn-toolbar">
				<div class='btn-group'>
					<a class='btn btn-primary-light tipped' role="menuitem" href="{% url 'brambling_event_shop' event.slug %}" title="View Shop" data-toggle="tooltip" data-placement="bottom" data-container="body">
						<i class="fa fa-fw fa-shopping-cart"></i>
					</a>
				</div>
				<div class='btn-group'>
					{% for item in event_admin_nav %}
						<a class="btn btn-primary-light tipped {% if item.is_active %} active{% endif %}" role="menuitem" title="{{ item.label }}" data-toggle="tooltip" data-placement="bottom" data-container="body" href="{{ item.url }}"><i class="fa fa-fw {{ item.icon }}"></i></a>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</p>
</div>
