{% if order %}
	<div class="stepbar stepbar-{{ order.steps|length }}-up">
		{% for key, step in order.steps.items %}

			{# a or div, depending on if the step is accessible #}
			<{% if step.accessible %}a href="{{ step.url }}"{% else %}div{% endif %} class="step {% if step.accessible and step.complete %}complete{% endif %}">

			{% if step.accessible and step.complete %}
				<i class="fa fa-check fa-fw"></i>
			{% endif %}

			{{ step.name }}

			{# a or div, depending on if the step is accessible #}
			</{% if step.accessible %}a{% else %}div{% endif %}>

		{% endfor %}
	</div>
{% endif %}
