{% load zenaida tz %}

{% timezone event.timezone %}
	{% td_to_dict event.start_date|td_timeuntil as time_until_event %}
{% endtimezone %}

{# start date #}
{% if time_until_event.days == 0 %}
	Today
{% elif time_until_event.days == 1 %}
	Tomorrow
{% else %}
	{{ event.start_date }}
{% endif %}

{% if event.start_date == event.end_date %}
	{% if event.start_time and event.end_time %}
		from {{ event.start_time }} to {{ event.end_time }}
	{% elif event.start_time %}
		at {{ event.start_time }}
	{% elif event.end_time %}
		until {{ event.end_time }}
	{% endif %}
{% else %}
	{% if event.start_time %}
		at {{ event.start_time }}
	{% endif %}

	{# end date #}
	to {{ event.end_date }}

	{% if event.end_time %}
		at {{ event.end_time }}
	{% endif %}
{% endif %}

{# days left#}
{% if time_until_event.days > 1 and time_until_event.days < 15 %}
	(in {{ time_until_event.days }} day{{ time_until_event|pluralize }})
{% endif %}
