{% extends 'brambling/event/__manage.html' %}

{% load floppyforms zenaida static %}

{% block title %}Attendees – {{ block.super }}{% endblock %}

{% block main %}
    {{ block.super }}

    {% include "brambling/event/_empty_shop_alert.html" %}

    <div class="row">
        <div class="col-md-3 col-md-push-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Filters</h4>
                </div>
                <div class="panel-body">
                    <form action="" method="get">
                        {% form filter.form %}
                        <button class="btn btn-primary btn-block">Filter</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-md-pull-3">
            <button class="btn btn-default pull-right" data-toggle="modal" data-target="#exporterModal">
                <i class="fa fa-download"></i>
                Export to CSV
            </button>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        {% if event.collect_housing_data %}
                            <th>Housing status</th>
                        {% endif %}
                        <th>Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for attendee in filter %}
                        <tr>
                            <th>{{ attendee.get_full_name }}</th>
                            {% if event.collect_housing_data %}
                                <td>{{ attendee.get_housing_status_display }}</td>
                            {% endif %}
                            <td>
                                {% regroup attendee.get_groupable_items by item_option.item as item_list %}

                                {% for options in item_list %}
                                    <div class='row'>
                                        <div class='col-sm-3'><strong>{{ options.grouper }}</strong></div>
                                        <div class='col-sm-9'>{% for item in options.list %}{{ item.item_option.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
                                    </div>
                                {% endfor %}
                            <td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="2">No items match the filter criteria.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

        <div class="modal fade" id="exporterModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="" method="get">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Export CSV</h4>
                        </div>
                        <div class="modal-body">
                            <p>Limit attendees in data:</p>
                            {% form filter.form %}
                            <p>Include these fields in data:</p>
                            {% form csv_form %}
                            <input type="hidden" name="format" id="id_format" value="csv" />{# TODO: maybe this should be part of the form class? #}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-download"></i> Download CSV</button>
                        </div>
                    </form>
                </div>{# /.modal-content #}
            </div>{# /.modal-dialog #}
        </div>{# /.modal #}
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "zenaida/js/bootstrap/modal.js" %}"></script>
{% endblock %}
