{% extends 'brambling/event/__full_nav.html' %}

{% load floppyforms zenaida %}

{% block title %}{% if attendee.pk %}Edit {{ attendee.get_full_name }}{% else %}Add an attendee{% endif %} – {{ block.super }}{% endblock %}

{% block main %}
	{{ block.super }}

	<h3>{% if attendee.pk %}Edit attendee: {{ attendee.get_full_name }}{% else %}Add an attendee{% endif %}</h3>

	{# novalidate - see https://github.com/brutasse/django-floppyforms/issues/75 #}
	<div class="row">
		<div class="col-md-8">
			<form action="{{ request.path }}" method="post" novalidate>
				{% csrf_token %}
				{% form form using %}
					{% formconfig row using "floppyforms/rows/bootstrap.html" %}

					<div class="row">
						<div class="col-md-6">
							{% formrow form.given_name %}
						</div>
						<div class="col-md-6">
							{% formrow form.surname %}
						</div>
					</div>

					<div class="row collapse" id="extraName">
						<div class="col-sm-6">
							{% formrow form.middle_name %}
						</div>
						<div class="col-sm-6">
							{% formrow form.name_order %}
						</div>
					</div>

					<a href="#extraName" data-toggle="collapse" class="{% if masthead %}masthead-link {% endif %}pull-right more-name-options"><small><i class="fa fa-plus"></i> More Name Options</small></a>
					{% formrow form.email %}
					{% formrow form.phone %}

					{% formrow form.liability_waiver with label="I hereby release "|add:event.name|add:", its officers, and its employees from all liability of injury, loss, or damage to personal property associated with this event. I acknowledge that I understand the content of this document. I am aware that it is legally binding and I accept it out of my own free will." %}
					{% formrow form.photo_consent %}

					{% if form.housing_status %}
						{% formrow form.housing_status %}
					{% endif %}
				{% endform %}
				<button class='btn btn-primary' type="submit">{% if attendee.pk %}Save changes{% else %}Add attendee{% endif %}</button>
				{% if attendee.pk %}<a href="../">Cancel</a>{% endif %}
			</form>
		</div>
		<div class='col-md-4'>
			<div class='panel panel-default'>
				<header class='panel-heading'>
					<h3 class='panel-title'>Attendees <a href="{% url 'brambling_event_attendee_add' event_slug=event.slug %}"><span class='fa fa-plus'></span></a></h3>
				</header>
				<div class='list-group'>
					{% for attendee in attendees %}
						<a class='list-group-item' href='{% url "brambling_event_attendee_edit" event_slug=event.slug pk=attendee.pk %}'>{{ attendee.get_full_name }}</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
