{% extends 'brambling/event/__full_nav.html' %}

{% load floppyforms zenaida %}

{% block javascripts %}
	{{ block.super }}

	{% include 'brambling/event/_use_discount_js.html' %}

	<script>
		$(function(){
			$('a[target]').on('click', function(e){
				e.preventDefault();
				$.post($(this).attr('target'), function(){
					// For now, just reload the page.
					location.reload();
				});
			})
		});
	</script>
{% endblock %}

{% block main %}
	{{ block.super }}
	
	<h3>Step 2: Assign items to attendees</h3>

	{# novalidate - see https://github.com/brutasse/django-floppyforms/issues/75 #}
	<div class="row">
		<div class="col-md-8">
			<form class='form-horizontal' action="{{ request.path }}" method="post" novalidate>
				{% csrf_token %}

				{% for form in forms %}
					{% form form using %}
						{% for field in form.hidden_fields %}
							{{ field }}
						{% endfor %}
						{% with field=form.attendee %}
							<div class='form-group{% if field.errors %} has-error{% endif %}'>
								<label class='control-label col-sm-4'>{{ form.instance.item_option.name }}</label>
								<div class='col-sm-8'>
									{% formfield field %}
									{% if field.errors %}
										{% include "floppyforms/errors.html" with errors=field.errors %}
									{% endif %}
								</div>
							</div>
						{% endwith %}
					{% endform %}
				{% endfor %}
				<div class='col-sm-8 col-sm-offset-4'>
					<div class='form-group'>
						<button class='btn btn-success btn-lg btn-block'>Next step <span class='glyphicon glyphicon-chevron-right'></span></button>
					</div>
				</div>
			</form>
		</div>
		<div class='col-md-4'>
			<div class='panel panel-default'>
				<header class='panel-heading'>
					<h3 class='panel-title'>Attendees <a href="{% url 'brambling_event_attendee_add' event_slug=event.slug %}"><span class='glyphicon glyphicon-plus'></span></a></h3>
				</header>
				<ul class='list-group'>
					{% for attendee in attendees %}
						<li class='list-group-item'>
							{{ attendee.name }}
							<ul class='list-inline pull-right'>
								<li><a href='{% url "brambling_event_attendee_edit" event_slug=event.slug pk=attendee.pk %}'><span class='glyphicon glyphicon-pencil'></span></a></li>
								<li><a target='{% url "brambling_event_attendee_delete" event_slug=event.slug pk=attendee.pk %}' href='javascript://' class='text-danger'><span class='glyphicon glyphicon-remove'></span></a></li>
							</ul>
						</li>
					{% endfor %}
				</ul>
			</div>
			{% include 'brambling/event/_discounts.html' %}
		</div>
	</div>
{% endblock %}
