{% extends 'brambling/event/__mini_nav.html' %}

{% load floppyforms zenaida %}

{% block main %}
    <div class="row">
        <div class="col-md-3 col-md-push-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Filters</h4>
                </div>
                <div class="panel-body">
                    <form action="" method="get">
                        {% form filter.form %}
                        <button class="btn btn-primary btn-block">Filter</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-md-pull-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        {% if event.collect_housing_data %}
                            <th>Housing status</th>
                        {% endif %}
                        <th>Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for attendee in filter %}
                        <tr>
                            <th>{{ attendee.name }}</th>
                            {% if event.collect_housing_data %}
                                <td>{{ attendee.get_housing_status_display }}</td>
                            {% endif %}
                            <td>
                                {% regroup attendee.get_groupable_items by item_option.item as item_list %}

                                {% for options in item_list %}
                                    <div class='row'>
                                        <div class='col-sm-3'><strong>{{ options.grouper }}</strong></div>
                                        <div class='col-sm-9'>{% for item in options.list %}{{ item.item_option.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
                                    </div>
                                {% endfor %}
                            <td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="2">No items match the filter criteria.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
