{% extends 'brambling/event/__base.html' %}

{% load floppyforms %}

{% block javascripts %}
	{{ block.super }}
	<script>
		var selects = $('select[name$=-owner]');
		selects.on('change', function(){
			var $this = $(this),
				name = $this.attr('name'),
				prefix = name.substr(0, name.length - 6),
				buyer_id = $('#' + prefix + '-subforms').data('buyer'),
				value = $this.val();
			if (value == buyer_id) {
				$('#' + prefix + '-buyer-forms').show();
				$('#' + prefix + '-owner-forms').hide();
			} else {
				$('#' + prefix + '-owner-forms').show();
				$('#' + prefix + '-buyer-forms').hide();
			}
		});
		selects.change();
	</script>
{% endblock %}

{% block main %}
	<h2>Your cart</h2>

	<form action="" method="post">
		{% csrf_token %}

		{{ formset.management_form }}

		{% for form in formset.forms %}
			<h3>{{ form.instance.item.name }}</h3>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">{{ form.instance.item_option.name }}</h4>
				</div>
				<div class="panel-body">
					<ul class='list-inline'>
						<li>{{ form.instance.added|date:"G:i:s l, F jS, Y" }}</li>
						<li>&middot;</li>
						<li>{{ form.instance.buyer.name }}{% if form.instance.buyer == request.user %} (you){% endif %}</li>
						<li>&middot;</li>
						<li>{{ form.instance.get_status_display }}</li>
					</ul>
					{% form form %}
					{% if form.item.category == form.item.PASS %}
						<div id='{{ form.prefix }}-subforms' data-buyer="{{ form.instance.buyer.pk }}">
							<div id='{{ form.prefix }}-owner-forms'>
								<p>Owner forms</p>
								{% form form.owner_forms.eventperson %}
								{% form form.owner_forms.guest %}
								{% form form.buyer_forms.host %}
							</div>
							<div id='{{ form.prefix }}-buyer-forms'>
								<p>Buyer forms</p>
								{% form form.buyer_forms.eventperson %}
								{% form form.buyer_forms.guest %}
								{% form form.buyer_forms.host %}
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		{% endfor %}

		<button type="submit" class="btn btn-primary">Save</button>
	</form>
{% endblock %}
