{% extends 'brambling/event/__base.html' %}

{% load floppyforms %}

{% block javascripts %}
	{{ block.super }}

	{% include 'brambling/event/_use_discount_js.html' %}
	<script>
		$(function() {
			var housingselects = $('select[name$=-housing]');
			housingselects.on('change', function(){
				var $this = $(this),
					name = $this.attr('name'),
					prefix = name.substr(0, name.length - 8),
					show_guest_class = '.' + prefix + '-show-guest',
					show_host_class = '.' + prefix + '-show-host',
					value = $this.val();
				if (value !== 'need') {
					$(show_guest_class).hide();
				}
				if (value !== 'host') {
					$(show_host_class).hide();
				}
				if (value === 'need') {
					$(show_guest_class).show();
				} else if (value === 'host') {
					$(show_host_class).show();
				}
			});
			housingselects.change();
		});
	</script>
{% endblock %}

{% block main %}
	<div class="row">
		<div class="col-md-8">
			<form action="" method="post" novalidate>
				{% csrf_token %}

				<h4>Step 2: Provide housing data</h4>

				{% for form in forms %}
					<div class='panel panel-default'>
						<header class='panel-heading'>
							<div class='panel-title'>{{ form.personitem.item_option.item.name }} ({{ form.personitem.item_option.name }})</div>
						</header>
						<div class='panel-body'>
							{% form form using %}
								{% formconfig row using "floppyforms/rows/bootstrap.html" %}
								{% formrow form.housing %}
								<div class='row {{ form.prefix }}-show-guest {{ form.prefix }}-show-host'>
									<div class='col-md-4'>
										{% formrow form.car_spaces %}
									</div>
									<div class='col-md-4'>
										{% formrow form.bedtime %}
									</div>
									<div class='col-md-4'>
										{% formrow form.wakeup %}
									</div>
								</div>
							{% endform %}
							<div class='{{ form.prefix }}-show-guest'>
								{% form form.guest_form using "brambling/forms/guest.html" %}
							</div>
							{% if form.host_form %}
								<div class='{{ form.prefix }}-show-host'>
									{% form form.host_form using "brambling/forms/host.html" %}
								</div>
							{% endif %}
						</div>
					</div>
				{% endfor %}

				<button type="submit" class="btn btn-primary btn-block">Save</button>
			</form>
		</div>
		<div class='col-md-4'>
			{% include 'brambling/event/_discounts.html' %}
		</div>
	</div>
{% endblock %}
