{% extends 'brambling/event/__base.html' %}

{% load floppyforms %}

{% block javascripts %}
	{{ block.super }}
	<script>
		var ownerselects = $('select[name$=-owner]');
		ownerselects.on('change', function(){
			var $this = $(this),
				name = $this.attr('name'),
				prefix = name.substr(0, name.length - 6),
				subforms = $('#' + prefix + '-subforms'),
				buyer_id = subforms.data('buyer'),
				owner_id = subforms.data('owner'),
				value = $this.val();
			if (value == owner_id) {
				$('#' + prefix + '-owner-forms').show();
				$('#' + prefix + '-buyer-forms').hide();
				$('#' + prefix + '-empty-forms').hide();
			} else if (value == buyer_id) {
				$('#' + prefix + '-owner-forms').hide();
				$('#' + prefix + '-buyer-forms').show();
				$('#' + prefix + '-empty-forms').hide();
			} else {
				$('#' + prefix + '-owner-forms').hide();
				$('#' + prefix + '-buyer-forms').hide();
				$('#' + prefix + '-empty-forms').show();
			}
		});
		ownerselects.change();

		var housingselects = $('select[name$=-eventperson-housing]');
		housingselects.on('change', function(){
			var $this = $(this),
				name = $this.attr('name'),
				prefix = name.substr(0, name.length - 20),
				show_guest_class = '.' + prefix + '-show-guest',
				show_host_class = '.' + prefix + '-show-host',
				value = $this.val();
			if (value !== 'need') {
				$(show_guest_class).hide();
			}
			if (value !== 'host') {
				$(show_host_class).hide();
			}
			if (value === 'need') {
				$(show_guest_class).show();
			} else if (value === 'host') {
				$(show_host_class).show();
			}
		})
		housingselects.change();
	</script>
{% endblock %}

{% block main %}
	<h2>Your cart</h2>

	<form novalidate action="" method="post">
		{% csrf_token %}

		{{ formset.management_form }}

		{% for form in formset.forms %}
			<h3>{{ form.instance.item.name }}</h3>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">{{ form.instance.item_option.name }}</h4>
				</div>
				<div class="panel-body">
					<ul class='list-inline'>
						<li>{{ form.instance.added|date:"G:i:s l, F jS, Y" }}</li>
						<li>&middot;</li>
						<li>{{ form.instance.buyer.name }}{% if form.instance.buyer == request.user %} (you){% endif %}</li>
						<li>&middot;</li>
						<li>{{ form.instance.get_status_display }}</li>
					</ul>
					{% form form %}
					{% if form.item.category == form.item.PASS %}
						<div id='{{ form.prefix }}-subforms' data-owner="{{ form.instance.owner.pk }}" data-buyer="{{ form.instance.buyer.pk }}">
							<div id='{{ form.prefix }}-owner-forms'>
								<h3>Owner forms</h3>
								{% with prefix=form.owner_forms.eventperson.prefix|slice:":-12" %}
									{% form form.owner_forms.eventperson using "brambling/forms/eventperson.html" with prefix=prefix %}
									{% form form.owner_forms.guest using "brambling/forms/guest.html" with prefix=prefix %}
									{% if form.owner_forms.host %}
										{% form form.owner_forms.host using "brambling/forms/host.html" with prefix=prefix %}
									{% endif %}
								{% endwith %}
							</div>
							{% if form.buyer_forms %}
								<div id='{{ form.prefix }}-buyer-forms'>
									<h3>Buyer forms</h3>
									{% with prefix=form.buyer_forms.eventperson.prefix|slice:":-12" %}
										{% form form.buyer_forms.eventperson using "brambling/forms/eventperson.html" with prefix=prefix %}
										{% form form.buyer_forms.guest using "brambling/forms/guest.html" with prefix=prefix %}
										{% form form.buyer_forms.host using "brambling/forms/host.html" with prefix=prefix %}
									{% endwith %}
								</div>
							{% endif %}
							{% if form.empty_forms %}
								<div id='{{ form.prefix }}-empty-forms'>
									<h3>Empty forms</h3>
									{% with prefix=form.empty_forms.eventperson.prefix|slice:":-12" %}
										{% form form.empty_forms.eventperson using "brambling/forms/eventperson.html" with prefix=prefix %}
										{% form form.empty_forms.guest using "brambling/forms/guest.html" with prefix=prefix %}
									{% endwith %}
								</div>
							{% endif %}
						</div>
					{% endif %}
				</div>
			</div>
		{% endfor %}

		<button type="submit" class="btn btn-primary">Save</button>
	</form>
{% endblock %}
