{% extends 'brambling/event/__mini_nav.html' %}

{% load zenaida %}

{% block main %}
	<p><a class="btn btn-primary" href="{% url 'brambling_discount_create' event_slug=event.slug %}">Create discount</a></p>
	{% if discounts %}
		<table class='table table-striped'>
			<thead>
				<tr>
					<th>Name</th>
					<th>Code</th>
					<th>Item</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
			{% for discount in discounts %}
				<tr>
					<td><a href="{% url 'brambling_discount_update' event_slug=event.slug pk=discount.pk %}">{{ discount.name }}</a></td>
					<td>{{ discount.code }}</td>
					<td>{{ discount.item_option }}</td>
					<td>{% if discount.discount_type == discount.PERCENT %}{{ discount.amount }}%{% else %} {{ discount.amount|format_money:event.currency }}{% endif %}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}
