{% extends 'brambling/event/__mini_nav.html' %}

{% load floppyforms %}

{% block title %}{% if discount.pk %}Edit {{ discount.name }}{% else %}Add a discount{% endif %} – {{ block.super }}{% endblock %}

{% block main %}
	<h2>{% if discount.pk %}Edit discount: {{ discount.name }}{% else %}Add a discount{% endif %}</h2>

	{# novalidate - see https://github.com/brutasse/django-floppyforms/issues/75 #}
	<form action="{{ request.path }}" method="post" novalidate>
		{% csrf_token %}
		{% form discount_form using "brambling/forms/discount.html" %}
		<button class='btn btn-primary' type="submit">{% if discount.pk %}Save changes{% else %}Add discount{% endif %}</button>
		{% if discount.pk %}<a href="../">Cancel</a>{% endif %}
	</form>
{% endblock %}
