{% extends 'brambling/event/__mini_nav.html' %}

{% load floppyforms %}

{% block javascripts %}
	{{ block.super }}

	{% include 'brambling/event/_use_discount_js.html' %}
{% endblock %}

{% block main %}
	{{ block.super }}

	<h3>Step 5: Provide hosting data</h3>

	<div class="row">
		<div class="col-md-8">
			<form action="" method="post" novalidate>
				{% csrf_token %}

				{% form form using "brambling/forms/hosting.html" %}

				{% for form in form.slot_forms %}
					<h5>Spaces for {{ form.instance.night }}</h5>
					{% form form using %}
						<div class='row'>
							<div class='col-xs-6'>{% formrow form.spaces with label="Comfy" %}</div>
							<div class='col-xs-6'>{% formrow form.spaces_max with label="Max" %}</div>
						</div>
					{% endform %}
				{% endfor %}

				<button type="submit" class="btn btn-success btn-block btn-lg">Next step <span class='glyphicon glyphicon-chevron-right'></span></button>
			</form>
		</div>
		<div class='col-md-4'>
			{% include 'brambling/event/_discounts.html' %}
		</div>
	</div>
{% endblock %}
