{% extends 'brambling/event/__base.html' %}

{% load floppyforms %}

{% block main %}
	<h2>Confirm housing details</h2>


	<form action="{{ request.path }}" method="post">
		{% csrf_token %}
		{% form forms.person using %}
			<div class="panel panel-default">
				<header class="panel-heading">
					<h4 class="panel-title">Event information</h4>
				</header>
				<div class="panel-body">
					<div class="row">
						<div class='col-md-4'>{% formrow form.car_spaces %}</div>
						<div class='col-md-4'>{% formrow form.bedtime %}</div>
						<div class='col-md-4'>{% formrow form.wakeup %}</div>
					</div>
					{% formrow form.housing %}
				</div>
			</div>{# /.panel #}
		{% endform %}
		{% form forms.guest using %}
			<div class="panel panel-default">
				<header class="panel-heading">
					<h4 class="panel-title"><a href="#guestInfo" data-toggle="collapse">Guest information</a></h4>
				</header>
				<div class="panel-collapse collapse" id="guestInfo">
					<div class="panel-body">
						<div class="row">
							<div class='col-md-6'>{% formrow form.nights %}</div>
							<div class='col-md-6'>{% formrow form.housing_prefer %}</div>
						</div>
						<div class="row">
							<div class='col-md-2'><h5>Environmental factors</h5></div>
							<div class='col-md-5'>{% formrow form.ef_cause %}</div>
							<div class='col-md-5'>{% formrow form.ef_avoid %}</div>
						</div>
						<div class="row">
							<div class='col-md-2'><h5>People</h5></div>
							<div class='col-md-5'>{% formrow form.person_prefer %}</div>
							<div class='col-md-5'>{% formrow form.person_avoid %}</div>
						</div>
						{% formrow form.other_needs %}
						{% formrow form.save_as_defaults %}
					</div>
				</div>
			</div>{# /.panel #}
		{% endform %}
		{% form forms.hosting using %}
			<div class="panel panel-default">
				<header class="panel-heading">
					<h4 class="panel-title"><a href="#hostInfo" data-toggle="collapse">Host information</a></h4>
				</header>
				<div class="panel-collapse collapse" id="hostInfo">
					<div class="panel-body">
						<div class="row">
							<div class='col-md-6'>{% formrow form.spaces %}</div>
							<div class='col-md-6'>{% formrow form.spaces_max %}</div>
						</div>
						<div class="row">
							<div class='col-md-6'>{% formrow form.nights %}</div>
							<div class='col-md-6'>{% formrow form.housing_categories %}</div>
						</div>
						<div class="row">
							<div class='col-md-2'><h5>Environmental factors</h5></div>
							<div class='col-md-5'>{% formrow form.ef_present %}</div>
							<div class='col-md-5'>{% formrow form.ef_avoid %}</div>
						</div>
						<div class="row">
							<div class='col-md-2'><h5>People</h5></div>
							<div class='col-md-5'>{% formrow form.person_prefer %}</div>
							<div class='col-md-5'>{% formrow form.person_avoid %}</div>
						</div>
						{% formrow form.other_needs %}
						{% formrow form.save_as_defaults %}
					</div>
				</div>
			</div>{# /.panel #}
		{% endform %}
		<button class='btn btn-default' type='submit'>Submit</button>
	</form>
{% endblock %}
