{% extends 'brambling/event/__mini_nav.html' %}

{% load floppyforms %}

{% block main %}
	<h2>{% if item.pk %}Edit item: {{ item.name }}{% else %}Add an item{% endif %}</h2>

	{# novalidate - see https://github.com/brutasse/django-floppyforms/issues/75 #}
	<form action="{{ request.path }}" id="itemForm" method="post" novalidate>
		{% csrf_token %}
		{% form item_form using %}
			<div class="row">
				<div class="col-md-6">{% formrow form.name %}</div>
				<div class="col-md-6">{% formrow form.category %}</div>
			</div>

			{% formrow form.description %}
		{% endform %}

		<p class="text-muted">Click on an option to expand it. Drag and drop to reorder.</p>

		{{ itemoption_formset.management_form }}

		{% if itemoption_formset.non_form_errors %}
			{% for error in itemoption_formset.non_form_errors %}
				<p class='text-danger'>{{ error }}</p>
			{% endfor %}
		{% endif %}

		{# template for additional item option forms #}
		<div class="hidden">
			<div class='panel panel-default item-option item-option-template'>
				<header class='panel-heading'>
					<div class='panel-title'>
						<a href="#{{ itemoption_formset.empty_form.prefix }}-collapse" data-toggle="collapse">
							<i class="glyphicon glyphicon-chevron-down"></i> Option <span class="count"></span>
						</a>
						<div class="actions pull-right"></div>
					</div>
				</header>
				<div class="panel-collapse collapse in" id="{{ itemoption_formset.empty_form.prefix }}-collapse">
					<div class='panel-body'>
						{% form itemoption_formset.empty_form using "brambling/forms/itemoption.html" %}
					</div>
				</div>
			</div>
		</div>

		<div class="item-options-list panel-group">
			{% for form in itemoption_formset.forms %}
				<div class='panel panel-{% if form.errors %}danger{% else %}default{% endif %} item-option'>
					<header class='panel-heading'>
						<div class='panel-title'>
							<a href="#{{ form.prefix }}-collapse" title="click to expand" data-toggle="collapse">
								<i class="glyphicon glyphicon-chevron-down"></i> Option <span class="count">{{ forloop.counter }}</span>
							</a>
							<div class="actions pull-right"></div>
						</div>{# /.panel-title #}
					</header>
						<div class="panel-collapse collapse{% if form.errors or not form.instance.pk %} in{% endif %}" id="{{ form.prefix }}-collapse">
							<div class='panel-body'>
								{% form form using "brambling/forms/itemoption.html" %}
							</div>
						</div>
				</div>
			{% endfor %}
		</div>

		<div class="well"></div>

		<button class='btn btn-primary' type="submit">{% if item.pk %}Save changes{% else %}Add item{% endif %}</button>
		{% if item.pk %}<a href="../">Cancel</a>{% endif %}
	</form>
{% endblock %}

{% block javascripts %}
	{{ block.super }}
	<script type="text/javascript">
		(function () {
			"use strict";
			var item_options_renumber = function () {
				$('.item-options-list .item-option:visible').each(function(i){
					$(this).find('.count').html(i+1);
				});
			};

			$('.item-options-list').on('row_added.formset row_removed.formset reordered.formset', item_options_renumber);

			$('.item-options-list').formset({
				prefix: '{{ itemoption_formset.prefix }}',
				deleteTrigger: '<a href="#"><i class="glyphicon glyphicon-remove"></i></a>',
				deleteWrapper: '.actions',
				addWrapper: '#itemForm .well',
				formTemplate: '.item-option-template',
				sortableHandle: '.panel-heading',
				sortableField: 'order'
			})
		}());
	</script>
{% endblock %}
