{% extends 'brambling/event/__full_nav.html' %}

{% load floppyforms zenaida %}

{% block title %}Order {{ order.pk }} – {{ block.super }}{% endblock %}

{% block javascripts %}
	{{ block.super }}

	<script type='text/javascript'>
		var discountReload = true;
	</script>
	{% include 'brambling/event/_use_discount_js.html' %}
	{% include 'brambling/event/_confirmation_screen.html' %}
	{% include "brambling/_stripe_js.html" %}
{% endblock %}

{% block main %}
	{{ block.super }}

	<table class='table'>
		<thead>
			<tr>
				<th>Items</th>
				<th>Type</th>
				<th>Timestamp</th>
				<th>Status</th>
				<th class='text-right'>Amount ({{ event.currency }})</th>
			</tr>
		</thead>
		<tbody>
			{% for item in bought_items %}
				<tr{% if item.status == item.UNPAID %} class='danger'{% endif %}>
					<td>{{ item.item_option.item.name }} ({{ item.item_option.name }})</td>
					<td>{{ item.item_option.item.get_category_display }}</td>
					<td class='text-muted'>{{ item.added|date:"n/j/Y H:i:s" }}</td>
					<td>{{ item.get_status_display }}</td>
					<td class='text-right'>{{ item.item_option.price }}</td>
				</tr>
			{% endfor %}
			<tr class='active'>
				<td colspan=5>
					<strong>Total cost</strong><strong class='pull-right'>{{ total_cost|format_money:event.currency }}</strong>
				</td>
			</tr>
			<tr>
				<th colspan=5>Discounts</th>
			</tr>
			{% regroup discounts by discount as discount_list %}
			{% for discount in discount_list %}
				{% for bought_item_discount in discount.list %}
					<tr>
						<td>{% if forloop.first%}{{ discount.grouper.name }}{% endif %}</td>
						{% with item_option=bought_item_discount.bought_item.item_option %}
							<td>{{ item_option.item.name }} ({{ item_option.name }})</td>
						{% endwith %}
						<td class='text-muted'>{{ bought_item_discount.timestamp|date:"n/j/Y H:i:s" }}</td>
						<td></td>
						<td class='text-right'>{{ bought_item_discount.savings|format_money:event.currency }}</td>
					</tr>
				{% endfor %}
			{% endfor %}
			<tr{% if total_savings > 0 %} class='danger'{% endif %}>
				<td colspan=5>
					<strong>Total savings</strong><strong class='pull-right'>{{ total_savings|format_money:event.currency }}</strong>
				</td>
			</tr>
			<tr>
				<th colspan=5>Payments</th>
			</tr>
			{% for payment in payments %}
				<tr>
					<td>{{ payment.card }}</td>
					<td>{{ payment.get_method_display }}</td>
					<td class='text-muted'>{{ payment.timestamp|date:"n/j/Y H:i:s" }}</td>
					<td></td>
					<td class='text-right'>{{ payment.amount|format_money:event.currency }}</td>
				</tr>
			{% endfor %}
			<tr{% if total_payments > 0 %} class='success'{% endif %}>
				<td colspan=5>
					<strong>Total payments</strong><strong class='pull-right'>{{ total_payments|format_money:event.currency }}</strong>
				</td>
			</tr>
			<tr class='{% if balance < 0 %}success text-success{% elif balance > 0 %}danger text-danger{% else %}active{% endif %}'>
				<td colspan=5><strong>Balance</strong><strong class='pull-right'>{% if balance < 0 %}Owed {% elif balance > 0 %}Owes {% endif %}{{ balance|absolute_value|format_money:event.currency }}</strong></td>
			</tr>
		</tbody>
	</table>

	<h2>Manually enter payment</h2>
	{% include 'brambling/_stripe_form.html' %}
	<form novalidate action="" method="post" id='card-form'>
		{% csrf_token %}
		<input name='new_card' value='1' type='hidden'>

		{% formrow new_card_form.save_card %}

		{% for error in new_card_form.non_field_errors %}
			<div class='alert alert-danger'>
				{{ error }}
			</div>
		{% endfor %}

		<button type="submit" id='card-submit' class="btn btn-primary"{% if not order.cart_is_valid %} disabled{% endif %}>Pay now ({{ balance|format_money:event.currency }})</button>
	</form>
	{% include 'brambling/_stripe_note.html' %}
{% endblock %}
