{% extends 'brambling/event/__manage.html' %}

{% load floppyforms zenaida staticfiles %}

{% block title %}Order {{ order.pk }} – {{ block.super }}{% endblock %}

{% block javascripts %}
	{{ block.super }}

	{% include "brambling/_stripe_js.html" %}
	<script src="{% static 'zenaida/js/bootstrap/tab.js' %}"></script>
	<script>
		$('[data-toggle=tab]').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		});
		$('.removeDiscountLink').on('click', function(e){
			e.preventDefault();
			$.post($(this).attr('href'), function(){
				location.reload();
			});
		});
		$('#applyDiscountForm button').on('click', function(e){
			e.preventDefault();
			var url = $('#applyDiscountForm').attr('action');
			$.post(url, $('#applyDiscountForm').serialize(), function(data) {
				if (data.success) {
					location.reload();
				} else {
					var select = $('applyDiscountForm select');
					select.after('<p class="help-block">' + data.errors.discount + '</p>');
					select.parent().addClass('has-error');
				}
			});
		});
	</script>
{% endblock %}

{% block main %}
	{{ block.super }}

	<table class='table'>
		<thead>
			<tr>
				<th>Items</th>
				<th>Type</th>
				<th>Timestamp</th>
				<th>Status</th>
				<th></th>
				<th class='text-right'>Amount ({{ event.currency }})</th>
			</tr>
		</thead>
		<tbody>
			{% for item in bought_items %}
				<tr{% if item.status == item.UNPAID %} class='danger'{% endif %}>
					<td>{{ item.item_option.item.name }} ({{ item.item_option.name }})</td>
					<td>{{ item.item_option.item.get_category_display }}</td>
					<td class='text-muted'>{{ item.added|date:"n/j/Y H:i:s" }}</td>
					<td>{{ item.get_status_display }}</td>
					<td>Edit item / attendee! Remove item from order!</td>
					<td class='text-right'>{{ item.item_option.price|format_money:event.currency }}</td>
				</tr>
			{% endfor %}
			<tr class='active'>
				<td colspan=6>
					<strong>Total cost</strong><strong class='pull-right'>{{ total_cost|format_money:event.currency }}</strong>
				</td>
			</tr>
			<tr>
				<th colspan=6>Discounts</th>
			</tr>
			{% regroup discounts by discount as discount_list %}
			{% for discount in discount_list %}
				{% for bought_item_discount in discount.list %}
					<tr>
						<td>{% if forloop.first%}{{ discount.grouper.name }}{% endif %}</td>
						{% with item_option=bought_item_discount.bought_item.item_option %}
							<td>{{ item_option.item.name }} ({{ item_option.name }})</td>
						{% endwith %}
						<td class='text-muted'>{{ bought_item_discount.timestamp|date:"n/j/Y H:i:s" }}</td>
						<td></td>
						<td><a href="{% url 'brambling_event_remove_discount' event_slug=event.slug code=order.code discount_pk=bought_item_discount.pk %}" class='removeDiscountLink'><span class='fa fa-times fa text-danger'></span></a></td>
						<td class='text-right'>{{ bought_item_discount.savings|format_money:event.currency }}</td>
					</tr>
				{% endfor %}
			{% endfor %}
			<tr class='active'>
				<td colspan=6>
					<strong>Total savings</strong><strong class='pull-right'>{{ total_savings|format_money:event.currency }}</strong>
				</td>
			</tr>
			<tr>
				<th colspan=6>Payments</th>
			</tr>
			{% for payment in payments %}
				<tr>
					<td>{{ payment.card }}</td>
					<td>{{ payment.get_method_display }}</td>
					<td class='text-muted'>{{ payment.timestamp|date:"n/j/Y H:i:s" }}</td>
					<td></td>
					<td>Refund!</td>
					<td class='text-right'>{{ payment.amount|format_money:event.currency }}</td>
				</tr>
			{% endfor %}
			<tr class='active'>
				<td colspan=6>
					<strong>Total payments</strong><strong class='pull-right'>{{ total_payments|format_money:event.currency }}</strong>
				</td>
			</tr>
			<tr>
				<td colspan=6><strong>Balance</strong><strong class='pull-right'>{% if balance < 0 %}Owed {% elif balance > 0 %}Owes {% endif %}{{ balance|absolute_value|format_money:event.currency }}</strong></td>
			</tr>
		</tbody>
	</table>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#payment" role="tab" data-toggle="tab">Record payment</a></li>
  <li><a href="#item" role="tab" data-toggle="tab">Add Item</a></li>
  <li><a href="#discount" role="tab" data-toggle="tab">Apply discount</a></li>
  <li><a href="#refund" role="tab" data-toggle="tab">Settings</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane active" id="payment">
		<h3>Record payment - either process credit card payment or enter cash/check payment</h3>
		{% include 'brambling/_stripe_form.html' %}
		<form novalidate action="" method="post" id='card-form'>
			{% csrf_token %}
			<input name='new_card' value='1' type='hidden'>

			{% formrow new_card_form.save_card %}

			{% for error in new_card_form.non_field_errors %}
				<div class='alert alert-danger'>
					{{ error }}
				</div>
			{% endfor %}

			<button type="submit" id='card-submit' class="btn btn-primary"{% if not order.cart_is_valid %} disabled{% endif %}>Pay now ({{ balance|format_money:event.currency }})</button>
		</form>
		{% include 'brambling/_stripe_note.html' %}
	</div>
	<div class="tab-pane" id="item">
		<h3>Add item to order</h3>
	</div>
	<div class="tab-pane" id="discount">
		<h3>Apply discount to order</h3>
		<form id="applyDiscountForm" method='post' action='{% url "brambling_event_apply_discount" event_slug=event.slug code=order.code %}'>
			{% csrf_token %}
			{% form discount_form %}
			<button type='submit' class='btn btn-primary'>Apply discount</button>
		</form>
	</div>
	<div class="tab-pane" id="refund">
		<h3>Issue refund</h3>
	</div>
</div>
{% endblock %}
