{% extends 'brambling/event/__mini_nav.html' %}

{% load floppyforms zenaida %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Items</th>
            </tr>
        </thead>
        <tbody>
            {% for person in people %}
                <tr>
                    <th>{{ person.name }}</th>
                    <td>{{ person.items_bought.count }} Items<td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="1">No one has purchased any items your shop.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
