{% extends 'brambling/event/__full_nav.html' %}

{% load floppyforms zenaida %}

{% block title %}Records – {{ block.super }}{% endblock %}

{% block javascripts %}
	{{ block.super }}

	<script type='text/javascript'>
		var discountReload = true;
	</script>
	{% include 'brambling/event/_use_discount_js.html' %}
	{% include 'brambling/event/_confirmation_screen.html' %}
	{% include "brambling/_stripe_js.html" %}
{% endblock %}

{% block main %}
	{{ block.super }}

	{% if event_person.person.confirmed_email and not event_person.cart_is_valid %}
		<div class='alert alert-danger'>
			<h4>Please correct the following issues with your registration:</h4>

			<ul>
				{% for error, url in event_person.cart_errors %}
					<li><a class='alert-link' href="{{ url }}">{{ error }}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<div class='panel panel-primary'>
		<header class='panel-heading'>
			<div class='panel-title'><a href='#items-collapse' data-toggle='collapse'>Items {% if personitems %}<span class='caret'></span>{% endif %}
			</a> {% if cart %}<span class='pull-right'>{% include "brambling/event/_expiry_countdown.html" with expiry_time=cart.expires only %}{% endif%}</div>
		</header>
		<div class='collapse table-collapse-wrapper' id='items-collapse'>
			<table class='table table-striped'>
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Timestamp</th>
						<th>Status</th>
						<th class='text-right'>Amount ({{ event.currency }})</th>
					</tr>
				</thead>
				<tbody>
					{% for item in personitems %}
						<tr{% if item.status == item.UNPAID %} class='danger'{% endif %}>
							<td>{{ item.item_option.item.name }} ({{ item.item_option.name }})</td>
							<td>{{ item.item_option.item.get_category_display }}</td>
							<td class='text-muted'>{{ item.added|date:"n/j/Y H:i:s" }}</td>
							<td>{{ item.get_status_display }}</td>
							<td class='text-right'>{{ item.item_option.price }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<ul class='list-group'>
			<li class='list-group-item{% if total_cost > 0 %} list-group-item-danger{% endif %}'><strong>Total cost</strong><strong class='pull-right'>{{ total_cost|format_money:event.currency }}</strong></li>
		</ul>
	</div>
	<div class='panel panel-primary'>
		<header class='panel-heading'>
			<div class='row'>
				<div class='panel-title col-xs-8'><a href='#discounts-collapse' data-toggle='collapse'>Discounts {% if discounts %}<span class='caret'></span>{% endif %}</a></div>
				<div class='panel-heading-form col-xs-4'>
					<div class='input-group'>
						<input id='discountCode' class='form-control' placeholder='Discount code' autocomplete='off'>
						<span class='input-group-btn'>
							<button id='discountCodeButton' class='btn btn-default' type='submit' data-slug="{{ event.slug }}"><span class='fa fa-plus'></span></button>
						</span>
					</div>
				</form>
			</div>
		</header>
		<div class='collapse table-collapse-wrapper' id='discounts-collapse'>
			<table class='table'>
				<thead>
					<tr>
						<th>Name</th>
						<th>Code</th>
						<th></th>
						<th class='text-right'>Amount ({{ event.currency }})</th>
					</tr>
				</thead>
				<tbody>
					{% regroup discounts by discount as discount_list %}
					{% for discount in discount_list %}
						{% cycle 0 1 as stripe silent %}
						<tr{% if stripe %} class='active'{% endif %}>
							<th>{{ discount.grouper.name }}</th>
							<td>{{ discount.grouper.code }}</td>
							<td></td>
							<td></td>
						</tr>
						{% for bought_item_discount in discount.list %}
							<tr{% if stripe %} class='active'{% endif %}>
								<th>{% if forloop.first %}Applied to:{% endif %}</th>
								{% with item_option=bought_item_discount.bought_item.item_option %}
									<td>{{ item_option.item.name }} ({{ item_option.name }})</td>
								{% endwith %}
								<td class='text-muted'>{{ bought_item_discount.timestamp|date:"n/j/Y H:i:s" }}</td>
								<td class='text-right'>{{ bought_item_discount.savings|format_money:event.currency }}</td>
							</tr>
						{% endfor %}
					{% endfor %}
				</tbody>
			</table>
		</div>
		<ul class='list-group'>
			<li class='list-group-item{% if total_savings > 0 %} list-group-item-success{% endif %}'><strong>Total savings</strong><strong class='pull-right'>{{ total_savings|format_money:event.currency }}</strong></li>
		</ul>
	</div>
	<div class='panel panel-primary'>
		<header class='panel-heading'>
			<div class='panel-title'><a href='#payments-collapse' data-toggle='collapse'>Payments {% if payments %}<span class='caret'></span>{% endif %}
			</a></div>
		</header>
		<div class='collapse table-collapse-wrapper' id='payments-collapse'>
			<table class='table table-striped'>
				<thead>
					<tr>
						<th>Timestamp</th>
						<th>Method</th>
						<th class='text-right'>Amount ({{ event.currency }})</th>
					</tr>
				</thead>
				<tbody>
					{% for payment in payments %}
						<tr>
							<td>{{ payment.timestamp|date:"n/j/Y H:i:s" }}</td>
							<td>{{ payment.card }}</td>
							<td class='text-right'>{{ payment.amount|format_money:event.currency }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<ul class='list-group'>
			<li class='list-group-item{% if total_payments > 0 %} list-group-item-success{% endif %}'><strong>Total payments</strong><strong class='pull-right'>{{ total_payments|format_money:event.currency }}</strong></li>
		</ul>
	</div>

	<div class='panel panel-primary'>
		<table class='table'>
			<tbody>
				<tr{% if balance < 0 %} class='success text-success'{% elif balance > 0 %} class='danger text-danger'{% endif %}>
					<th>Balance</th>
					<td class='text-right'>{% if balance < 0 %}Owed {% elif balance > 0 %}Owe {% endif %}<strong>{{ balance|absolute_value|format_money:event.currency }}</strong></td>
				</tr>
			</tbody>
		</table>
	</div>
	{% if balance > 0 %}
		{% if has_cards %}
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
								Pay with a saved card
							</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse{% if not request.POST.new_card %} in{% endif %}">
						<div class="panel-body">
							<form novalidate action="" method="post">
								{% csrf_token %}
								<input name='choose_card' value='1' type='hidden'>
								{% formrow choose_card_form.card %}

								{% for error in choose_card_form.non_field_errors %}
									<div class='alert alert-danger'>
										{{ error }}
									</div>
								{% endfor %}

								<button type="submit" class="btn btn-primary"{% if not event_person.cart_is_valid %} disabled{% endif %}>Pay now ({{ balance|format_money:event.currency }})</button>
							</form>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
								Pay with a new card
							</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse{% if request.POST.new_card %} in{% endif %}">
						<div class="panel-body">
		{% endif %}

		{% include 'brambling/_stripe_form.html' %}
		<form novalidate action="" method="post" id='card-form'>
			{% csrf_token %}
			<input name='new_card' value='1' type='hidden'>

			{% formrow new_card_form.save_card %}

			{% for error in new_card_form.non_field_errors %}
				<div class='alert alert-danger'>
					{{ error }}
				</div>
			{% endfor %}

			<button type="submit" id='card-submit' class="btn btn-primary"{% if not event_person.cart_is_valid %} disabled{% endif %}>Pay now ({{ balance|format_money:event.currency }})</button>
		</form>

		{% if has_cards %}
						</div>
					</div>
				</div>
			</div>
		{% endif %}
		{% include 'brambling/_stripe_note.html' %}
	{% elif event_person.has_cart %}
		<form novalidate action="" method="post">
			{% csrf_token %}
			<button type="submit" class="btn btn-primary"{% if not event_person.cart_is_valid %} disabled{% endif %}>Confirm cart purchases</button>
		</form>
	{% endif %}
{% endblock %}
