{% extends 'brambling/event/__base.html' %}

{% load floppyforms %}

{% block main %}
	<h2>Reserve things!</h2>

	<div class="row">
		<div class="col-md-8">
			{% for item, forms in items %}
				<div class='panel panel-default'>
					<header class='panel-heading'>
						<div class='panel-title'>{{ item.name }}</div>
					</header>
					<div class='panel-body'>
						<ul class='list-inline'>
							{% for form in forms %}
								<li>
									<form action="{{ request.path }}" method="post">
										{% csrf_token %}
										<button type="submit" class="btn btn-lg btn-primary">{{ form.item_option.name }}</button>
										{% for field in form %}{{ field.as_hidden }}{% endfor %}
									</form>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endfor %}
		</div>
		{% if cart %}
			<div class="col-md-4">
				<div class='panel panel-default'>
					<header class='panel-heading'>
						<div class='panel-title'>Cart ({{ cart_total }})</div>
					</header>
					{% regroup cart by item as cart_list %}
					<ul class='list-group'>
						{% for options in cart_list %}
							<li class='list-group-item'><strong>{{ options.grouper }}</strong></li>
							{% for option in options.list %}
								<li class='list-group-item'>
									<span class="badge">{{ option.quantity }}</span>
									{{ option.name }}
								</li>
							{% endfor %}
						{% endfor %}
					</ul>
					<div class='list-group'>
						<a class='list-group-item' href="{% url 'brambling_event_cart' slug=event.slug %}">
							<span class='glyphicon glyphicon-shopping-cart'></span>
							Continue checkout
						</a>
					</div>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
