{% extends 'brambling/event/__base.html' %}

{% load floppyforms zenaida %}

{% block javascripts %}
	{{ block.super }}

	{% include 'brambling/event/_use_discount_js.html' %}

	<script>
		$(function(){
			$('a[target]').on('click', function(e){
				e.preventDefault();
				$.post($(this).attr('target'), function(){
					// For now, just reload the page.
					location.reload();
				});
			})
		});
	</script>
{% endblock %}

{% block main %}
	<h3>Step 1: Shop</h3>
	<div class="row">
		<div class="col-md-7">
			{% for item in items %}
				<div class='panel panel-default'>
					<header class='panel-heading'>
						<div class='panel-title'>{{ item.name }}</div>
					</header>
					<div class='list-group'>
						{% for option in item.options.all %}
							<a target='{% url "brambling_event_shop_add" slug=event.slug pk=option.pk %}' href='javascript://' class="list-group-item">
								<div class='row'>
									<div class='col-xs-4'>{{ option.name }}</div>
									<div class='col-xs-4 text-center'>{{ option.price|format_money:event.currency }}</div>
									<div class='col-xs-4 text-right'><span class='glyphicon glyphicon-plus'></span></div>
								</div>
							</a>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="col-md-5">
			{% if cart %}
				<div class='alert alert-info'>
					<p class='lead text-right'>
						<small>Cart expires</small>
						{% include "brambling/event/_expiry_countdown.html" with expiry_time=cart.expires only %}
					</p>
				</div>
				<div class='form-group'>
					<a class='btn btn-success btn-lg btn-block' href="{% url 'brambling_event_ownership' slug=event.slug %}">Next step <span class='glyphicon glyphicon-chevron-right'></span></a>
				</div>
				<div class='panel panel-default'>
					<header class='panel-heading'>
						<div class='panel-title'>
							Cart
						</div>
					</header>
					{% regroup cart.get_groupable_contents by item_option.item as cart_list %}
					<ul class='list-group'>
						{% for options in cart_list %}
							<li class='list-group-item'><strong>{{ options.grouper }}</strong></li>
							{% for personitem in options.list %}
								<li class='list-group-item'>
									{{ personitem.item_option.name }} <a target='{% url "brambling_event_shop_remove" slug=event.slug pk=personitem.pk %}' href='javascript://' class='text-danger pull-right'><span class='glyphicon glyphicon-remove'></span></a>
								</li>
							{% endfor %}
						{% endfor %}
					</ul>
				</div>
			{% endif %}

			{% include 'brambling/event/_discounts.html' %}
		</div>
	</div>
{% endblock %}
