{% extends 'brambling/event/__base.html' %}

{% load floppyforms %}

{% block javascripts %}
	{{ block.super }}

	{% include 'brambling/event/_use_discount_js.html' %}

	<script>
		$(function(){
			$('a[target]').on('click', function(e){
				e.preventDefault();
				$.post($(this).attr('target'), function(){
					// For now, just reload the page.
					location.reload();
				});
			})
		});
	</script>
{% endblock %}

{% block main %}
	<div class="row">
		<div class="col-md-8">
			{% for item in items %}
				<div class='panel panel-default'>
					<header class='panel-heading'>
						<div class='panel-title'>{{ item.name }}</div>
					</header>
					<div class='list-group'>
						{% for option in item.options.all %}
							<a target='{% url "brambling_event_shop_add" slug=event.slug pk=option.pk %}' href='javascript://' class="list-group-item">{{ option.name }} – {{ option.price }} {{ event.currency }} <span class='pull-right glyphicon glyphicon-plus'></span></a>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="col-md-4">
			{% include 'brambling/event/_use_discount_form.html' %}

			{% if cart %}
				<div class='panel panel-default'>
					<header class='panel-heading'>
						<div class='panel-title'>Cart ({{ cart.total }})</div>
					</header>
					{% regroup cart.get_groupable_contents by item_option.item as cart_list %}
					<ul class='list-group'>
						{% for options in cart_list %}
							<li class='list-group-item'><strong>{{ options.grouper }}</strong></li>
							{% for personitem in options.list %}
								<li class='list-group-item'>
									{{ personitem.item_option.name }} <a target='{% url "brambling_event_shop_remove" slug=event.slug pk=personitem.pk %}' href='javascript://' class='text-danger pull-right'><span class='glyphicon glyphicon-remove'></span></a>
								</li>
							{% endfor %}
						{% endfor %}
					</ul>
				</div>
			{% endif %}

			<div class='panel panel-default{% if not discounts %} hidden{% endif %}' id='discounts'>
				<header class='panel-heading'>
					<div class='panel-title'>Discounts</div>
				</header>
				<ul class='list-group'>
					{% for discount in discounts %}
						<li class='list-group-item'>
							{{ discount.discount.name }} <em class='text-muted'>{{ discount.discount.code }}</em>
						</li>
					{% endfor %}
				</ul>
			</div>

			{% if cart %}
				<a class='btn btn-block btn-primary' href="{% url 'brambling_event_finalize' slug=event.slug %}">
					<span class='glyphicon glyphicon-shopping-cart'></span>
					Finalize cart
				</a>
			{% endif %}
		</div>
	</div>
{% endblock %}
