{% extends 'brambling/event/__full_nav.html' %}

{% load floppyforms zenaida %}

{% block javascripts %}
	{{ block.super }}

	{% include 'brambling/event/_use_discount_js.html' %}

	<script>
		$(function(){
			$('a[target]').on('click', function(e){
				e.preventDefault();
				$.post($(this).attr('target'), function(){
					// For now, just reload the page.
					location.reload();
				});
			})
		});
	</script>
{% endblock %}

{% block main %}
	{{ block.super }}
	
	<h3>Step 1: Shop</h3>
	<div class="row">
		<div class="col-md-7">
			{% for item in items %}
				<div class='panel panel-default'>
					<header class='panel-heading'>
						<div class='panel-title'>{{ item.name }}</div>
					</header>
					<div class='list-group'>
						{% for option in item.options.all %}
							<a target='{% url "brambling_event_shop_add" event_slug=event.slug pk=option.pk %}' href='javascript://' class="list-group-item">
								<div class='row'>
									<div class='col-xs-4'>{{ option.name }}</div>
									<div class='col-xs-4 text-center'>{{ option.price|format_money:event.currency }}</div>
									<div class='col-xs-4 text-right'><span class='glyphicon glyphicon-plus'></span></div>
								</div>
							</a>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="col-md-5">
			{% with has_cart=event_person.has_cart %}
				{% if event_person.requires_attendees %}
					{% url 'brambling_event_attendee_items' event_slug=event.slug as next_url %}
				{% elif not event_person.survey_completed %}
					{% url 'brambling_event_survey' event_slug=event.slug as next_url %}
				{% else %}
					{% url 'brambling_event_records' event_slug=event.slug as next_url %}
				{% endif %}
				<div class='form-group'>
					<a class='btn btn-success btn-lg btn-block{% if not has_cart %} disabled{% endif %}' href="{{ next_url }}">Next step <span class='glyphicon glyphicon-chevron-right'></span></a>
				</div>
				{% if has_cart %}
					<div class='panel panel-default'>
						<header class='panel-heading'>
							<div class='panel-title'>
								Cart
							</div>
						</header>
						{% regroup event_person.get_groupable_cart by item_option.item as cart_list %}
						<ul class='list-group'>
							{% for options in cart_list %}
								<li class='list-group-item'><strong>{{ options.grouper }}</strong></li>
								{% for personitem in options.list %}
									<li class='list-group-item'>
										{{ personitem.item_option.name }} <a target='{% url "brambling_event_shop_remove" event_slug=event.slug pk=personitem.pk %}' href='javascript://' class='text-danger pull-right'><span class='glyphicon glyphicon-remove'></span></a>
									</li>
								{% endfor %}
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			{% endwith %}

			{% include 'brambling/event/_discounts.html' %}
		</div>
	</div>
{% endblock %}
