{% extends 'brambling/layouts/12.html' %}

{% block title %}500 Error – {{ block.super }}{% endblock %}

{% block main %}
	<h1>500 Error</h1>
    <p>Seems like an error has occurred. But don't worry, here's what you can do about it:</p>
    <ul>
        <li>Try again by reloading the page. Maybe it was a temporary glitch.</li>
        <li>Let us know you got here? You can email <a href="mailto:support@dancerfly.com">support@dancerfly.com</a> or use the feedback tool in the lower right.</li>
        <li>If you aren't sure how you got here, try the <a href="/">Dancerfly homepage</a></li>
    </ul>

	<p>We look forward to hearing from you. Perferably about things that aren't errors. But, you know, we want to hear about the errors, too.</p>
{% endblock main %}
