https://www.djangoproject.com/download/1.7b1/tarball/
pytz==2013.9
unicode-slugify==0.1.1
django-countries==2.0
# Not strictly required, but we will definitely be using it eventually.
Pillow==2.3.1
django-floppyforms==1.1.1
