Django==1.7.4
pytz==2013.9
sqlparse==0.1.11
unicode-slugify==0.1.1
django-countries==2.0
django-debug-toolbar==1.2
django-debug-toolbar-template-timings==0.6.1
django-filter==0.7
django-grappelli==2.6.2
Pillow==2.5.3
django-daguerre==2.1.2
six==1.5.2
django-floppyforms==1.2.0
django-localflavor==1.0
stripe==1.20.1
requests==2.5.1
dwolla==2.0.5
django-talkback==0.1.0
# our own django-zenaida - @master until we reach a peggable point.
https://github.com/littleweaver/django-zenaida/tarball/master

# Testing
mock==1.0.1
factory-boy==2.4.1
tox==1.8.1
virtualenv==12.0.6
py==1.4.26
