interactions:
- request:
    body: card%5Bnumber%5D=4242424242424242&card%5Bexp_year%5D=2017&card%5Bcvc%5D=123&card%5Bexp_month%5D=12
    headers:
      Authorization: [Bearer sk_test_OBAqgCaFyOUaaFwHJirSbg9D]
      Content-Type: [application/x-www-form-urlencoded]
      Stripe-Version: ['2016-03-07']
    method: POST
    uri: https://api.stripe.com/v1/tokens
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"tok_1AKCFA2dPuL5A6oojItHki9O\"\
        ,\n  \"object\": \"token\",\n  \"card\": {\n    \"id\": \"card_1AKCFA2dPuL5A6oop0qvsM1Z\"\
        ,\n    \"object\": \"card\",\n    \"address_city\": null,\n    \"address_country\"\
        : null,\n    \"address_line1\": null,\n    \"address_line1_check\": null,\n\
        \    \"address_line2\": null,\n    \"address_state\": null,\n    \"address_zip\"\
        : null,\n    \"address_zip_check\": null,\n    \"brand\": \"Visa\",\n    \"\
        country\": \"US\",\n    \"cvc_check\": \"unchecked\",\n    \"dynamic_last4\"\
        : null,\n    \"exp_month\": 12,\n    \"exp_year\": 2017,\n    \"fingerprint\"\
        : \"l4ENmRZWbEtyXQRg\",\n    \"funding\": \"credit\",\n    \"last4\": \"4242\"\
        ,\n    \"metadata\": {},\n    \"name\": null,\n    \"tokenization_method\"\
        : null\n  },\n  \"client_ip\": \"65.183.132.230\",\n  \"created\": 1494966368,\n\
        \  \"livemode\": false,\n  \"type\": \"card\",\n  \"used\": false\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-03-07']
    status: {code: 200, message: OK}
- request:
    body: application_fee=250&source=tok_1AKCFA2dPuL5A6oojItHki9O&currency=USD&amount=10000&expand%5B%5D=balance_transaction&metadata%5Border%5D=000001&metadata%5Bevent%5D=Test+event
    headers:
      Authorization: [Bearer sk_test_OBAqgCaFyOUaaFwHJirSbg9D]
      Content-Type: [application/x-www-form-urlencoded]
      Stripe-Account: [acct_15VviQKDDJKt8tvu]
      Stripe-Version: ['2016-03-07']
    method: POST
    uri: https://api.stripe.com/v1/charges
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"ch_1AKCFAKDDJKt8tvuOJUHwMOo\"\
        ,\n  \"object\": \"charge\",\n  \"amount\": 10000,\n  \"amount_refunded\"\
        : 0,\n  \"application\": \"ca_4chEaXTzoWf7wlHdukG9gYj2n4ivgvpR\",\n  \"application_fee\"\
        : \"fee_1AKCFAKDDJKt8tvuRUn116pA\",\n  \"balance_transaction\": {\n    \"\
        id\": \"txn_1AKCFAKDDJKt8tvuadaYRsbg\",\n    \"object\": \"balance_transaction\"\
        ,\n    \"amount\": 10000,\n    \"available_on\": 1495497600,\n    \"created\"\
        : 1494966368,\n    \"currency\": \"usd\",\n    \"description\": null,\n  \
        \  \"fee\": 570,\n    \"fee_details\": [\n      {\n        \"amount\": 320,\n\
        \        \"application\": null,\n        \"currency\": \"usd\",\n        \"\
        description\": \"Stripe processing fees\",\n        \"type\": \"stripe_fee\"\
        \n      },\n      {\n        \"amount\": 250,\n        \"application\": \"\
        ca_4chEaXTzoWf7wlHdukG9gYj2n4ivgvpR\",\n        \"currency\": \"usd\",\n \
        \       \"description\": \"Dancerfly application fee\",\n        \"type\"\
        : \"application_fee\"\n      }\n    ],\n    \"net\": 9430,\n    \"source\"\
        : \"ch_1AKCFAKDDJKt8tvuOJUHwMOo\",\n    \"sourced_transfers\": {\n      \"\
        object\": \"list\",\n      \"data\": [],\n      \"has_more\": false,\n   \
        \   \"total_count\": 0,\n      \"url\": \"/v1/transfers?source_transaction=ch_1AKCFAKDDJKt8tvuOJUHwMOo\"\
        \n    },\n    \"status\": \"pending\",\n    \"type\": \"charge\"\n  },\n \
        \ \"captured\": true,\n  \"created\": 1494966368,\n  \"currency\": \"usd\"\
        ,\n  \"customer\": null,\n  \"description\": null,\n  \"destination\": null,\n\
        \  \"dispute\": null,\n  \"failure_code\": null,\n  \"failure_message\": null,\n\
        \  \"fraud_details\": {},\n  \"invoice\": null,\n  \"livemode\": false,\n\
        \  \"metadata\": {\n    \"order\": \"000001\",\n    \"event\": \"Test event\"\
        \n  },\n  \"on_behalf_of\": null,\n  \"order\": null,\n  \"outcome\": {\n\
        \    \"network_status\": \"approved_by_network\",\n    \"reason\": null,\n\
        \    \"risk_level\": \"normal\",\n    \"seller_message\": \"Payment complete.\"\
        ,\n    \"type\": \"authorized\"\n  },\n  \"paid\": true,\n  \"receipt_email\"\
        : null,\n  \"receipt_number\": null,\n  \"refunded\": false,\n  \"refunds\"\
        : {\n    \"object\": \"list\",\n    \"data\": [],\n    \"has_more\": false,\n\
        \    \"total_count\": 0,\n    \"url\": \"/v1/charges/ch_1AKCFAKDDJKt8tvuOJUHwMOo/refunds\"\
        \n  },\n  \"review\": null,\n  \"shipping\": null,\n  \"source\": {\n    \"\
        id\": \"card_1AKCFAKDDJKt8tvuMMlrzHYX\",\n    \"object\": \"card\",\n    \"\
        address_city\": null,\n    \"address_country\": null,\n    \"address_line1\"\
        : null,\n    \"address_line1_check\": null,\n    \"address_line2\": null,\n\
        \    \"address_state\": null,\n    \"address_zip\": null,\n    \"address_zip_check\"\
        : null,\n    \"brand\": \"Visa\",\n    \"country\": \"US\",\n    \"customer\"\
        : null,\n    \"cvc_check\": \"pass\",\n    \"dynamic_last4\": null,\n    \"\
        exp_month\": 12,\n    \"exp_year\": 2017,\n    \"fingerprint\": \"ER8TJFn2KwxGXmA8\"\
        ,\n    \"funding\": \"credit\",\n    \"last4\": \"4242\",\n    \"metadata\"\
        : {},\n    \"name\": null,\n    \"tokenization_method\": null\n  },\n  \"\
        source_transfer\": null,\n  \"statement_descriptor\": null,\n  \"status\"\
        : \"succeeded\",\n  \"transfer_group\": null\n}\n"}
    headers:
      content-type: [application/json]
      stripe-account: [acct_15VviQKDDJKt8tvu]
      stripe-version: ['2016-03-07']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer sk_test_RtvEzuMs6zepSHO9CvQUx9xK]
      Stripe-Version: ['2016-03-07']
    method: GET
    uri: https://api.stripe.com/v1/charges/ch_1AKCFAKDDJKt8tvuOJUHwMOo
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"ch_1AKCFAKDDJKt8tvuOJUHwMOo\"\
        ,\n  \"object\": \"charge\",\n  \"amount\": 10000,\n  \"amount_refunded\"\
        : 0,\n  \"application\": \"ca_4chEaXTzoWf7wlHdukG9gYj2n4ivgvpR\",\n  \"application_fee\"[...]
- request:
    body: amount=10000&expand%5B%5D=balance_transaction&refund_application_fee=True&metadata%5Border%5D=000001&metadata%5Bevent%5D=Test+event
    headers:
      Authorization: [Bearer sk_test_RtvEzuMs6zepSHO9CvQUx9xK]
      Content-Type: [application/x-www-form-urlencoded]
      Stripe-Version: ['2016-03-07']
    method: POST
    uri: https://api.stripe.com/v1/charges/ch_1AKCFAKDDJKt8tvuOJUHwMOo/refunds
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"re_1AKCFCKDDJKt8tv[...]
- request:
    body: null
    headers:
      Authorization: [Bearer sk_test_OBAqgCaFyOUaaFwHJirSbg9D]
      Stripe-Version: ['2016-03-07']
    method: GET
    uri: https://api.stripe.com/v1/application_fees?charge=ch_1AKCFAKDDJKt8tvuOJUHwMOo
  response:
    body: {string: !!python/unicode "{\n  \"object\": \"list\",\n  \"data\": [\n \
        \   {\n      \"id\": \"fee_1AKCFAKDDJKt8tvuRUn116pA\",\n      \"object\":\
        \ \"application_fee\",\n      \"account\": \"acct_15VviQKDDJKt8tvu\",\n  \
        \    \"amount\": 250,\n      \"amount_refunded\": 250,\n      \"application\"\
        : \"ca_4chEaXTzoWf7wlHdukG9gYj2n4ivgvpR\",\n      \"balance_transaction\"\
        : \"txn_1AKCFA2dPuL5A6ooBYi2O5PE\",\n      \"charge\": \"ch_1AKCFAKDDJKt8tvuOJUHwMOo\"\
        ,\n      \"created\": 1494966368,\n      \"currency\": \"usd\",\n      \"\
        livemode\": false,\n      \"originating_transaction\": null,\n      \"refunded\"\
        : true,\n      \"refunds\": {\n        \"object\": \"list\",\n        \"data\"\
        : [\n          {\n            \"id\": \"fr_AfXJyxuhMLoDiF\",\n           \
        \ \"object\": \"fee_refund\",\n            \"amount\": 250,\n            \"\
        balance_transaction\": \"txn_1AKCFC2dPuL5A6ooL11dPn7L\",\n            \"created\"\
        : 1494966370,\n            \"currency\": \"usd\",\n            \"fee\": \"\
        fee_1AKCFAKDDJKt8tvuRUn116pA\",\n            \"metadata\": {}\n          }\n\
        \        ],\n        \"has_more\": false,\n        \"total_count\": 1,\n \
        \       \"url\": \"/v1/application_fees/fee_1AKCFAKDDJKt8tvuRUn116pA/refunds\"\
        \n      }\n    }\n  ],\n  \"has_more\": false,\n  \"url\": \"/v1/application_fees\"\
        \n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-03-07']
    status: {code: 200, message: OK}
version: 1
