interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer sk_test_OBAqgCaFyOUaaFwHJirSbg9D]
      Stripe-Version: ['2016-03-07']
    method: GET
    uri: https://api.stripe.com/v1/events/evt_18EgsB2dPuL5A6oo1eOhCyit
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"evt_18EgsB2dPuL5A6oo1eOhCyit\"\
        ,\n  \"object\": \"event\",\n  \"api_version\": \"2015-01-11\",\n  \"created\"\
        : 1464101467,\n  \"data\": {\n    \"object\": {\n      \"id\": \"ch_18C9kF2dPuL5A6ooUE5opsBX\"\
        ,\n      \"object\": \"charge\",\n      \"amount\": 12000,\n      \"amount_refunded\"\
        : 6000,\n      \"application_fee\": null,\n      \"balance_transaction\":\
        \ \"txn_18C9kF2dPuL5A6ooysxS4uFL\",\n      \"captured\": true,\n      \"card\"\
        : {\n        \"id\": \"card_18C9kF2dPuL5A6ooIVeNe8kV\",\n        \"object\"\
        : \"card\",\n        \"address_city\": null,\n        \"address_country\"\
        : null,\n        \"address_line1\": null,\n        \"address_line1_check\"\
        : null,\n        \"address_line2\": null,\n        \"address_state\": null,\n\
        \        \"address_zip\": null,\n        \"address_zip_check\": null,\n  \
        \      \"brand\": \"Visa\",\n        \"country\": \"US\",\n        \"customer\"\
        : null,\n        \"cvc_check\": \"pass\",\n        \"dynamic_last4\": null,\n\
        \        \"exp_month\": 11,\n        \"exp_year\": 2019,\n        \"fingerprint\"\
        : \"l4ENmRZWbEtyXQRg\",\n        \"funding\": \"credit\",\n        \"last4\"\
        : \"4242\",\n        \"metadata\": {},\n        \"name\": null,\n        \"\
        tokenization_method\": null\n      },\n      \"created\": 1463497467,\n  \
        \    \"currency\": \"usd\",\n      \"customer\": null,\n      \"description\"\
        : null,\n      \"destination\": null,\n      \"dispute\": null,\n      \"\
        failure_code\": null,\n      \"failure_message\": null,\n      \"fraud_details\"\
        : {},\n      \"invoice\": null,\n      \"livemode\": false,\n      \"metadata\"\
        : {\n        \"order\": \"7pMR6czT\",\n        \"event\": \"Demo Event\"\n\
        \      },\n      \"order\": null,\n      \"paid\": true,\n      \"receipt_email\"\
        : null,\n      \"receipt_number\": null,\n      \"refunded\": false,\n   \
        \   \"refunds\": {\n        \"object\": \"list\",\n        \"data\": [\n \
        \         {\n            \"id\": \"re_18EgsB2dPuL5A6ooGEq33q9o\",\n      \
        \      \"object\": \"refund\",\n            \"amount\": 6000,\n          \
        \  \"balance_transaction\": \"txn_18EgsB2dPuL5A6oozQ0nLPkz\",\n          \
        \  \"charge\": \"ch_18C9kF2dPuL5A6ooUE5opsBX\",\n            \"created\":\
        \ 1464101467,\n            \"currency\": \"usd\",\n            \"metadata\"\
        : {\n              \"order\": \"7pMR6czT\",\n              \"event\": \"Demo\
        \ Event\"\n            },\n            \"reason\": null,\n            \"receipt_number\"\
        : null,\n            \"status\": \"succeeded\"\n          }\n        ],\n\
        \        \"has_more\": false,\n        \"total_count\": 1,\n        \"url\"\
        : \"/v1/charges/ch_18C9kF2dPuL5A6ooUE5opsBX/refunds\"\n      },\n      \"\
        shipping\": null,\n      \"source\": {\n        \"id\": \"card_18C9kF2dPuL5A6ooIVeNe8kV\"\
        ,\n        \"object\": \"card\",\n        \"address_city\": null,\n      \
        \  \"address_country\": null,\n        \"address_line1\": null,\n        \"\
        address_line1_check\": null,\n        \"address_line2\": null,\n        \"\
        address_state\": null,\n        \"address_zip\": null,\n        \"address_zip_check\"\
        : null,\n        \"brand\": \"Visa\",\n        \"country\": \"US\",\n    \
        \    \"customer\": null,\n        \"cvc_check\": \"pass\",\n        \"dynamic_last4\"\
        : null,\n        \"exp_month\": 11,\n        \"exp_year\": 2019,\n       \
        \ \"fingerprint\": \"l4ENmRZWbEtyXQRg\",\n        \"funding\": \"credit\"\
        ,\n        \"last4\": \"4242\",\n        \"metadata\": {},\n        \"name\"\
        : null,\n        \"tokenization_method\": null\n      },\n      \"source_transfer\"\
        : null,\n      \"statement_descriptor\": null,\n      \"status\": \"paid\"\
        \n    },\n    \"previous_attributes\": {\n      \"amount_refunded\": 0,\n\
        \      \"refunds\": {\n        \"object\": \"list\",\n        \"data\": [],\n\
        \        \"has_more\": false,\n        \"total_count\": 0,\n        \"url\"\
        : \"/v1/charges/ch_18C9kF2dPuL5A6ooUE5opsBX/refunds\"\n      }\n    }\n  },\n\
        \  \"livemode\": false,\n  \"pending_webhooks\": 0,\n  \"request\": \"req_8ViIc76ys8DfCL\"\
        ,\n  \"type\": \"charge.refunded\"\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-03-07']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer sk_test_OBAqgCaFyOUaaFwHJirSbg9D]
      Stripe-Version: ['2016-03-07']
    method: GET
    uri: https://api.stripe.com/v1/refunds/re_18EgsB2dPuL5A6ooGEq33q9o?expand%5B%5D=balance_transaction
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"re_18EgsB2dPuL5A6ooGEq33q9o\"\
        ,\n  \"object\": \"refund\",\n  \"amount\": 6000,\n  \"balance_transaction\"\
        : {\n    \"id\": \"txn_18EgsB2dPuL5A6oozQ0nLPkz\",\n    \"object\": \"balance_transaction\"\
        ,\n    \"amount\": -6000,\n    \"available_on\": 1464101467,\n    \"created\"\
        : 1464101467,\n    \"currency\": \"usd\",\n    \"description\": \"REFUND FOR\
        \ CHARGE\",\n    \"fee\": -174,\n    \"fee_details\": [\n      {\n       \
        \ \"amount\": -174,\n        \"application\": null,\n        \"currency\"\
        : \"usd\",\n        \"description\": \"Stripe processing fee refund\",\n \
        \       \"type\": \"stripe_fee\"\n      }\n    ],\n    \"net\": -5826,\n \
        \   \"source\": \"re_18EgsB2dPuL5A6ooGEq33q9o\",\n    \"sourced_transfers\"\
        : {\n      \"object\": \"list\",\n      \"data\": [],\n      \"has_more\"\
        : false,\n      \"total_count\": 0,\n      \"url\": \"/v1/transfers?source_transaction=re_18EgsB2dPuL5A6ooGEq33q9o\"\
        \n    },\n    \"status\": \"available\",\n    \"type\": \"refund\"\n  },\n\
        \  \"charge\": \"ch_18C9kF2dPuL5A6ooUE5opsBX\",\n  \"created\": 1464101467,\n\
        \  \"currency\": \"usd\",\n  \"metadata\": {\n    \"order\": \"7pMR6czT\"\
        ,\n    \"event\": \"Demo Event\"\n  },\n  \"reason\": null,\n  \"receipt_number\"\
        : null,\n  \"status\": \"succeeded\"\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-03-07']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer sk_test_OBAqgCaFyOUaaFwHJirSbg9D]
      Stripe-Version: ['2016-03-07']
    method: GET
    uri: https://api.stripe.com/v1/charges/ch_18C9kF2dPuL5A6ooUE5opsBX?expand%5B%5D=balance_transaction
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"ch_18C9kF2dPuL5A6ooUE5opsBX\"\
        ,\n  \"object\": \"charge\",\n  \"amount\": 12000,\n  \"amount_refunded\"\
        : 6000,\n  \"application_fee\": null,\n  \"balance_transaction\": {\n    \"\
        id\": \"txn_18C9kF2dPuL5A6ooysxS4uFL\",\n    \"object\": \"balance_transaction\"\
        ,\n    \"amount\": 12000,\n    \"available_on\": 1463616000,\n    \"created\"\
        : 1463497467,\n    \"currency\": \"usd\",\n    \"description\": null,\n  \
        \  \"fee\": 558,\n    \"fee_details\": [\n      {\n        \"amount\": 378,\n\
        \        \"application\": null,\n        \"currency\": \"usd\",\n        \"\
        description\": \"Stripe processing fees\",\n        \"type\": \"stripe_fee\"\
        \n      },\n      {\n        \"amount\": 180,\n        \"application\": \"\
        ca_4chEaXTzoWf7wlHdukG9gYj2n4ivgvpR\",\n        \"currency\": \"usd\",\n \
        \       \"description\": \"Dancerfly application fee\",\n        \"type\"\
        : \"application_fee\"\n      }\n    ],\n    \"net\": 11442,\n    \"source\"\
        : \"ch_18C9kF2dPuL5A6ooUE5opsBX\",\n    \"sourced_transfers\": {\n      \"\
        object\": \"list\",\n      \"data\": [],\n      \"has_more\": false,\n   \
        \   \"total_count\": 0,\n      \"url\": \"/v1/transfers?source_transaction=ch_18C9kF2dPuL5A6ooUE5opsBX\"\
        \n    },\n    \"status\": \"available\",\n    \"type\": \"charge\"\n  },\n\
        \  \"captured\": true,\n  \"created\": 1463497467,\n  \"currency\": \"usd\"\
        ,\n  \"customer\": null,\n  \"description\": null,\n  \"destination\": null,\n\
        \  \"dispute\": null,\n  \"failure_code\": null,\n  \"failure_message\": null,\n\
        \  \"fraud_details\": {},\n  \"invoice\": null,\n  \"livemode\": false,\n\
        \  \"metadata\": {\n    \"order\": \"7pMR6czT\",\n    \"event\": \"Demo Event\"\
        \n  },\n  \"order\": null,\n  \"paid\": true,\n  \"receipt_email\": null,\n\
        \  \"receipt_number\": null,\n  \"refunded\": false,\n  \"refunds\": {\n \
        \   \"object\": \"list\",\n    \"data\": [\n      {\n        \"id\": \"re_18EgsB2dPuL5A6ooGEq33q9o\"\
        ,\n        \"object\": \"refund\",\n        \"amount\": 6000,\n        \"\
        balance_transaction\": \"txn_18EgsB2dPuL5A6oozQ0nLPkz\",\n        \"charge\"\
        : \"ch_18C9kF2dPuL5A6ooUE5opsBX\",\n        \"created\": 1464101467,\n   \
        \     \"currency\": \"usd\",\n        \"metadata\": {\n          \"order\"\
        : \"7pMR6czT\",\n          \"event\": \"Demo Event\"\n        },\n       \
        \ \"reason\": null,\n        \"receipt_number\": null,\n        \"status\"\
        : \"succeeded\"\n      }\n    ],\n    \"has_more\": false,\n    \"total_count\"\
        : 1,\n    \"url\": \"/v1/charges/ch_18C9kF2dPuL5A6ooUE5opsBX/refunds\"\n \
        \ },\n  \"shipping\": null,\n  \"source\": {\n    \"id\": \"card_18C9kF2dPuL5A6ooIVeNe8kV\"\
        ,\n    \"object\": \"card\",\n    \"address_city\": null,\n    \"address_country\"\
        : null,\n    \"address_line1\": null,\n    \"address_line1_check\": null,\n\
        \    \"address_line2\": null,\n    \"address_state\": null,\n    \"address_zip\"\
        : null,\n    \"address_zip_check\": null,\n    \"brand\": \"Visa\",\n    \"\
        country\": \"US\",\n    \"customer\": null,\n    \"cvc_check\": \"pass\",\n\
        \    \"dynamic_last4\": null,\n    \"exp_month\": 11,\n    \"exp_year\": 2019,\n\
        \    \"fingerprint\": \"l4ENmRZWbEtyXQRg\",\n    \"funding\": \"credit\",\n\
        \    \"last4\": \"4242\",\n    \"metadata\": {},\n    \"name\": null,\n  \
        \  \"tokenization_method\": null\n  },\n  \"source_transfer\": null,\n  \"\
        statement_descriptor\": null,\n  \"status\": \"succeeded\"\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-03-07']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer sk_test_OBAqgCaFyOUaaFwHJirSbg9D]
      Stripe-Version: ['2016-03-07']
    method: GET
    uri: https://api.stripe.com/v1/application_fees?charge=ch_18C9kF2dPuL5A6ooUE5opsBX
  response:
    body: {string: !!python/unicode "{\n  \"object\": \"list\",\n  \"data\": [\n \
        \   {\n      \"id\": \"fee_8T5wqjX6ZHLBG7\",\n      \"object\": \"application_fee\"\
        ,\n      \"account\": \"acct_103ulr2dPuL5A6oo\",\n      \"amount\": 180,\n\
        \      \"amount_refunded\": 90,\n      \"application\": \"ca_4chEaXTzoWf7wlHdukG9gYj2n4ivgvpR\"\
        ,\n      \"balance_transaction\": \"txn_18C9kF2dPuL5A6oohnqRmwFk\",\n    \
        \  \"charge\": \"ch_18C9kF2dPuL5A6ooUE5opsBX\",\n      \"created\": 1463497467,\n\
        \      \"currency\": \"usd\",\n      \"livemode\": false,\n      \"originating_transaction\"\
        : null,\n      \"refunded\": false,\n      \"refunds\": {\n        \"object\"\
        : \"list\",\n        \"data\": [\n          {\n            \"id\": \"fr_8ViIe4waj0df4V\"\
        ,\n            \"object\": \"fee_refund\",\n            \"amount\": 90,\n\
        \            \"balance_transaction\": \"txn_18EgsB2dPuL5A6oogdpIlwvy\",\n\
        \            \"created\": 1464101467,\n            \"currency\": \"usd\",\n\
        \            \"fee\": \"fee_8T5wqjX6ZHLBG7\",\n            \"metadata\": {}\n\
        \          }\n        ],\n        \"has_more\": false,\n        \"total_count\"\
        : 1,\n        \"url\": \"/v1/application_fees/fee_8T5wqjX6ZHLBG7/refunds\"\
        \n      }\n    }\n  ],\n  \"has_more\": false,\n  \"url\": \"/v1/application_fees\"\
        \n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-03-07']
    status: {code: 200, message: OK}
version: 1
