interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer sk_test_OBAqgCaFyOUaaFwHJirSbg9D]
      Stripe-Version: ['2016-03-07']
    method: GET
    uri: https://api.stripe.com/v1/refunds/re_18EgsB2dPuL5A6ooGEq33q9o?expand%5B%5D=balance_transaction
  response:
    body: {string: !!python/unicode "{\n  \"id\": \"re_18EgsB2dPuL5A6ooGEq33q9o\"\
        ,\n  \"object\": \"refund\",\n  \"amount\": 6000,\n  \"balance_transaction\"\
        : {\n    \"id\": \"txn_18EgsB2dPuL5A6oozQ0nLPkz\",\n    \"object\": \"balance_transaction\"\
        ,\n    \"amount\": -6000,\n    \"available_on\": 1464101467,\n    \"created\"\
        : 1464101467,\n    \"currency\": \"usd\",\n    \"description\": \"REFUND FOR\
        \ CHARGE\",\n    \"fee\": -174,\n    \"fee_details\": [\n      {\n       \
        \ \"amount\": -174,\n        \"application\": null,\n        \"currency\"\
        : \"usd\",\n        \"description\": \"Stripe processing fee refund\",\n \
        \       \"type\": \"stripe_fee\"\n      }\n    ],\n    \"net\": -5826,\n \
        \   \"source\": \"re_18EgsB2dPuL5A6ooGEq33q9o\",\n    \"sourced_transfers\"\
        : {\n      \"object\": \"list\",\n      \"data\": [],\n      \"has_more\"\
        : false,\n      \"total_count\": 0,\n      \"url\": \"/v1/transfers?source_transaction=re_18EgsB2dPuL5A6ooGEq33q9o\"\
        \n    },\n    \"status\": \"available\",\n    \"type\": \"refund\"\n  },\n\
        \  \"charge\": \"ch_18C9kF2dPuL5A6ooUE5opsBX\",\n  \"created\": 1464101467,\n\
        \  \"currency\": \"usd\",\n  \"metadata\": {\n    \"order\": \"7pMR6czT\"\
        ,\n    \"event\": \"Demo Event\"\n  },\n  \"reason\": null,\n  \"receipt_number\"\
        : null,\n  \"status\": \"succeeded\"\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-03-07']
    status: {code: 200, message: OK}
version: 1
