interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer sk_test_OBAqgCaFyOUaaFwHJirSbg9D]
      Stripe-Version: ['2016-03-07']
    method: GET
    uri: https://api.stripe.com/v1/events/evt_123_event_id
  response:
    body: {string: !!python/unicode "{\n  \"error\": {\n    \"type\": \"invalid_request_error\"\
        ,\n    \"message\": \"No such event: evt_123_event_id\",\n    \"param\": \"\
        id\"\n  }\n}\n"}
    headers:
      content-type: [application/json]
      stripe-version: ['2016-03-07']
    status: {code: 404, message: Not Found}
version: 1
