{% extends 'brambling/mail/__base.html' %}

{% block content %}
	{% load zenaida %}
	{% if order.person %}
		{% url 'brambling_event_order_summary' event_slug=event.slug organization_slug=event.organization.slug as url %}
	{% else %}
		{% url 'brambling_event_order_summary' event_slug=event.slug organization_slug=event.organization.slug code=order.code as url %}
	{% endif %}
	<table class='container'>
		<tr>
			<td>

				<table class='row'>
					<tr>
						<td class='wrapper last'>

							<table class="twelve columns">
								<tr>
									<td>
										<p class='lede'>
											Thanks for registering for {{ event.name }}!
										</p>

										<p>
											Here's a short summary of your registration:
										</p>

										<h4>Order {{ order.code }}</h4>

										<br />

										<table style="width:100%;">
											<tbody>
												<tr>
													<th>Net payments</th>
													<th>Attendees</th>
													<th>Items</th>
												</tr>
												<tr>
													<th>{{ total_payments|format_money:event.currency }}</th>
													<td>
														<p>
															{% for attendee in order.attendees.all %}
																{{ attendee.get_full_name }}
																{% if not forloop.last %}<br />{% endif %}
															{% endfor %}
														</p>
													</td>
													<td>
														<p>
															{% for txn, txn_dict in transactions.iteritems %}
																{% for item in txn_dict.items %}
																	{% if item.status == item.BOUGHT %}
																		{{ item.item_option.item.name }} ({{ item.item_option.name }})
																		{% if not forloop.last %}<br />{% endif %}
																	{% endif %}
																{% endfor %}
																{% if not forloop.last %}<br />{% endif %}
															{% endfor %}
														</p>
													</td>
												</tr>
											</tbody>
										</table>

									</td>
									<td class='expander'></td>
								</tr>
							</table>


							{% if unconfirmed_check_payments %}
								<table class="twelve columns">
									<tr>
										<td class='panel'>
											<p><strong>Note:</strong> Your passes are reserved, but the organizer has not yet received your payment by mail.</p>
											{% include "brambling/event/order/_check_payment_info.html" %}
											<p>If you believe this is in error, please contact the event organizer directly.</p>
										</td>
										<td class='expander'></td>
									</tr>
								</table>
							{% endif %}
						</td>
					</tr>
				</table>

				<table class='row'>
					<tr>
						<td class='wrapper last'>
							<table class='six columns'>
								<tr>
									<td>
										<table class='button success radius'>
											<tr>
												<td>
													<a href="{{ protocol }}://{{ site.domain }}{{ url }}">
														View &amp; edit your order
													</a>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>

				<table class='row'>
					<tr>
						<td class='wrapper last'>

							<table class="twelve columns">
								<tr>
									<td>
										<p>If the button doesn't work for you, you can also copy-paste the following link directly into your browser's URL bar:</p>

										<p>{{ protocol }}://{{ site.domain }}{{ url }}</p>

										<p>Have a fantastic time at {{ event.name }}! Remember, it starts on {{ event.start_date|date:"F jS, Y" }}.</p>

										<p class='lede'>The Dancerfly Team</p>
									</td>
									<td class='expander'></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>

			</td>
		</tr>
	</table>
{% endblock %}
