{% extends 'brambling/__base_fluid.html' %}

{% block title %}{{ event.name }} – {{ block.super }}{% endblock %}

{% block top %}
	{{ block.super }}
	{% include "brambling/event/organizer/_header.html" %}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-2 col-md-3 col-sm-3">
			{% include "brambling/event/organizer/_nav.html" %}
		</div>
		<div class="col-lg-10 col-md-9 col-sm-9">
            {% block messages %}
                {% include "brambling/layouts/_messages.html" %}
            {% endblock %}
			{% block main %}{% endblock %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ block.super }}
	<script>
		(function () {
			var key = "collapsed-{{ event.pk }}",
				collapsed = {
					{% for group in event_admin_nav %}
						"{{ group.name }}": false,
					{% endfor %}
				},
				nameFromCollapse = function (ele) {
					return $.trim($(ele).prev().text());
				};

			var stored = JSON.parse(sessionStorage.getItem(key));
			if (stored) {
				$.each(collapsed, function (group, _) {
					if (stored[group] !== undefined) {
						collapsed[group] = stored[group];
					}
				});
				$('.js-nav-group .collapse').each(function (idx, ele) {
					var value = collapsed[nameFromCollapse(ele)];
					if (value) {
						$(ele).collapse('hide');
					}
				});
			};

			$('.js-nav-group .collapse').on('show.bs.collapse', function () {
				collapsed[nameFromCollapse(this)] = false;
				sessionStorage.setItem(key, JSON.stringify(collapsed));
			});

			$('.js-nav-group .collapse').on('hide.bs.collapse', function () {
				collapsed[nameFromCollapse(this)] = true;
				sessionStorage.setItem(key, JSON.stringify(collapsed));
			});
		})();
	</script>
{% endblock %}
