{% extends "brambling/event/order/_summary.html" %}

{% load zenaida %}

{% block item_actions %}
	{% url 'brambling_event_refund' event_slug=event.slug code=order.code item_pk=item.bought_item.pk as url %}
	<form action='{{ url }}' method='post' class='form-inline'>{% csrf_token %}
	{% if item.payments %}
		{% if item.net_payments > 0 %}
			{% if item.uses_dwolla %}
				<div class="input-group">
					<input type="text" maxlength="4" placeholder="Dwolla PIN" class="form-control" name="dwolla_pin" required autocomplete="off">
					<span class="input-group-btn">
			{% endif %}

			<a class='btn btn-danger' data-toggle="modal" data-target=".{{ bought_item.item_option.item.pk }}">
				Refund {{ item.net_payments|format_money:event.currency }}
			</a>
			<div class="modal fade {{ bought_item.item_option.item.pk }}" tabindex="-1" role="dialog" aria-labelledby="{{ bought_item.item_option.item.pk }}Label" aria-hidden="true">
				<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-body">
						<h4 id="{{ bought_item.item_option.item.pk }}Label">Are you sure you want to refund {{ bought_item.item_option.item.name }} ({{ bought_item.item_option.name }})?</h4>
						<button type='submit' class='btn btn-success btn-block'>Yes, refund</button>
						<button type="button" class="btn btn-danger btn-block" data-dismiss="modal">No</button>
					</div>
				</div>
				</div>
			</div>

			{% if item.uses_dwolla %}
					</span>
				</div>
			{% endif %}
		{% endif %}
	{% else %}
		<a class='btn btn-danger' data-toggle="modal" data-target=".{{ bought_item.item_option.item.pk }}">
			<span class='fa fa-fw fa-times'></span>
		</a>
		<div class="modal fade {{ bought_item.item_option.item.pk }}" tabindex="-1" role="dialog" aria-labelledby="Label{{ bought_item.item_option.item.pk }}" aria-hidden="true">
			<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-body">
					<h4 id="Label{{ bought_item.item_option.item.pk }}">Are you sure you want to remove {{ bought_item.item_option.item.name }} ({{ bought_item.item_option.name }})?</h4>
					<button type='submit' class='btn btn-success btn-block'>Yes, remove</button>
					<button type="button" class="btn btn-danger btn-block" data-dismiss="modal">No</button>
				</div>
			</div>
			</div>
		</div>
	{% endif %}
	</form>
{% endblock %}

{% block discount_actions %}
	<a href="{% url 'brambling_event_remove_discount' event_slug=event.slug code=order.code discount_pk=discount.pk %}" class='removeDiscountLink tipped text-danger' data-placement="top" data-container="body" title="Remove">
		<span class='fa fa-fw fa-times'></span>
	</a>
{% endblock %}

{% block payment_actions %}
{% endblock %}


{% block attendee_actions %}
{% endblock %}

{# class is used to hook in and call this as an api endpoint. #}
{% block payment_is_confirmed %}<a class='payment-confirmation-toggle' href="{% url 'brambling_event_toggle_payment_confirmation' code=order.code payment_pk=payment.pk event_slug=event.slug %}">{% if payment.is_confirmed %}<i class='fa fa-check text-success'></i>{% else %}<i class='fa fa-ban text-danger'></i>{% endif %}</a>{% endblock %}
