{% extends "brambling/event/order/_summary.html" %}

{% load zenaida %}

{% block item_actions %}
{% endblock %}

{% block discount_actions %}
	<a href="{% url 'brambling_event_remove_discount' event_slug=event.slug code=order.code discount_pk=discount.pk %}" class='removeDiscountLink tipped text-danger' data-placement="top" data-container="body" title="Remove">
		<span class='fa fa-fw fa-times'></span>
	</a>
{% endblock %}

{% block payment_actions %}
{% endblock %}


{% block attendee_actions %}
{% endblock %}

{# class is used to hook in and call this as an api endpoint. #}
{% block payment_is_confirmed %}<a class='payment-confirmation-toggle' href="{% url 'brambling_event_toggle_payment_confirmation' code=order.code payment_pk=payment.pk event_slug=event.slug %}">{% if payment.is_confirmed %}<i class='fa fa-check text-success'></i>{% else %}<i class='fa fa-ban text-danger'></i>{% endif %}</a>{% endblock %}
