{% load floppyforms %}

{# novalidate - see https://github.com/brutasse/django-floppyforms/issues/75 #}
<form action="{{ action }}" id="itemForm" method="post" novalidate enctype="multipart/form-data">
	{% csrf_token %}
	{% form item_form using %}
		<div class="row">
			<div class="col-md-6 margin-trailer-dbl">
				{% formrow form.name %}
				{% formrow form.description %}
			</div>
			<div class="col-md-6">
				<p class="text-muted">Images will be scaled to fit in a 598 pixel square box.</p>

				{{ itemimage_formset.management_form }}

				{# template for additional item image forms: #}
				<div class="hidden">
					<div class='list-group-item item-image item-image-template form--single-row'>
						{% with form=itemimage_formset.empty_form %}
							{% form form using "brambling/forms/itemimage.html" %}
						{% endwith %}
					</div>
				</div>

				{# item images forms: #}
				<div class="panel panel-default">
					{% if itemimage_formset.non_form_errors %}
						<div class="panel-body">
							{% for error in itemimage_formset.non_form_errors %}
								<p class='text-danger'>{{ error }}</p>
							{% endfor %}
						</div>
					{% endif %}
					<div class="item-images-list list-group form--single-row">
						{% for form in itemimage_formset.forms %}
							<div class='list-group-item list-group-item-{% if form.errors %}danger{% else %}default{% endif %} item-image'>
								{% form form using "brambling/forms/itemimage.html" %}
							</div>
						{% endfor %}
					</div>{# /.item-imges-list #}
					{% if 'edit' in event_permissions %}
						<div class="panel-footer">
							<div class='js-formset-add image-add'></div>
						</div>
					{% elif not itemimage_formset.forms %}
						<div class='list-group'>
							<div class='list-group-item'>
								<em class='text-muted'>No images</em>
							</div>
						</div>
					{% endif %}
				</div>{# /.panel #}
			</div>{# /.col-md-6 #}
		</div>{# /.row #}

	{% endform %}

	{{ itemoption_formset.management_form }}

	<p class="text-muted">Add different price points, sizes, or other variations.</p>

	{% if itemoption_formset.non_form_errors %}
		{% for error in itemoption_formset.non_form_errors %}
			<p class='text-danger'>{{ error }}</p>
		{% endfor %}
	{% endif %}

	{# template for additional item option forms #}
	<script type="text/html" class="item-option-template">
		<div class='list-group-item item-option'>
			{% form itemoption_formset.empty_form using "brambling/forms/itemoption.html" %}
		</div>
	</script>

	<div class="panel panel-default">
		<div class="item-options-list list-group">
			{% for form in itemoption_formset.forms %}
				<div class='list-group-item list-group-item-{% if form.errors %}danger{% else %}default{% endif %} item-option'>
					{% form form using "brambling/forms/itemoption.html" %}
				</div>
			{% endfor %}
		</div>
		{% if 'edit' in event_permissions %}
			<div class="panel-footer">
				<div class='js-formset-add option-add'>
				</div>
			</div>
		{% endif %}
	</div>

	{% if 'edit' in event_permissions %}
		<button id='itemSubmitButton' class='btn btn-primary'>Save</button>
		{% if item.pk %}
			{% url 'brambling_item_delete' event_slug=event.slug organization_slug=event.organization.slug pk=item.pk as delete_url %}
			{% url 'brambling_item_list' event_slug=event.slug organization_slug=event.organization.slug as cancel_url %}
			<a href="javascript://" data-toggle="modal" data-target="#confirm-delete" class="btn btn-danger">Delete</a>
			<a href="{{ cancel_url }}" class="btn btn-link">Cancel</a>
		{% endif %}
	{% endif %}
</form>
{% if item.pk %}
	<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Confirm Delete: {{ item.name }}</h4>
				</div>
				<div class="modal-body">
					<p>You are about to delete an item.  It will be removed from your store, but all purchase and order records for it will be preserved.</p>
					<p>This procedure cannot be undone. Do you want to proceed?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">No, I changed my mind</button>
					<form action="{{ delete_url }}" method='post' class='inline-block'>
						{% csrf_token %}
						<button class='btn btn-danger' type='submit'>Yes, delete it</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endif %}
