<div class="panel panel-default">
	<div class='list-group'>
		{% include 'brambling/event/organizer/_nav_item.html' with event=event url_name='brambling_event_summary' name='Summary' icon='dashboard' request=request only %}
	</div>
</div>

{% for group in event_admin_nav %}
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<h4 class='panel-title'>
				<a class='collapsed' role='button' data-toggle='collapse' href='#navbarCollapse{{ forloop.counter }}' aria-expanded='true' aria-controls='navbarCollapse{{ forloop.counter }}'>
					{{ group.name }}
					<i class='fa fa-fw fa-chevron-down pull-right'></i>
				</a>
			</h4>
		</div>
		<div id='navbarCollapse{{ forloop.counter }}' class='panel-collapse collapse in' role='tabpanel' aria-labelledby='headingOne'>
			<div class='list-group'>
				{% for item in group.items %}
					{% include 'brambling/event/organizer/_nav_item.html' with event=event url_name=item.0 name=item.1 request=request only %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endfor %}
