<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a href="{{ event.get_absolute_url }}">
				{{ event.name }}
			</a>
		</h4>
		<small class="text-muted">
			{% include "brambling/event/_when.html" %}<br />
			{% include "brambling/event/_where.html" %}
		</small>
	</div>
	<div class="list-group">
		{% for item in event_admin_nav %}
			<a class='list-group-item{% if item.is_active %} active{% endif %}' href="{{ item.url }}">
				{% if item.icon %}
					<i class="fa fa-fw {{ item.icon }}"></i>
				{% endif %}
				{{ item.label }}
			</a>
		{% endfor %}
	</div>
	<div class="panel-footer">
		{% if event.is_frozen %}
			<div class='tipped form-group' data-placement="right" data-container="body" title="Event is frozen and cannot be unpublished">
				<button class='btn btn-danger btn-block' disabled>
					Unpublish Event
				</button>
			</div>
		{% elif event.is_published %}
			<div class='form-group'>
				<a href='{% url "brambling_event_unpublish" event_slug=event.slug %}' class='btn btn-danger btn-block'>Unpublish Event</a>
			</div>
		{% else %}
			<div class='form-group'>
				<a href='{% url "brambling_event_publish" event_slug=event.slug %}' class='btn btn-success btn-block'>Publish Event</a>
			</div>
		{% endif %}
		<a href="{{ event.get_absolute_url }}" class="btn btn-default btn-block">
			View Event Shop
		</a>
	</div>
</div>
