{% load floppyforms zenaida %}

{% with txn=form.transaction %}
	<div class="modal fade text-left" id="refund-{{ txn.pk }}" tabindex="-1" role="dialog" aria-labelledby="Label{{ txn.pk }}" aria-hidden="true">
		<div class="modal-dialog">
			<form class='modal-content js-refund-form' data-currency="{{ event.currency }}" action='{% url 'brambling_event_refund' event_slug=event.slug organization_slug=event.organization.slug code=order.code pk=txn.pk %}' method='post'>
				<div class="modal-body">
					{% csrf_token %}
					{% with bought_items=form.fields.items.queryset.all name=form.fields.items.html_name %}
						{% if bought_items.count > 0 %}
							<div class="list-group">
								{# RENDER THE FORM HERE LIKE THE HTML BELOW #}
								<div class="list-group">
									{% for item in bought_items %}
										<div class="list-group-item {% if item.status.refunded = 'refunded' %}disabled{% endif %}">
											<label for="id_refund_{{ item.pk }}" class="row label-block">
												<div class="col-xs-1 text-center">
													<input
														type="checkbox"
														checked="checked"
														{% if item.status.refunded = 'refunded' %}
															disabled
														{% else %}
															name="{{ name }}"
														{% endif %}
														id="id_refund_{{ item.pk }}"
														data-item-id="{{ item.pk }}"
														data-item-price="{{ item.price }}"
													/>
												</div>
												<div class="col-xs-6">
													<strong>{{ item.item_name }}: {{ item.item_option_name }}</strong>
												</div>
												<div class="col-xs-4">
													{{ item.attendee.get_full_name }}
												</div>
												<div class="col-xs-1">
													{{ item.price|format_money:event.currency }}
												</div>
											</label>
										</div>
									{% endfor %}
								</div>
							</div>
						{% endif %}
					{% endwith %}
					<div class="form-inline">
						Refund
						<strong class="js-total-refund-money">{{ txn.get_refundable_amount|format_money:event.currency }}</strong>
						<span class="js-total-refund-money-custom hidden">
							{% formrow form.amount using "brambling/forms/rows/no_label.html" with append=event.currency %}
						</span>
						{% if txn.bought_items.count > 0%}for <strong class="js-total-refund-items">{{ txn.bought_items.count }}</strong> items{% endif %}?
						This action cannot be undone.<br />
						<a href="javascript://" class="text-small js-custom-amount-trigger">Change amount</a>
						<a href="javascript://" class="text-small js-default-amount-trigger hidden">Use default amount</a>
					</div>
					{% if txn.has_dwolla_payments %}
						<input type="text" maxlength="4" placeholder="Dwolla PIN" class="form-control" name="dwolla_pin" required autocomplete="off">
					{% endif %}
				</div>{# /.modal-body #}
				<div class="modal-footer">
					<button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
					<button type='submit' class='btn btn-primary'>Refund</button>
				</div>
			</form>
		</div>
	</div>
{% endwith %}
