{% extends 'brambling/event/order/_transaction_receipt.html' %}

{% load zenaida %}

{% block cart_footer %}{% endblock %}

{% block actions %}
	<div class="btn-group-vertical">
		{% url 'brambling_event_toggle_payment_confirmation' code=order.code payment_pk=txn.pk event_slug=event.slug organization_slug=event.organization.slug as payment_toggle_url %}
		{% if 'edit' in event_permissions %}
			{% if txn.is_confirmed %}
				<a class='btn btn-sm btn-success payment-confirmation-toggle' href="{{ payment_toggle_url }}">
					<i class='fa fa-fw fa-check-circle'></i>
					Confirmed
				</a>
			{% else %}
				<a class='btn btn-sm btn-danger payment-confirmation-toggle' href="{{ payment_toggle_url }}">
					<i class='fa fa-fw fa-ban text-danger'></i>
					Pending
				</a>
			{% endif %}
		{% else %}
			{% if txn.is_confirmed %}
				<button class='btn btn-sm btn-success payment-confirmation-toggle'>
					<i class='fa fa-fw fa-check-circle text-success'></i>
					Confirmed
				</button>
			{% else %}
				<button class='btn btn-sm btn-danger payment-confirmation-toggle'>
					<i class='fa fa-fw fa-ban text-danger'></i>
					Pending
				</button>
			{% endif %}
		{% endif %}
		{% if txn.transaction_type == txn.PURCHASE and 'edit' in event_permissions %}
			{% if txn.get_refundable_amount > 0 or txn.get_returnable_items %}
				<a class='btn btn-sm btn-default' data-toggle="modal" data-target="#refund-{{ txn.pk }}">
					<i class='fa fa-fw fa-undo'></i>
					Refund
				</a>
			{% endif %}
		{% endif %}
		{% if txn.transaction_type == txn.PURCHASE %}
			<a class='btn btn-sm btn-default' href="{% url 'brambling_event_send_receipt' event_slug=event.slug organization_slug=event.organization.slug payment_pk=txn.pk %}">
				<i class='fa fa-paper-plane'></i>
				Send receipt
			</a>
		{% endif %}

		{% if txn.transaction_type == txn.PURCHASE and 'edit' in event_permissions %}
		{% endif %}
	</div>
{% endblock %}
