{% extends 'brambling/event/organizer/__base.html' %}

{% load zenaida %}

{% block title %}Forms – {{ block.super }}{% endblock %}

{% block main %}
	{{ block.super }}

	{% include "brambling/event/_empty_shop_alert.html" %}

	<p><a class="btn btn-primary" href="{% url 'brambling_form_create' event_slug=event.slug organization_slug=event.organization.slug %}">Create form</a></p>

	{% if custom_forms %}
		{% regroup custom_forms by get_form_type_display as form_types %}
		<div class="row">
			{% for form_type_group in form_types %}
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">{{ form_type_group.grouper }} Forms</h4>
							<small>
								{% if form_type_group.grouper == "Attendee" %}
									These forms will appear once for each attendee, even within a single order.
								{% elif form_type_group.grouper == "Order" %}
									These forms will only appear once per order, even if the order is for multiple attendees.
								{% endif %}
							</small>
						</div>
						<div class="list-group">
							{% for custom_form in form_type_group.list %}
								<a class="list-group-item" href="{% url 'brambling_form_update' event_slug=event.slug organization_slug=event.organization.slug pk=custom_form.pk %}">
									{{ custom_form.name }}
								</a>
							{% endfor %}
						</div>
					</div>{# /.panel #}
				</div>{# /.col-md-6 #}
			{% endfor %}
		</div>
	{% endif %}

{% endblock %}
