{% extends 'brambling/event/organizer/__base.html' %}

{% load floppyforms zenaida tz %}

{% block title %}Finances – {{ block.super }}{% endblock %}

{% block main %}
	{{ block.super }}
	{% include "brambling/event/_empty_shop_alert.html" %}

	<form>
		<div class="btn-group">
			<button class="btn btn-sm btn-default dropdown-toggle tipped" title='Export' type="button" id="exportOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-container="body">
				<i class="fa fa-download"></i>
				<span class='hidden-sm hidden-md'>Export</span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="exportOptions">
				<li><button type="submit" class="btn btn-sm btn-link" name="format" value="csv">
					Download CSV
				</button></li>
				<li><button type="submit" class="btn btn-sm btn-link" name="format" value="xlsx">
					Download Excel
				</button></li>
			</ul>
		</div>
	</form>

	<div class="scroll-x">
		<table class="table table-striped">
			<thead>
			  <tr>
				{% for header in table.headers %}
				<th>{{ header }}</th>
				{% endfor %}
				<th></th>
			  </tr>
			</thead>
			<tbody>
				{% timezone event.timezone %}
				{% for row in table.get_rows %}
				<tr>
				  {% for cell in row %}
				  <td>
					{% if cell.field == 'order' and cell.value != '' %}
					<a href="{% url 'brambling_event_order_detail' event_slug=event.slug organization_slug=event.organization.slug code=cell %}">{{ cell }}</a>
					{% else %}
					{{cell.value}}
					{% endif %}
				  </td>
				  {% endfor %}
						<td>
							{% if row.obj.get_remote_url %}
								<a class='btn btn-default' href="{{ row.obj.get_remote_url }}" target='_blank'>
									View on {{ row.obj.get_method_display }}
									<i class='fa fa-fw fa-external-link'></i>
								</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
				{% endtimezone %}
			</tbody>
		</table>
	</div>
{% endblock %}
