{% extends 'brambling/event/organizer/__narrow.html' %}

{% load floppyforms %}

{% block title %}{% if item.pk %}Edit {{ item.name }}{% else %}Add an item{% endif %} – {{ block.super }}{% endblock %}

{% block main %}
	{{ block.super }}

	<h2>{% if item.pk %}{{ item.name }}{% else %}Add an item{% endif %}</h2>

	{# novalidate - see https://github.com/brutasse/django-floppyforms/issues/75 #}
	<form action="{{ request.path }}" id="itemForm" method="post" novalidate enctype="multipart/form-data">
		{% csrf_token %}
		{% form item_form using %}
			<div class="row">
				<div class="col-md-6">{% formrow form.name %}</div>
				<div class="col-md-6">{% formrow form.category %}</div>
			</div>

			{% formrow form.description %}
		{% endform %}

		<h3>Images</h3>
		<p>Images will be scaled to fit in a 598 pixel square box.</p>
		<p class="text-muted">Drag and drop to reorder.</p>

		{{ itemimage_formset.management_form }}

		{% if itemimage_formset.non_form_errors %}
			{% for error in itemimage_formset.non_form_errors %}
				<p class='text-danger'>{{ error }}</p>
			{% endfor %}
		{% endif %}

		{# template for additional item image forms #}
		<div class="hidden">
			<div class='panel panel-default item-image item-image-template'>
				<header class='panel-heading'>
					<div class="actions pull-right"></div>
					{% with form=itemimage_formset.empty_form %}
						{% form form using %}
							{% formrow form.image %}
							<div class='row js-hide'>
								<div class='col-md-6'>{% formrow form.order %}</div>
								<div class='col-md-6'>{% formrow form.DELETE %}</div>
							</div>
							{% for field in form.hidden_fields %}
								{% formfield field %}
							{% endfor %}
						{% endform %}
					{% endwith %}
				</header>
			</div>
		</div>

		<div class="item-images-list panel-group">
			{% for form in itemimage_formset.forms %}
				<div class='panel panel-{% if form.errors %}danger{% else %}default{% endif %} item-image'>
					<header class='panel-heading'>
						<div class="actions pull-right"></div>
						{% form form using %}
							{% formrow form.image with display_image=1 %}
							<div class='row js-hide'>
								<div class='col-md-6'>{% formrow form.order %}</div>
								<div class='col-md-6'>{% formrow form.DELETE %}</div>
							</div>
							{% for field in form.hidden_fields %}
								{% formfield field %}
							{% endfor %}
						{% endform %}
					</header>
				</div>
			{% endfor %}
		</div>

		<div class='panel panel-default'>
			<header class='panel-heading'>
				<div class='panel-title js-formset-add image-add'>
				</div>{# /.panel-title #}
			</header>
		</div>


		<h3>Item Options</h3>

		{{ itemoption_formset.management_form }}

		<p class="text-muted">Click on an option to expand it. Drag and drop to reorder.</p>

		{% if itemoption_formset.non_form_errors %}
			{% for error in itemoption_formset.non_form_errors %}
				<p class='text-danger'>{{ error }}</p>
			{% endfor %}
		{% endif %}

		{# template for additional item option forms #}
		<div class="hidden">
			<div class='panel panel-default item-option item-option-template'>
				<header class='panel-heading'>
					<div class='panel-title'>
						<a href="#{{ itemoption_formset.empty_form.prefix }}-collapse" data-toggle="collapse">
							<i class="fa fa-fw fa-chevron-down"></i> Option <span class="count"></span>
						</a>
						<div class="actions pull-right"></div>
					</div>
				</header>
				<div class="panel-collapse collapse in" id="{{ itemoption_formset.empty_form.prefix }}-collapse">
					<div class='panel-body'>
						{% form itemoption_formset.empty_form using "brambling/forms/itemoption.html" %}
					</div>
				</div>
			</div>
		</div>

		<div class="item-options-list panel-group">
			{% for form in itemoption_formset.forms %}
				<div class='panel panel-{% if form.errors %}danger{% else %}default{% endif %} item-option'>
					<header class='panel-heading'>
						<div class='panel-title'>
							<a href="#{{ form.prefix }}-collapse" title="click to expand" data-toggle="collapse">
								<i class="fa fa-fw fa-chevron-down"></i> Option <span class="count">{{ forloop.counter }}</span>
							</a>
							<div class="actions pull-right"></div>
						</div>{# /.panel-title #}
					</header>
						<div class="panel-collapse collapse{% if form.errors or not form.instance.pk %} in{% endif %}" id="{{ form.prefix }}-collapse">
							<div class='panel-body'>
								{% form form using "brambling/forms/itemoption.html" %}
							</div>
						</div>
				</div>
			{% endfor %}
		</div>

		<div class='panel panel-default'>
			<header class='panel-heading'>
				<div class='panel-title js-formset-add option-add'>
				</div>{# /.panel-title #}
			</header>
		</div>

		<button class='btn btn-primary' type="submit">{% if item.pk %}Save changes{% else %}Add item{% endif %}</button>
		{% if item.pk %}<a href="../" class="btn btn-link">Cancel</a>{% endif %}
	</form>
{% endblock %}

{% block javascripts %}
	{{ block.super }}
	<script type="text/javascript">
		(function () {
			"use strict";
			var item_images_renumber = function () {
				$('.item-images-list .item-image:visible').each(function(i){
					$(this).find('.count').html(i+1);
				});
			};

			$('.item-images-list').on('row_added.formset row_removed.formset reordered.formset', item_images_renumber);

			$('.item-images-list').formset({
				prefix: '{{ itemimage_formset.prefix }}',
				deleteTrigger: '<a href="#"><i class="fa fa-times"></i></a>',
				deleteWrapper: '.actions',
				addTrigger: '<a href="#"><i class="fa fa-fw fa-plus"></i> Add an Image</a>',
				addWrapper: '.js-formset-add.image-add',
				formTemplate: '.item-image-template',
				sortableHandle: '.panel-heading',
				sortableField: 'order'
			});

			var item_options_renumber = function () {
				$('.item-options-list .item-option:visible').each(function(i){
					$(this).find('.count').html(i+1);
				});
			};

			$('.item-options-list').on('row_added.formset row_removed.formset reordered.formset', item_options_renumber);

			$('.item-options-list').formset({
				prefix: '{{ itemoption_formset.prefix }}',
				deleteTrigger: '<a href="#"><i class="fa fa-times"></i></a>',
				deleteWrapper: '.actions',
				addTrigger: '<a href="#"><i class="fa fa-fw fa-plus"></i> Add an Option</a>',
				addWrapper: '.js-formset-add.option-add',
				formTemplate: '.item-option-template',
				sortableHandle: '.panel-heading',
				sortableField: 'order'
			});

			// Handle limit row display/hide on itemoption forms.
			$('.item-options-list').on('change', 'input[type=checkbox]', function() {
				var prefix = this.id.substr(0, this.id.length - 13),
					total_number = $("#id_" + prefix + "-total_number");
				if (this.checked) {
					if (total_number.val() === '') {
						total_number.val(100);
					}
					$("#" + prefix + "-limitRow").collapse('show');
				} else {
					$("#id_" + prefix + "-total_number").val('');
					$("#" + prefix + "-limitRow").collapse('hide');
				}
			});
			$('.item-options-list').on('row_added.formset', function(e, row) {
				$(row).find('.limitRow').collapse({toggle: false});
				$(row).find('input[type=checkbox]').trigger('change');
			});
		}());
	</script>
{% endblock %}
