{% extends 'brambling/event/organizer/__base.html' %}

{% block title %}Items – {{ block.super }}{% endblock %}

{% block main %}
	{{ block.super }}

	<p><a class="btn btn-primary" href="{% url 'brambling_item_create' event_slug=event.slug organization_slug=event.organization.slug %}">Create item</a></p>
	{% if items %}
		<table class='table table-striped'>
			<thead>
				<tr>
					<th>Name</th>
					<th>Category</th>
					<th>Created</th>
					<th>Number of options</th>
				</tr>
			</thead>
			<tbody>
			{% for item in items %}
				<tr>
					<td><a href="{% url 'brambling_item_update' event_slug=event.slug organization_slug=event.organization.slug pk=item.pk %}">{{ item.name }}</a></td>
					<td>{{ item.get_category_display }}</td>
					<td>{{ item.created_timestamp }}</td>
					<td>{{ item.option_count }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}
