{% extends 'brambling/event/organizer/__narrow.html' %}

{% load floppyforms static %}

{% block title %}{% if item.pk %}Edit {{ item.name }}{% else %}Add an item{% endif %} – {{ block.super }}{% endblock %}

{% block main %}
	{{ block.super }}

	<h2>{% if item.pk %}{{ item.name }}{% else %}Add an item{% endif %}</h2>

	{% include "brambling/event/organizer/_item_form.html" with action=request.path %}
{% endblock %}

{% block javascripts %}
	{{ block.super }}
	{% include "brambling/event/organizer/_item_form_js.html" %}
	<script type="text/javascript" src="{% static "zenaida/js/bootstrap/modal.js" %}"></script>
{% endblock %}
