{% extends 'brambling/event/organizer/__base.html' %}

{% load floppyforms zenaida staticfiles tz %}

{% block title %}Order {{ order.code }} – {{ block.super }}{% endblock %}

{% block javascripts %}
	{{ block.super }}

	<script type="text/javascript" src="{% static 'zenaida/js/bootstrap/tab.js' %}"></script>
	<script type="text/javascript" src="{% static 'zenaida/js/bootstrap/modal.js' %}"></script>
	<script>
		$(function() {
			$('[data-toggle=tab]').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			});
			$('.removeDiscountLink').on('click', function(e){
				e.preventDefault();
				$.post($(this).attr('href'), function(){
					location.reload();
				});
			});
			$('.payment-confirmation-toggle').on('click', function(e) {
				e.preventDefault();
				var $this = $(this);
				$.getJSON(this.href, function(data) {
					if (data.is_confirmed) {
						$this.html("<i class='fa fa-check text-success'></i>");
					} else {
						$this.html("<i class='fa fa-ban text-danger'></i>");
					}
				});
			});
		});
	</script>

{% endblock %}

{% block main %}
	{% timezone event.timezone %}
	{{ block.super }}

	<h2>Order {{ order.code }} ({{ order.get_status_display }})
		{% if order.status == order.COMPLETED %}
			<div class='pull-right form-inline'>
				<a class='btn btn-success' data-toggle="modal" data-target=".refund-{{ order.code }}">Refund order</a>
				<a class='btn btn-success' href="{% url 'brambling_event_send_receipt' event_slug=event.slug code=order.code %}"><i class='fa fa-paper-plane'></i> Send receipt</a>
			</div>
		{% endif %}
	</h2>
	<h3>{% if order.person %}<a href="mailto:{{ order.person.email }}">{{ order.person.get_full_name }} &lt;{{ order.person.email }}&gt;</a>{% else %}<a href="mailto:{{ order.email }}">{{ order.email }}</a>{% endif %}</h3>

	<div class="modal fade refund-{{ order.code }}" tabindex="-1" role="dialog" aria-labelledby="Label{{ order.code }}" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-body">
					<form action='{% url 'brambling_event_refund' event_slug=event.slug code=order.code %}' method='post' class='form-inline'>
						{% csrf_token %}
						<h4 id="Label{{ bought_item.item_option.item.pk }}">Are you sure you want to refund order {{ order.code }}?</h4>
						{% if order.has_dwolla_payments %}
							<input type="text" maxlength="4" placeholder="Dwolla PIN" class="form-control" name="dwolla_pin" required autocomplete="off">
						{% endif %}
						<button type='submit' class='btn btn-success btn-block'>Yes, refund</button>
						<button type="button" class="btn btn-danger btn-block" data-dismiss="modal">No</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
	  <li{% if not payment_form.is_bound and not discount_form.is_bound %} class="active"{% endif %}><a href="#summary" role="tab" data-toggle="tab">Order summary</a></li>
	  <li{% if payment_form.is_bound %} class="active"{% endif %}><a href="#payment" role="tab" data-toggle="tab">Record payment</a></li>
	  <li{% if discount_form.is_bound %} class="active"{% endif %}><a href="#discount" role="tab" data-toggle="tab">Apply discount</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane{% if not payment_form.is_bound and not discount_form.is_bound %} active{% endif %}" id="summary">
			{% include "brambling/event/organizer/_admin_order_summary.html" %}
		</div>
		<div class="tab-pane{% if payment_form.is_bound %} active{% endif %}" id="payment">
			<div class='row'>
				<div class='col-sm-6 col-sm-offset-3'>
					<form method='post' action=''>
						{% csrf_token %}
						<input type='hidden' name='is_payment_form' value='1'>
						{% form payment_form using %}
							{% formrow payment_form.method with using="floppyforms/radio.html" inline=1 %}
							{% formrow payment_form.amount with append=event.currency %}
						{% endform %}
						<button type='submit' class='btn btn-primary'>Record payment</button>
					</form>
				</div>
			</div>
		</div>
		<div class="tab-pane{% if discount_form.is_bound %} active{% endif %}" id="discount">
			<div class='row'>
				<div class='col-sm-6 col-sm-offset-3'>
					<form method='post' action=''>
						<input type='hidden' name='is_discount_form' value='1'>
						{% csrf_token %}
						{% form discount_form %}
						<button type='submit' class='btn btn-primary'>Apply discount</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endtimezone %}
{% endblock %}

