{% extends 'brambling/event/organizer/__base.html' %}

{% load floppyforms zenaida staticfiles tz %}

{% block title %}Order {{ order.code }} – {{ block.super }}{% endblock %}

{% block javascripts %}
	{{ block.super }}

	<script type="text/javascript" src="{% static 'zenaida/js/bootstrap/tab.js' %}"></script>
	<script>
		$(function() {
			$('[data-toggle=tab]').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			});
			$('.payment-confirmation-toggle').on('click', function(e) {
				e.preventDefault();
				var $this = $(this);
				$.getJSON(this.href, function(data) {
					if (data.is_confirmed) {
						$this.removeClass("btn-danger");
						$this.addClass("btn-success");
						$this.html("<i class='fa fa-fw fa-check'></i> Confirmed");
					} else {
						$this.removeClass("btn-success");
						$this.addClass("btn-danger");
						$this.html("<i class='fa fa-fw fa-ban'></i> Pending");
					}
				});
			});
		});
	</script>

{% endblock %}

{% block main %}
	{% timezone event.timezone %}
	{{ block.super }}

	<h2>Order {{ order.code }}
		<div class='pull-right form-inline'>
			<a class='btn btn-success' href="{% url 'brambling_event_send_receipt' event_slug=event.slug organization_slug=event.organization.slug code=order.code %}"><i class='fa fa-paper-plane'></i> Send receipt</a>
		</div>
	</h2>
	<h3>{% if order.person %}<a href="mailto:{{ order.person.email }}">{{ order.person.get_full_name }} &lt;{{ order.person.email }}&gt;</a>{% else %}<a href="mailto:{{ order.email }}">{{ order.email }}</a>{% endif %}</h3>

	{% if payment_form %}
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
		  <li{% if active == 'summary' %} class="active"{% endif %}><a href="#summary" role="tab" data-toggle="tab">Order summary</a></li>
		  <li{% if active == 'payment' %} class="active"{% endif %}><a href="#payment" role="tab" data-toggle="tab">Record payment</a></li>
		</ul>
	{% endif %}

	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane{% if active == 'summary' %} active{% endif %}" id="summary">
			<div class='row'>
				<div class='col-sm-6'>
					{% for txn, txn_dict in transactions.iteritems %}
						{% include "brambling/event/organizer/_transaction_receipt.html" %}
					{% endfor %}
				</div>
				<div class='col-sm-6'>
					<div class='panel panel-primary'>
						<header class='panel-heading'>
							<div class='panel-title'>
								Notes
							</div>
						</header>
						<div class='panel-body'>
							<form method='post' action='{{ request.path }}'>
								<input type='hidden' name='is_notes_form' value='1'>
								{% csrf_token %}
								{% form notes_form using %}
									{% formrow notes_form.notes using "brambling/forms/rows/no_label.html" %}
								{% endform %}
								<button type='submit' class='btn btn-primary'>Save notes</button>
							</form>
						</div>
					</div>
					{% for attendee_form in attendee_forms %}
						<div class='panel panel-primary'>
							<header class='panel-heading'>
								<div class='panel-title'>
									{{ attendee_form.instance.get_full_name }}
								</div>
							</header>
							<div class='panel-body'>
								<label>Items</label>
								<ul class='list-inline'>
									{% for item in attendee_form.instance.bought_items.all %}
										{% if item.status == item.RESERVED or item.status == item.UNPAID or item.status == item.BOUGHT %}
											<li>{{ item.item_option_name }}
											({{ item.item_name }})</li>
										{% endif %}
									{% endfor %}
								</ul>

								<form method='post' action='{{ request.path }}'>
									<input type='hidden' name='is_attendee_form' value='1'>
									<input type='hidden' name='attendee_id' value='{{ attendee_form.instance.pk }}'>
									{% csrf_token %}
									{% form attendee_form using %}
										{% formrow attendee_form.notes %}
									{% endform %}
									<button type='submit' class='btn btn-primary'>Save notes</button>
								</form>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		{% if payment_form %}
			<div class="tab-pane{% if active == 'payment' %} active{% endif %}" id="payment">
				<div class='row'>
					<div class='col-sm-6 col-sm-offset-3'>
						<form method='post' action=''>
							{% csrf_token %}
							<input type='hidden' name='is_payment_form' value='1'>
							{% form payment_form using %}
								{% formrow payment_form.method with using="floppyforms/radio.html" inline=1 %}
								{% formrow payment_form.amount with append=event.currency %}
							{% endform %}
							<button type='submit' class='btn btn-primary'>Record payment</button>
						</form>
					</div>
				</div>
			</div>
		{% endif %}
	</div>
	{% endtimezone %}
{% endblock %}
