{% extends 'brambling/event/organizer/__narrow.html' %}

{% load floppyforms staticfiles %}

{% block title %}Team &amp; Permissions - {{ block.super }}{% endblock %}

{% block main %}
	{{ block.super }}
	{% include "brambling/forms/_top_error_list.html" %}

	<form action="{{ request.path }}" method="post" novalidate enctype="multipart/form-data">
		{% csrf_token %}

		<h2>Permissions</h2>
		<p>
			The following people have access to this event.
		</p>

		{{ invite_formset.management_form }}

		<div class="table-responsive">
			<table class='table table-striped'>
				<thead>
					<tr>
						<th colspan='2'>Name</th>
						<th colspan='2'>Permissions</th>
					</tr>
				</thead>
				<tbody>
					{% for form in organizationmember_forms %}
						<tr>
							<th>{{ form.instance.person.get_full_name }}</th>
							<td>{{ form.instance.person.email }}</td>
							<td>
								{% if organization_editable_by %}
									{% formfield form.role %}
								{% else %}
									{{ form.instance.get_role_display }}
								{% endif %}
							</td>
							<td>
								{% if organization_editable_by %}
									<a href="{% url 'brambling_event_remove_member' event_slug=event.slug organization_slug=event.organization.slug pk=form.instance.pk %}"><i class='text-danger fa fa-fw fa-times'></i></a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
					{% for form in eventmember_forms %}
						<tr>
							<th>{{ form.instance.person.get_full_name }}</th>
							<td>{{ form.instance.person.email }}</td>
							<td>
								{% if organization_editable_by %}
									{% formfield form.role %}
								{% else %}
									{{ form.instance.get_role_display }}
								{% endif %}
							</td>
							<td>
								{% if organization_editable_by %}
									<a href="{% url 'brambling_event_remove_member' event_slug=event.slug organization_slug=event.organization.slug pk=form.instance.pk %}"><i class='text-danger fa fa-fw fa-times'></i></a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}

					{% for invite in invites %}
						<tr>
							<th>{{ invite.invite.email }}</th>
							<td><em>
								{% if invite.invite.is_sent %}
									Invitation sent
								{% else %}
									Invitation not sent
								{% endif %}
							</em></td>
							<td>
								{{ invite.verbose_name }}
							</td>
							<td>
								{% if organization_editable_by %}
									<a href='{% url "brambling_invite_delete" code=invite.invite.code %}' class='tipped' data-toggle="tooltip" data-placement="top" data-container="body" title='Cancel invitation'><i class='text-danger fa fa-fw fa-times'></i></a>
									<a href='{% url "brambling_invite_send" code=invite.invite.code %}' class='tipped' data-toggle="tooltip" data-placement="top" data-container="body" title='Send invitation'><i class='fa fa-fw fa-repeat fa-rotate-270 text-success'></i></a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}

					{% for form in invite_formset %}
						{% form form using %}
							<tr>
								<td>{% formfield form.email with placeholder="Email" %}</td>
								<td></td>
								<td>{% formfield form.kind %}</td>
								<td></td>
							</tr>
						{% endform %}
					{% endfor %}
				</tbody>
			</table>
		</div>

		<script type="text/html" class='invite-form-template'>
			{% with form=invite_formset.empty_form %}
				{% form form using %}
					<tr>
						<td>{% formfield form.email with placeholder="Email" %}</td>
						<td></td>
						<td>{% formfield form.kind %}</td>
						<td></td>
					</tr>
				{% endform %}
			{% endwith %}
		</script>

		<button class="btn btn-primary" type="submit">
			Save Changes
		</button>
		<a class="btn btn-link" href="{{ request.path }}">
			Cancel
		</a>

	</form>
{% endblock %}
