{% extends 'brambling/event/organizer/__narrow.html' %}

{% load floppyforms staticfiles %}

{% block title %}Team &amp; Permissions - {{ block.super }}{% endblock %}

{% block main %}
	{{ block.super }}
	{% include "brambling/forms/_top_error_list.html" %}

	<form action="{{ request.path }}" method="post" novalidate enctype="multipart/form-data">
		{% csrf_token %}

		<h2>Permissions</h2>
		<p>
			The following people have access to this event.
		</p>

		<div class="table-responsive">
			<table class='table table-striped'>
				<thead>
					<tr>
						<th colspan='2'>Name</th>
						<th colspan='2'>Permissions</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>{{ organization.owner.get_full_name }}</th>
						<td>{{ organization.owner.email }}</td>
						<td>Is organization owner</td>
						{% if organization_editable_by %}<td></td>{% endif %}
					</tr>
					{% with members=organization.members.all %}
						{% for member in members %}
							<tr>
								<th>{{ member.get_full_name }}</th>
								<td>{{ member.email }}</td>
								<td>Can edit organization</td>
								{% if organization_editable_by %}<td></td>{% endif %}
							</tr>
						{% endfor %}
					{% endwith %}
					{% for form in eventmember_forms %}
						<tr>
							<th>{{ form.instance.person.get_full_name }}</th>
							<td>{{ form.instance.person.email }}</td>
							<td>
								{% formfield form.role %}
							</td>
							<td>
								{% if organization_editable_by %}
									<a href="{% url 'brambling_event_remove_member' event_slug=event.slug organization_slug=event.organization.slug pk=form.instance.pk %}"><i class='text-danger fa fa-fw fa-times'></i></a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}

					{% for invite in event.get_editor_invites %}
						<tr>
							<th>{{ invite.email }}</th>
							<td><em>
								{% if invite.is_sent %}
									Invitation sent
								{% else %}
									Invitation not sent
								{% endif %}
							</em></td>
							<td>
								{% if invite.kind == invite.EVENT_EDIT %}
									Can edit event
								{% elif invite.kind == invite.EVENT_VIEW %}
									Can view event
								{% endif %}
							</td>
							<td>
								{% if organization_editable_by %}
									<a href='{% url "brambling_invite_delete" code=invite.code %}' class='tipped' data-toggle="tooltip" data-placement="top" data-container="body" title='Cancel invitation'><i class='text-danger fa fa-fw fa-times'></i></a>
									<a href='{% url "brambling_invite_send" code=invite.code %}' class='tipped' data-toggle="tooltip" data-placement="top" data-container="body" title='Send invitation'><i class='fa fa-fw fa-repeat fa-rotate-270 text-success'></i></a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<button class="btn btn-primary" type="submit">
			Save Changes
		</button>
		<a class="btn btn-link" href="{{ request.path }}">
			Cancel
		</a>

	</form>
{% endblock %}
