{% extends 'brambling/event/organizer/__base.html' %}

{% load zenaida %}

{% block title %}Event Summary – {{ block.super }}{% endblock %}

{% block main %}
	{{ block.super }}

	{% include "brambling/event/_empty_shop_alert.html" %}

	<h2>Event Summary</h2>
	<div class='row'>
		<div class='col-md-6'>
			<div class='panel panel-default'>
				<div class='panel-heading'>
					<h4 class='panel-title'>
						<a href="{% url 'brambling_event_finances' event_slug=event.slug %}">Finance Summary</a>
					</h4>
				</div>
				<ul class='list-group'>
					<li class='list-group-item'>
						Payments received
						<strong class='pull-right text-info'>{{ confirmed_payments|format_money:event.currency }}</strong>
					</li>
					<li class='list-group-item'>
						Payments pending
						<strong class='pull-right text-info'>{{ pending_payments|format_money:event.currency }}</strong>
					</li>
					<li class='list-group-item'>
						Discounts
						<strong class='pull-right text-danger'>{{ total_discounts|format_money:event.currency }}</strong>
					</li>
					<li class='list-group-item'>
						Refunds
						<strong class='pull-right text-danger'>{{ total_refunds|format_money:event.currency }}</strong>
					</li>
					<li class='list-group-item {% if net_pending > 0 %}list-group-item-success{% endif %}{% if net_pending < 0 %}list-group-item-danger{% endif %}'>
						<strong>Net total</strong>
						<strong class='pull-right {% if net_pending > 0 %}text-success{% endif %}{% if net_pending < 0 %}text-danger{% endif %}'>{{ net_pending|format_money:event.currency }}</strong>
					</li>
				</ul>
			</div>
			<div class='panel panel-default'>
				<div class='panel-heading'>
					<h4 class='panel-title'>
						Sales Summary
					</h4>
				</div>
				<div class='list-group'>
					{% for itemoption in itemoptions %}
						<a class='list-group-item' href='{% url "brambling_event_attendees" event_slug=event.slug %}?bought_items__item_option={{ itemoption.pk }}'>
							{{ itemoption.item.name }} ({{ itemoption.name }})
							<strong class='pull-right'>{{ itemoption.boughtitem__count }}</strong>
						</a>
					{% empty %}
						<div class='list-group-item text-muted'>
							<ul class='list-inline'>
								<li>This event has no items for purchase.</li>

								<li><a class='btn btn-primary' href='{% url "brambling_item_create" event_slug=event.slug %}'>
									Create item
									<span class='fa fa-plus'></span>
								</a></li>
							</ul>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class='col-md-6'>
			<div class='panel panel-default'>
				<div class='panel-heading'>
					<h4 class='panel-title'>
						Discount Summary
					</h4>
				</div>
				<ul class='list-group'>
					{% for discount in discounts %}
						<a class='list-group-item' href='{% url "brambling_event_attendees" event_slug=event.slug %}?bought_items__discounts__discount={{ discount.pk }}'>
							{{ discount.name }} <em class='text-muted'>{{ discount.code }}</em>
							<strong class='pull-right'>{{ discount.used_count }}</strong>
						</a>
					{% empty %}
						<div class='list-group-item text-muted'>
							<ul class='list-inline'>
								<li>This event has no discounts.</li>

								<li><a class='btn btn-primary' href='{% url "brambling_discount_create" event_slug=event.slug %}'>
									Create discount
									<span class='fa fa-plus'></span>
								</a></li>
							</ul></div>
					{% endfor %}
				</ul>
			</div>
			<div class='panel panel-default'>
				<div class='panel-heading'>
					<h4 class='panel-title'>
						Attendee Summary
					</h4>
				</div>
				<div class='list-group'>
					{% if event.collect_housing_data %}
						<a class='list-group-item' href='{% url "brambling_event_attendees" event_slug=event.slug %}?housing_status=need'>
							Requesting housing
							<strong class='pull-right'>{{ attendee_requesting_count }}</strong>
						</a>
						<a class='list-group-item' href='{% url "brambling_event_attendees" event_slug=event.slug %}?housing_status=have'>
							Arranged housing
							<strong class='pull-right'>{{ attendee_arranged_count }}</strong>
						</a>
						<a class='list-group-item' href='{% url "brambling_event_attendees" event_slug=event.slug %}?housing_status=home'>
							At own home
							<strong class='pull-right'>{{ attendee_home_count }}</strong>
						</a>
					{% endif %}
					<a class='list-group-item' href='{% url "brambling_event_attendees" event_slug=event.slug %}'>
						<strong>Total count</strong>
						<strong class='pull-right'>{{ attendee_count }}</strong>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
