{% extends 'brambling/event/organizer/__base.html' %}

{% load zenaida static %}

{% block title %}Event Summary – {{ block.super }}{% endblock %}

{% block javascripts %}
	{{ block.super }}

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ractive/0.7.3/ractive.js"></script>
	<script src='{% static "brambling/lib/ractive-transitions-slide.js" %}'></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script type="text/javascript" src="{% static "brambling/javascript/components/quickfind.ractive.js" %}"></script>
	<script type="text/javascript">
		var quickfind = new QuickFind({
			el: '#QuickFindContainer',
			template: '#QuickFind',
			apiEndpoints: {
				"root": "{% url 'api-root' %}",
				"ordersearch": "{% url 'ordersearch-list' %}"
			},
			eventId: "{{ event.pk }}",
			data: {
				eventSlug: '{{ event.slug }}',
				organizationSlug: '{{ event.organization.slug }}'
			}
		});
	</script>
{% endblock %}

{% block main %}
	{{ block.super }}

	{% include "brambling/event/_empty_shop_alert.html" %}

	{% url "brambling_event_attendees" event_slug=event.slug organization_slug=event.organization.slug as attendees_url%}

	<h2>Event Summary</h2>
	<div class='row'>
		<div class='col-md-6'>
			<script type="text/ractive" id="QuickFind">
				{% include "brambling/event/organizer/_quickfind_ractive.html" %}
			</script>
			<div id="QuickFindContainer">
			</div>
			<div class='panel panel-default'>
				<div class='panel-heading'>
					<h4 class='panel-title'>
						<a href="{% url 'brambling_event_finances' event_slug=event.slug organization_slug=event.organization.slug %}">Finance Summary</a>
					</h4>
				</div>
				<ul class='list-group'>
					<li class='list-group-item'>
						Confirmed purchases
						<strong class='pull-right text-info'>{{ confirmed_purchases|format_money:event.currency }}</strong>
					</li>
					<li class='list-group-item'>
						Pending purchases
						<strong class='pull-right text-info'>{{ pending_purchases|format_money:event.currency }}</strong>
					</li>
					<li class='list-group-item'>
						Refunds
						<strong class='pull-right text-danger'>{{ refunds|format_money:event.currency }}</strong>
					</li>
					<li class='list-group-item'>
						Fees
						<strong class='pull-right text-danger'>{{ fees|format_money:event.currency }}</strong>
					</li>
					<li class='list-group-item {% if net_total > 0 %}list-group-item-success{% endif %}{% if net_total < 0 %}list-group-item-danger{% endif %}'>
						<strong>Net total</strong>
						<strong class='pull-right {% if net_total > 0 %}text-success{% endif %}{% if net_total < 0 %}text-danger{% endif %}'>{{ net_total|format_money:event.currency }}</strong>
					</li>
				</ul>
			</div>
			<div class='panel panel-default'>
				<div class='panel-heading'>
					<h4 class='panel-title'>
						Sales Summary
					</h4>
				</div>
{% regroup itemoptions by item as item_list %}
<div class='list-group'>
	{% for item in item_list %}
		<span class='list-group-item'>
			<strong>{{ item.grouper.name }}</strong>
			<strong class='pull-right'>{{ item.grouper.boughtitem__count }}</strong>
		</span>
		{% for option in item.list %}
			<a class='list-group-item' href='{{ attendees_url }}?bought_items__item_option={{ option.pk }}'>
				&nbsp; {{ option.name }} &nbsp; <em>{{ option.price|format_money:event.currency }}</em>
				<span class='pull-right'>{{ option.boughtitem__count }}</span>
			</a>
		{% endfor %}
	{% empty %}
		<div class='list-group-item text-muted'>
			<ul class='list-inline'>
				<li>This event has no items for purchase.</li>

				<li><a class='btn btn-primary' href='{% url "brambling_item_create" event_slug=event.slug organization_slug=event.organization.slug %}'>
					Create item
					<span class='fa fa-plus'></span>
				</a></li>
			</ul>
		</div>
	{% endfor %}
</div>
			</div>
		</div>
		<div class='col-md-6'>
			<div class='panel panel-default'>
				<div class='panel-heading'>
					<h4 class='panel-title'>
						Discount Summary
					</h4>
				</div>
				<ul class='list-group'>
					{% for discount in discounts %}
						<a class='list-group-item' href='{{ attendees_url }}?bought_items__discounts__discount={{ discount.pk }}'>
							{{ discount.name }} <em class='text-muted'>{{ discount.code }}</em>
							<strong class='pull-right'>{{ discount.used_count }}</strong>
						</a>
					{% empty %}
						<div class='list-group-item text-muted'>
							<ul class='list-inline'>
								<li>This event has no discounts.</li>

								<li><a class='btn btn-primary' href='{% url "brambling_discount_create" event_slug=event.slug organization_slug=event.organization.slug %}'>
									Create discount
									<span class='fa fa-plus'></span>
								</a></li>
							</ul></div>
					{% endfor %}
				</ul>
			</div>
			<div class='panel panel-default'>
				<div class='panel-heading'>
					<h4 class='panel-title'>
						Attendee Summary
					</h4>
				</div>
				<div class='list-group'>
					{% if event.collect_housing_data %}
						<a class='list-group-item' href='{{ attendees_url }}?housing_status=need'>
							Requesting housing
							<strong class='pull-right'>{{ attendee_requesting_count }}</strong>
						</a>
						<a class='list-group-item' href='{{ attendees_url }}?housing_status=have'>
							Arranged housing
							<strong class='pull-right'>{{ attendee_arranged_count }}</strong>
						</a>
						<a class='list-group-item' href='{{ attendees_url }}?housing_status=home'>
							At own home
							<strong class='pull-right'>{{ attendee_home_count }}</strong>
						</a>
					{% endif %}
					<a class='list-group-item' href='{{ attendees_url }}'>
						<strong>Total count</strong>
						<strong class='pull-right'>{{ attendee_count }}</strong>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
