{% if messages %}
	{% for message in messages %}
		<div class="alert alert-dismissable alert-{% if message.tags == 'debug' %}info{% elif message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			{{ message }}
		</div>
	{% endfor %}
{% endif %}
{% if not user.confirmed_email %}
	<div class='alert alert-warning'>You must confirm your email address to register for events. <a class='alert-link' href="{% url 'brambling_email_confirm_send' %}">Resend confirmation email</a></div>
{% endif %}
