{% extends 'brambling/layouts/12.html' %}

{% load staticfiles %}

{% block title %}{{ event.name }} – {{ block.super }}{% endblock %}

{% block top %}
	{% if event.banner_image %}
		{% include "brambling/_navbar.html" with navbar_class="navbar navbar-default navbar-static-top" %}
	{% else %}
		{{ block.super }}
	{% endif %}
{% endblock %}

{% block main %}
	{% include "brambling/event/order/_masthead.html" %}

	{% if workflow %}
		{% include "brambling/event/order/_steps.html" %}
	{% endif %}

	{% if order.has_cart %}
		{% if next_step %}
			<div class='row'>
				<div class='col-md-6'>
					{% include "brambling/event/order/_expiry_countdown.html" with expiry_time=order.cart_expire_time only %}
				</div>
				<div class='col-md-6'>
					{% block next_step_button %}
					<a class='btn btn-success btn-block btn-lg' href='{{ next_step.url }}'{% if not next_step.is_accessible %} disabled{% endif %}> Next step <i class='fa fa-chevron-right'></i></a>
					{% endblock %}
				</div>
			</div>
		{% else %}
			{% include "brambling/event/order/_expiry_countdown.html" with expiry_time=order.cart_expire_time only %}
		{% endif %}
		<div class="modal fade" id="countdownCompleteModal" role="dialog" aria-labelledby="timeUpModal" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">Time&#8217;s up!</h4>
					</div>
					<div class="modal-body">
						<p><strong>Sorry!</strong> Your cart ran out of time. Please return to the event&#8217;s main page and start again.</p>
					</div>
					<div class="modal-footer">
						<a href="{% url "brambling_event_root" event.slug %}" class="btn btn-primary">Return to <strong>{{ event.name }}</strong></a>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block javascripts %}
	{{ block.super }}
	<script type="text/javascript" src="{% static "zenaida/js/bootstrap/modal.js" %}"></script>
{% endblock %}
