{% extends 'brambling/layouts/12.html' %}

{% load staticfiles zenaida %}

{% block title %}{{ event.name }} – {{ block.super }}{% endblock %}

{% block meta %}
	<meta name="description" content="{{ event.description }}" />
	<meta property="og:site_name" content="Dancerfly" />

	<meta property="og:title" content="{{ event.name }}" />
	<meta property="og:description" content="{{ event.description }}" />
	<meta property="og:url" content="https://{{ site.domain }}{% url 'brambling_event_shop' event_slug=event.slug organization_slug=event.organization.slug %}" />
	{% if event.banner_image %}
		<meta property="og:image" content="{% if MEDIA_URL|slice:':7' != 'http://' and MEDIA_URL|slice:':8' != 'https://' %}https://{{ site.domain }}{% endif %}{{ event.banner_image.url }}" />
		<meta property="og:image:width" content="{{ event.banner_image.width }}" />
		<meta property="og:image:height" content="{{ event.banner_image.height }}" />
	{% endif %}
{% endblock %}

{% block messages %}{% endblock %}{# blank the messages here and put them lower down #}

{% block main %}
	{% block masthead %}
		{% include "brambling/event/order/_masthead.html" %}

		{% if workflow %}
			{% include "brambling/event/order/_steps.html" %}
		{% endif %}
	{% endblock masthead %}

	{% include "brambling/layouts/_messages.html" %}

	{% block countdown_next %}
		{% if order.has_cart %}
			{% if next_step %}
				<div class='row margin-trailer'>
					<div class='col-md-6'>
						{% include "brambling/event/order/_expiry_countdown.html" with expiry_time=order.cart_expire_time %}
					</div>
					<div class='col-md-6'>
						{% block cart %}
							{% if order.has_cart %}
								{% with order.get_groupable_cart as cart %}
									<a href="#cartModal" class="btn btn-lg btn-block btn-default" data-toggle="modal" data-target="#cartModal">
										<i class="fa fa-fw fa-shopping-cart"></i> Cart ({{ cart.count }} item{{ cart|pluralize }})
									</a>

									{# TODO: this modal needs to be way more attractive. Also it'd be nice if it were a popover instead of a modal on desktop. #}
									{% regroup order.get_groupable_cart by item_name as cart_list %}
									<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartTitle" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<a href="#" class="pull-right" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></a>
													<h4 class="modal-title" id="cartTitle">Cart ({{ cart.count }} item{{ cart|pluralize }})</h4>
												</div>
												<table class="table">
													{% for options in cart_list %}
														{% for personitem in options.list %}
															<tr>
																<td>{{ personitem.item_name }} ({{ personitem.item_option_name }})</td>
																<td>{{ personitem.price|format_money:event.currency }}</td>
															</tr>
														{% endfor %}
													{% endfor %}
												</table>
												<div class="modal-footer">
													To add or remove items in your cart, return to the <a href="{% url 'brambling_event_shop' event_slug=event.slug organization_slug=event.organization.slug %}">event shop</a>.
												</div>
											</div>
										</div>
									</div>

								{% endwith %}
							{% endif %}
						{% endblock %}
					</div>
				</div>
			{% else %}
				{% include "brambling/event/order/_expiry_countdown.html" with expiry_time=order.cart_expire_time %}
			{% endif %}
		{% endif %}
	{% endblock countdown_next %}
{% endblock %}

{% block after %}
	<div class="row">
		<div class="col-md-5">
			{% block next_step_button %}
				{% if next_step and next_step.is_accessible %}
					{% include "brambling/event/order/_next_step_button.html" %}
				{% endif %}
			{% endblock %}
		</div>
{% endblock %}

{% block javascripts %}
	{# This bit of javascript needs to run pretty early to avoid a flash of content and jump. #}
	{% if current_step.name != "Shop" %}
		<script type="text/javascript">
			(function () {
				var scroll_to = document.getElementById("mastheadDetails").getBoundingClientRect().top + window.pageYOffset - document.documentElement.clientTop - 10;
				// Scroll to where the mastheadDetails element should be.
				window.scrollTo(0, scroll_to);
			}());
		</script>
	{% endif %}

	{{ block.super }}

	<script type="text/javascript" src="{% static "zenaida/js/bootstrap/modal.js" %}"></script>

	{# Make the shopping cart remove button ajaxy. #}
	<script type="text/javascript">
		{# TODO: Rewrite this javascript not to use the `target` attribute. Probably to submit forms. #}
		$(function(){
			$('a[target]').on('click', function(e){
				var $this = $(this);
				if ($this.attr('target') === '_blank') return true;
				$.post($this.attr('target'), function(data){
					if (data.success) {
						// just refresh for now
						document.location.reload()
					} else if (data.error) {
						$('.stepbar').after(
							"<div class='alert alert-dismissable alert-danger'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button> " + data.error + "</div>"
						);
					}
				});
				e.preventDefault();
			})
		});
	</script>
{% endblock %}
