{% extends "brambling/event/order/_summary.html" %}

{% load zenaida %}

{% block item_actions %}
	{% url 'brambling_event_refund' event_slug=event.slug code=order.code item_pk=item.bought_item.pk as url %}
	<form action='{{ url }}' method='post' class='form-inline'>{% csrf_token %}
	{% if item.payments %}
		{% if item.net_payments > 0 %}
			{% if item.uses_dwolla %}
				<div class="input-group">
					<input type="text" maxlength="4" placeholder="Dwolla PIN" class="form-control" name="dwolla_pin" required autocomplete="off">
					<span class="input-group-btn">
			{% endif %}
			<button type='submit' class='btn btn-success tipped' data-placement="top" data-container="body" title="Refund {{ item.net_payments|format_money:event.currency }}">
				<span class='fa fa-fw fa-rotate-left fa-rotate-90'></span>
			</button>
			{% if item.uses_dwolla %}
					</span>
				</div>
			{% endif %}
		{% endif %}
	{% else %}
		<button type='submit' class='btn btn-danger tipped' data-placement="top" data-container="body" title="Remove">
			<span class='fa fa-fw fa-times'></span>
		</button>
	{% endif %}
	</form>
{% endblock %}

{% block discount_actions %}
	<a href="{% url 'brambling_event_remove_discount' event_slug=event.slug code=order.code discount_pk=discount.pk %}" class='removeDiscountLink tipped text-danger' data-placement="top" data-container="body" title="Remove">
		<span class='fa fa-fw fa-times'></span>
	</a>
{% endblock %}

{% block payment_actions %}
{% endblock %}


{% block attendee_actions %}
{% endblock %}
