<div class='panel panel-primary'>
	<header class='panel-heading'>
		<div class='panel-title'>
			Attendees
		</div>
	</header>
	<ul class='list-group'>
		{% for attendee in attendees %}
			<li class='list-group-item'>
				<h4>
					{{ attendee.get_full_name }}

					{% block actions %}
						{% if code_in_url %}
							{% url "brambling_event_attendee_edit" pk=attendee.pk event_slug=event.slug organization_slug=event.organization.slug code=order.code as attendee_url %}
						{% else %}
							{% url "brambling_event_attendee_edit" pk=attendee.pk event_slug=event.slug organization_slug=event.organization.slug as attendee_url %}
						{% endif %}
						<a class='pull-right' href='{{ attendee_url }}'>
							<i class='fa fa-pencil fa-fw pull-right'></i>
							<span class='sr-only'>Edit {{ attendee.get_full_name }}</span>
						</a>
					{% endblock %}
				</h4>
				<p>
					{% for item in attendee.bought_items.all %}
						{% if item.status == item.RESERVED or item.status == item.UNPAID or item.status == item.BOUGHT %}
							{{ item.item_option_name }}
							({{ item.item_name }})
							{% if event.transfers_allowed %}
								{% if code_in_url %}
									{% url "brambling_event_order_transfer" event_slug=event.slug organization_slug=event.organization.slug code=order.code as transfer_url %}
								{% else %}
									{% url "brambling_event_order_transfer" event_slug=event.slug organization_slug=event.organization.slug as transfer_url %}
								{% endif %}
								{% if item.status == item.BOUGHT %}
									<a href='{{ transfer_url }}?bought_item={{ item.pk }}' class='pull-right'>
										<i class='fa fa-exchange'></i>
										Transfer
									</a>
								{% endif %}
							{% endif %}
							<br />
						{% endif %}
					{% endfor %}
				</p>
			</li>
		{% endfor %}
	</ul>
</div>
