{% load zenaida daguerre %}

{% if event.banner_image %}
	{% adjust event.banner_image 'fill' width=940 height=300 as banner_image %}
{% endif %}

<div class="masthead clearfix{% if banner_image %} masthead-light{% else %} masthead-brand{% endif %}">
	{% if banner_image %}<div class="masthead-cover-image" style="background-image: url({{ banner_image }})">{% endif %}
		<div class="relative">
			<div id="mastheadDetails" {% if banner_image %} class="relative-bottom relative-left relative-right"{% endif %}>
				<div class="media">
					<div class="pull-left media-object">
						{% if event.logo_image %}
							{% adjust event.logo_image 'fit' width=128 height=128 as image %}
							<img src="{{ image }}" class="image-framed" width="{{ image.width }}" height="{{ image.height }}">
						{% endif %}
					</div>{# /.media-object.pull-left #}
					<div class="media-body">
						<h1 class="text-accent media-heading{% if event_admin_nav %} masthead-h1-admin{% endif %}">
							<a class="a-uncolored" href="{% url "brambling_event_shop" event.slug %}">{{ event.name }}</a>
						</h1>
						<p class="text-large">
							{% include "brambling/event/_when.html" %}
							{% include "brambling/event/_where.html" %}
						</p>
					</div>{# /.media-body #}
				</div>{# /.media #}
			</div>{# /.relative-bottom.relative-left.relative-right #}

			{% if event_admin_nav %}
				<a href="{% url "brambling_event_summary" event.slug %}" class="btn btn-primary-light relative-top relative-right">
					<i class="fa fa-cog"></i> Manage Event
				</a>
			{% endif %}
		</div>{# /.relative #}
	{% if banner_image %}</div>{# /.masthead-cover-image #}{% endif %}
</div>{# /.masthead #}
