{% load floppyforms zenaida %}

<form class='margin-trailer-tiny'>
	<div class='input-group input-group-lg'>
		<input id='discountCode' class='form-control' placeholder='Discount code' autocomplete='off'>
		<span class='input-group-btn'>
			<button id='discountCodeButton' class='btn btn-success' type='submit'><span class='fa fa-plus'></span></button>
		</span>
	</div>
</form>

{% if net_balance <= 0 %}
	<form novalidate action="" method="post" class='margin-trailer-tiny'>
		{% csrf_token %}
		<button type="submit" class="btn btn-primary btn-block">Confirm cart purchases</button>
	</form>
{% else %}
	<div class="panel-group" id="accordion">
		{% if event.stripe_connected %}
			{% if choose_card_form and choose_card_form.fields.card.queryset %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#saved-card-panel">
								Pay with a saved credit card
							</a>
						</h4>
					</div>
					<div id="saved-card-panel" class="panel-collapse collapse{% if not request.POST.new_card %} in{% endif %}">
						<div class="panel-body">
							<form novalidate action="" method="post">
								{% csrf_token %}
								<input name='choose_card' value='1' type='hidden'>
								{% with id=choose_card_form.card.id_for_label name=choose_card_form.card.html_name %}
								<div class='row'>
									{% for card in choose_card_form.fields.card.queryset %}
										<div class='col-xs-6'>
											<div class='radio'>
												<label for="{{ id }}_{{ forloop.counter }}">
													<input type="radio" id="{{ id }}_{{ forloop.counter }}"
														value="{{ card.pk }}" name="{{ name }}" required
														{% if card.pk in value %}checked{% endif %}>
													<i class='fa fa-fw fa-{{ card.get_icon }}'></i>
													{{ card.brand }} &bull;&bull;&bull;&bull;{{ card.last4 }}
													<br />
													Expires {{ card.exp_month }}/{{ card.exp_year }}
												</label>
											</div>
										</div>
									{% endfor %}
								</div>
								{% endwith %}

								<p>
									<button type="submit" class="btn btn-primary">Pay now ({{ net_balance|format_money:event.currency }})</button>
									<a class='btn btn-link' href="{% url 'brambling_user_billing' %}">Manage saved cards</a>
								</p>
							</form>
							{% include 'brambling/_stripe_note.html' %}
						</div>
					</div>
				</div>
			{% endif %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#card-panel">
							Pay with a credit card
						</a>
					</h4>
				</div>
				<div id="card-panel" class="panel-collapse collapse{% if request.POST.new_card %} in{% endif %}">
					<div class="panel-body">
						{% include 'brambling/_stripe_form.html' with api_type=event.api_type %}
						<form novalidate action="" method="post" id='card-form'>
							{% csrf_token %}
							<input name='new_card' value='1' type='hidden'>

							{% if new_card_form.save_card %}{% formrow new_card_form.save_card %}{% endif %}

							<p><button type="submit" id='card-submit' class="btn btn-primary">Pay now ({{ net_balance|format_money:event.currency }})</button></p>
						</form>
					</div>
				</div>
			</div>
		{% endif %}
		{% if event.dwolla_connected %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#dwolla-panel">
							Pay with Dwolla
						</a>
					</h4>
				</div>
				<div id="dwolla-panel" class="panel-collapse collapse{% if request.POST.dwolla %} in{% endif %}">
					<div class='panel-body'>
						{% if dwolla_is_connected %}
							<p>Connected account: {{ dwolla_user_id }}</p>
							<form novalidate action="" method="post">
								{% csrf_token %}
								<input name='dwolla' value='1' type='hidden'>

								{% formrow dwolla_form.dwolla_pin with autocomplete="off" %}
								{% formrow dwolla_form.source %}

								<button type="submit" class="btn btn-primary">Pay now ({{ net_balance|format_money:event.currency }})</button>
							</form>
						{% else %}
							<a href='{{ dwolla_oauth_url }}' class='btn btn-primary'>Connect to Dwolla <i class='fa fa-external-link'></i></a>
						{% endif %}
					</div>
				</div>
			</div>
		{% endif %}

		{# Payment by check #}
		{# TODO: Disallowing payment by check after the cutoff should also be enforced on the view end. #}
		{% if event.organization.check_payment_allowed and event.check_postmark_cutoff %}
			{% td_to_dict event.check_postmark_cutoff|td_timeuntil as time_until_check_cutoff %}
			{% if time_until_check_cutoff.days >= 0 %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#check-panel">
								Pay with check
							</a>
						</h4>
					</div>
					<div id="check-panel" class="panel-collapse collapse{% if request.POST.check %} in{% endif %}">
						<div class='panel-body'>
							{% include "brambling/event/order/_check_payment_info.html" %}
							<form novalidate action="" method="post">
								{% csrf_token %}
								<input name='check' value='1' type='hidden'>

								<button type="submit" class="btn btn-primary">Complete Order ({{ net_balance|format_money:event.currency }})</button>
							</form>
						</div>
					</div>
				</div>
			{% endif %}
		{% endif %}
	</div>
{% endif %}
