{% if pending_transfers %}
<div class="panel panel-primary">
	<header class="panel-heading">
		<div class="panel-title">
			Pending Transfers
		</div>
	</header>

	<ul class="list-group">
		{% for transfer in pending_transfers %}
		<li class="list-item list-group-item">
			<span>
				{{ transfer.bought_item.item_option_name }}
				({{ transfer.bought_item.item_name }})
				offered to
				{{ transfer.invite.email }}
				{{ transfer.invite.created|timesince }} ago
			</span>

			<a
				href="{% url 'brambling_invite_delete' code=transfer.invite.code %}"
				class="btn btn-default"
			>
				Cancel
			</a>
		</li>
		{% endfor %}
	</ul>
</div>
{% endif %}
