{% load zenaida tz %}

{% timezone event.timezone %}
<div class='panel panel-default'>
	<div class='panel-heading'>
		<h3 class='panel-title'>
			{% if txn %}
				{{ txn.get_transaction_type_display }}
				<span class='pull-right'>
					{{ txn.timestamp|date:"F jS, Y" }}
				</span>
			{% else %}
				<i class='fa fa-cart fa-fw'></i> Cart
			{% endif %}
		</h3>
	</div>
	<ul class='list-group'>
		{% for item in txn_dict.items %}
			<li class='list-group-item'>
				{{ item.item_option.name }} ({{ item.item_option.item.name }})
				<span class='pull-right'>
					{{ item.item_option.price|format_money:event.currency }}
				</span>
			</li>
		{% endfor %}
		{% for discount in txn_dict.discounts %}
			<li class='list-group-item'>
				{{ discount.name }}
				<span class='pull-right'>
					({{ discount.savings|absolute_value|format_money:event.currency }})
				</span>
			</li>
		{% endfor %}
	</ul>

	<ul class='list-group'>
		<li class='list-group-item'>
			<strong>Subtotal</strong>
			<strong class='pull-right'>
				{{ gross_cost|format_money:event.currency }}
			</strong>
		</li>
	</ul>
	{% if txn %}
		<div class='panel-footer'>
			<div class='row'>
				<div class='col-xs-6'>
					<h4>
						{% if txn.card %}
							<i class='fa fa-fw fa-{{ txn.card.get_icon }}'></i>
							{{ txn.card.get_brand_display }}
							&bull;&bull;&bull;&bull;{{ txn.card.last4 }}
						{% else %}
							{{ txn.get_method_display }}
						{% endif %}
					</h4>
					<p>
						{{ txn.amount|format_money:event.currency }}
					</p>
				</div>
				<div class='col-xs-6'>
					<div class='pull-right text-right'>
						{% block actions %}
							{% if txn.is_confirmed %}
								<button class='btn btn-success pull-right'>
									<i class='fa fa-check'></i> Confirmed
								</button>
							{% else %}
								<button class='btn btn-danger pull-right'>
									<i class='fa fa-ban'></i> Pending
								</button>
							{% endif %}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
	{% endif %}
</div>
{% endtimezone %}
