{% extends 'brambling/event/order/__base.html' %}

{% load floppyforms zenaida %}

{% block title %}{% if attendee.pk %}Edit {{ attendee.get_full_name }}{% else %}Add an attendee{% endif %} – {{ block.super }}{% endblock %}

{% block main %}
	{{ block.super }}

	{# novalidate - see https://github.com/brutasse/django-floppyforms/issues/75 #}
	<div class="row">
		<div class='col-md-4'>
			<ul class='list-group'>
				{# these are BoughtItems #}
				{% for pass in ordered_passes %}
					<a href="{% url 'brambling_event_attendee_edit' event_slug=event.slug pk=pass.pk %}"class='list-group-item{% if pass == event_pass %} active{% elif pass.attendee_id %} disabled{% endif %}'>
						{% if pass.attendee_id %}
							<strong>{{ pass.attendee.get_full_name }}</strong><br />
						{% endif %}
						{{ pass.item_option.name }}<br />
						<small>{{ pass.item_option.item.name }}</small>
					</a>
				{% endfor %}
			</ul>
		</div>
		<div class="col-md-8">
			<h3>
				<span class="text-muted">Attendee information for</span><br>
				{{ event_pass.item_option.name }} ({{ event_pass.item_option.item.name }})
			</h3>

			<form action="{{ request.path }}" method="post" novalidate>
				{% csrf_token %}
				{% form form using %}
					{% formconfig row using "floppyforms/rows/bootstrap.html" %}

					<div class="row">
						<div class="col-md-6">
							{% formrow form.given_name %}
						</div>
						<div class="col-md-6">
							{% formrow form.surname %}
						</div>
					</div>

					<div class="row collapse" id="extraName">
						<div class="col-sm-6">
							{% formrow form.middle_name %}
						</div>
						<div class="col-sm-6">
							{% formrow form.name_order %}
						</div>
					</div>

					<a href="#extraName" data-toggle="collapse" class="{% if masthead %}masthead-link {% endif %}pull-right more-name-options"><small><i class="fa fa-plus"></i> More Name Options</small></a>
					{% formrow form.email %}
					{% formrow form.phone %}

					{% formrow form.additional_items %}

					{% if form.housing_status %}
						{% formrow form.housing_status %}
					{% endif %}

					{% formrow form.photo_consent %}

					<div class="well">
						{{ event.get_liability_waiver }}
						{% formrow form.liability_waiver with label="I have read and agree to the waiver above." %}
					</div>

				{% endform %}
				<button class='btn btn-primary' type="submit">{% if attendee.pk %}Save changes{% else %}Save and continue{% endif %}</button>
				{% if attendee.pk %}<a href="../">Cancel</a>{% endif %}
			</form>
		</div>
	</div>
{% endblock %}
