{% extends 'brambling/event/order/__base.html' %}

{% load floppyforms zenaida staticfiles %}

{% block title %}Assign items to attendees – {{ block.super }}{% endblock %}

{% block javascripts %}
	{{ block.super }}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ractive/0.7.3/ractive.js"></script>

	<script type="text/javascript" src="{% static "brambling/attendees.ractive.js" %}"></script>

	<script>
		var attendees = new Attendees({
			el: '#ractiveContainer',
			template: '#ractiveTemplate',
			apiEndpoints: {
				"root": "{% url 'api-root' %}",
				"housingcategory": "{% url 'housingcategory-list' %}",
				"environmentalfactor": "{% url 'environmentalfactor-list' %}",
				"dancestyle": "{% url 'dancestyle-list' %}",
				"organization": "{% url 'organization-list' %}",
				"event": "{% url 'event-list' %}",
				"attendee": "{% url 'attendee-list' %}",
				"eventhousing": "{% url 'eventhousing-list' %}",
				"order": "{% url 'order-list' %}",
				"boughtitem": "{% url 'boughtitem-list' %}",
				"item": "{% url 'item-list' %}",
				"itemimage": "{% url 'itemimage-list' %}",
				"itemoption": "{% url 'itemoption-list' %}",
				"orderdiscount": "{% url 'orderdiscount-list' %}",
				"daguerre": "/daguerre/info/"
			},
			eventId: "{{ event.pk }}",
			data: {
				editableByUser: {% if editable_by_user %}true{% else %}false{% endif %},
				showEventDescription: false
			}
		});
		attendees.set('steps', [
			{% for step in workflow.active_steps %}
				{
					slug: "{{ step.slug }}",
					name: "{{ step.name }}",
					url: "{% url step.view_name organization_slug=event.organization.slug event_slug=event.slug as step_url %}",
					is_completed: {% if step.is_completed %}true{% else %}false{% endif %},
					is_accessible: {% if step.is_accessible %}true{% else %}false{% endif %}
				}{% if not forloop.last %},{% endif %}
			{% endfor %}
		]);

		attendees.observe('attendees boughtitems', function () {
			var atts = attendees.get('attendees'),
				boughtitems = attendees.get('boughtitems');

			if (atts && boughtitems) {
				var unassigned_items = [],
					att_map = {};
				$.each(atts, function (idx, att) {
					att_map[att.link] = att;
					att.boughtitems = [];
				});
				$.each(boughtitems, function (idx, item) {
					if (item.attendee && att_map[item.attendee]) {
						att_map[item.attendee].boughtitems.push(item);
					} else {
						unassigned_items.push(item);
					}
				});
				attendees.set({
					'attendees': atts,
					'unassigned_items': unassigned_items
				});
			}
		});
	</script>
{% endblock %}

{% block main %}
	<div id='ractiveContainer'></div>

	<script id='ractiveTemplate' type='text/ractive'>
		{% include 'brambling/event/order/_masthead_ractive.html' %}
		{% include 'brambling/event/order/_attendees_ractive.html' %}
	</script>
{% endblock %}
