{% extends 'brambling/event/order/__base.html' %}

{% load floppyforms zenaida staticfiles %}

{% block title %}Assign items to attendees – {{ block.super }}{% endblock %}

{% block javascripts %}
	{{ block.super }}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ractive/0.7.3/ractive.js"></script>

	<script type="text/javascript" src="{% static "brambling/lib/ractive-events-tap.js" %}"></script>
	<script type="text/javascript" src="{% static "brambling/javascript/components/attendees.ractive.js" %}"></script>

	<script>
		var attendees = new Attendees({
			el: '#ractiveContainer',
			template: '#ractiveTemplate',
			apiEndpoints: {
				"root": "{% url 'api-root' %}",
				"housingcategory": "{% url 'housingcategory-list' %}",
				"environmentalfactor": "{% url 'environmentalfactor-list' %}",
				"dancestyle": "{% url 'dancestyle-list' %}",
				"organization": "{% url 'organization-list' %}",
				"event": "{% url 'event-list' %}",
				"attendee": "{% url 'attendee-list' %}",
				"eventhousing": "{% url 'eventhousing-list' %}",
				"order": "{% url 'order-list' %}",
				"boughtitem": "{% url 'boughtitem-list' %}",
				"item": "{% url 'item-list' %}",
				"itemimage": "{% url 'itemimage-list' %}",
				"itemoption": "{% url 'itemoption-list' %}",
				"orderdiscount": "{% url 'orderdiscount-list' %}",
				"daguerre": "/daguerre/info/"
			},
			eventId: "{{ event.pk }}",
			data: {
				editableByUser: {% if editable_by_user %}true{% else %}false{% endif %},
				hugSteps: {% if order.has_cart %}false{% else %}true{% endif %}
			}
		});
		attendees.set('steps', [
			{% for step in workflow.active_steps %}
				{
					slug: "{{ step.slug }}",
					name: "{{ step.name }}",
					url: "{% url step.view_name organization_slug=event.organization.slug event_slug=event.slug %}",
					is_completed: {% if step.is_completed %}true{% else %}false{% endif %},
					is_accessible: {% if step.is_accessible %}true{% else %}false{% endif %}
				}{% if not forloop.last %},{% endif %}
			{% endfor %}
		]);
	</script>
{% endblock %}

{% block masthead %}
	{% include "brambling/event/order/_masthead.html" %}
{% endblock %}

{% block main %}
	{{ block.super }}

	<div id='ractiveContainer'></div>

	<script id='ractiveTemplate' type='text/ractive'>
		{% include 'brambling/event/order/_steps_ractive.html' %}
		{% include 'brambling/event/order/_attendees_ractive.html' %}
	</script>
{% endblock %}

{% block next_step_button %}{% endblock %}
