{% extends 'brambling/event/order/__base.html' %}

{% load floppyforms %}
{% formconfig row using "brambling/forms/rows/bootstrap.html" %}

{% block title %}Provide housing data for attendees – {{ block.super }}{% endblock %}

{% block javascripts %}
	{{ block.super }}

	{% include 'brambling/event/order/_use_discount_js.html' %}
{% endblock %}

{% block main %}
	{{ block.super }}

	<form action="" method="post" novalidate>
		{% csrf_token %}


		{% for form in forms %}
			<div class='panel panel-default'>
				<header class='panel-heading'>
					<div class='panel-title'>
						{{ form.instance.get_full_name }}
					</div>
				</header>
				<div class='panel-body'>
					{% form form using %}
						<div class='row'>
							<div class='col-md-6'>
								{% formrow form.nights %}
							</div>
							<div class='col-md-6'>
								{% formrow form.housing_prefer %}
							</div>
						</div>

						<div class='row'>
							<div class='col-md-6'>
								{% formrow form.ef_cause %}
								{% if form.ef_cause_confirm %}{% formrow form.ef_cause_confirm %}{% endif %}
							</div>
							<div class='col-md-6'>
								{% formrow form.ef_avoid %}
								{% if form.ef_avoid_confirm %}{% formrow form.ef_avoid_confirm %}{% endif %}
							</div>
						</div>

						<div class='row'>
							<div class='col-md-6'>{% formrow form.person_prefer %}</div>
							<div class='col-md-6'>{% formrow form.person_avoid %}</div>
						</div>

						{% formrow form.other_needs %}

						{% for field in form.custom_fields %}
							{% formrow field %}
						{% endfor %}

						{% formrow form.save_as_defaults %}

					{% endform %}
				</div>
			</div>
		{% endfor %}

		<button type="submit" class="btn btn-success btn-lg col-md-5">Next step <span class='fa fa-chevron-right'></span></button>
	</form>
{% endblock %}
