{% extends 'brambling/event/order/__base.html' %}

{% load floppyforms %}

{% block title %}Provide housing data for attendees – {{ block.super }}{% endblock %}

{% block javascripts %}
	{{ block.super }}

	{% include 'brambling/event/order/_use_discount_js.html' %}
{% endblock %}

{% block main %}
	{{ block.super }}

	<form action="" method="post" novalidate>
		{% csrf_token %}


		{% for form in forms %}
			<div class='panel panel-default'>
				<header class='panel-heading'>
					<div class='panel-title'>
						{{ form.instance.get_full_name }}
					</div>
				</header>
				<div class='panel-body'>
					{% form form using "brambling/forms/attendee_housing.html" %}
				</div>
			</div>
		{% endfor %}

		<button type="submit" class="btn btn-success btn-block btn-lg">Next step <span class='fa fa-chevron-right'></span></button>
	</form>
{% endblock %}
