{% extends 'brambling/event/order/__base.html' %}

{% load floppyforms %}

{% block title %}Provide housing data – {{ block.super }}{% endblock %}

{% block javascripts %}
	{{ block.super }}

	{% include 'brambling/event/_use_discount_js.html' %}
{% endblock %}

{% block main %}
	{{ block.super }}

	<form action="" method="post" novalidate>
		{% csrf_token %}

		{% form form using "brambling/forms/hosting.html" %}

		{% for form in form.slot_forms %}
			<h5>Spaces for {{ form.instance.night }}</h5>
			{% form form using %}
				<div class='row'>
					<div class='col-xs-6'>{% formrow form.spaces with label="Comfy" %}</div>
					<div class='col-xs-6'>{% formrow form.spaces_max with label="Max" %}</div>
				</div>
			{% endform %}
		{% endfor %}

		<button type="submit" class="btn btn-success btn-block btn-lg">Next step <span class='fa fa-chevron-right'></span></button>
	</form>
{% endblock %}
