{% extends 'brambling/event/order/__base.html' %}

{% load staticfiles floppyforms zenaida daguerre %}

{% block title %}Shop – {{ block.super }}{% endblock %}

{% block javascripts %}
	{{ block.super }}

	{% if not user.is_authenticated or user.confirmed_email %}
		{% include 'brambling/event/order/_use_discount_js.html' %}

		<script>
			$(function(){
				$('a[target]').on('click', function(e){
					e.preventDefault();
					$.post($(this).attr('target'), function(data){
						// For now, just reload the page.
						if (data.success) {
							location.reload();
						} else if (data.error) {
							$('#items-list').before(
								"<div class='alert alert-dismissable alert-danger'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button> " + data.error + "</div>"
							);
						}
					});
				})
			});
		</script>
	{% endif %}

	<script type="text/javascript" src="{% static "zenaida/js/bootstrap/carousel.js" %}"></script>
{% endblock %}

{% block main %}
	{{ block.super }}

	{% include "brambling/event/_empty_shop_alert.html" %}

	{% if not user.is_authenticated %}
		<div class="alert alert-warning">
			<div class="row">
				<div class="col-sm-8">
					<strong>{{ event.name }}</strong> is using Dancerfly to manage event registration. <a href="{% url "login" %}" class="alert-link">Log in</a> with your Dancerfly account or <a href="{% url "brambling_signup" %}" class="alert-link">create an account</a> to more easily and securely manage your registrations. It&#8217;s free and easy and only takes a minute.
				</div>
				<div class="col-sm-4">
					<a href="{% url "brambling_signup" %}?next={{ request.path }}" class="btn btn-primary btn-block">Create an Account</a>
					<a href="{% url "login" %}?next={{ request.path }}" class="btn btn-default btn-block">Log In</a>
				</div>
			</div>
		</div>
	{% endif %}



	{% if item_options %}
		{% regroup item_options by item as option_list %}
		<div class="row" id="items-list">
			<div class="col-md-5 col-md-push-7">
				{% with has_cart=order.has_cart %}
					{% if has_cart %}
						<div class='panel panel-default'>
							<header class='panel-heading'>
								<div class='panel-title'>
									<i class="fa fa-fw fa-shopping-cart"></i> Cart
								</div>
							</header>
							{% regroup order.get_groupable_cart by item_option.item as cart_list %}
							<ul class='list-group'>
								{% for options in cart_list %}
									<li class='list-group-item'><strong>{{ options.grouper }}</strong></li>
									{% for personitem in options.list %}
										<li class='list-group-item'>
											{{ personitem.item_option.name }} <a target='{% if order.person %}{% url "brambling_event_shop_remove" event_slug=event.slug pk=personitem.pk %}{% else %}{% url "brambling_event_shop_remove" event_slug=event.slug pk=personitem.pk code=order.code %}{% endif %}' href='javascript://' class='text-danger pull-right'><span class='fa fa-times'></span></a>
										</li>
									{% endfor %}
								{% endfor %}
							</ul>
						</div>
					{% endif %}
				{% endwith %}

				<div class='panel panel-default' id='discounts'>
					<header class='panel-heading'>
						<div class='panel-title'>
							<i class="fa fa-fw fa-gift"></i> Discounts
						</div>
					</header>
					<div class='list-group relative'>
						{% for discount in discounts %}
							<div class='list-group-item'>
								{{ discount.discount.name }} <em class='text-muted'>{{ discount.discount.code }}</em>
							</div>
						{% endfor %}
						<div class='list-group-item'>
							<div class='input-group'>
								<input id='discountCode' class='form-control' placeholder='Discount code' autocomplete='off'>
								<span class='input-group-btn'>
									<button id='discountCodeButton' class='btn btn-default' type='submit' data-slug="{{ event.slug }}"><span class='fa fa-plus'></span></button>
								</span>
							</div>
						</div>
						{% if user.is_authenticated and not user.confirmed_email %}
							<div class="scrim"></div>
						{% endif %}
					</div>{# /.list-group #}
				</div>
			</div>
			<div class="col-md-7 col-md-pull-5">

				{% if event.description or event.website_url%}
					<div class="list-group">
						{% if event.description %}
							<div class="list-group-item">
								<div class="shortened" data-lines="3">
									{{ event.description|linebreaks }}
								</div>
							</div>
						{% endif %}
						{% if event.website_url %}
							<a class="list-group-item" href="{{ event.website_url }}">
								<div class="pull-right">
									<i class="fa fa-chevron-right"></i>
								</div>
								{{ event.website_url }}
							</a>
						{% endif %}
					</div>
				{% endif %}

				{% for options in option_list %}
					<div class='panel panel-default'>
						<header class='panel-heading clearfix'>
							{% with images=options.grouper.images.all %}
								{% if images %}
									<img src="{% adjust images.0.image 'fit' width=100 height=100 %}" class="img-responsive pull-left item-img" data-toggle="modal" data-target="#imageModal{{ forloop.counter }}">
								{% endif %}
								<div class='panel-title'>{{ options.grouper.name }}</div>
								<div class="shortened" data-lines="2">
									{{ options.grouper.description|linebreaks }}
								</div>
								{% if images %}
									{% if images|length > 1 %}<a href="" data-toggle="modal" data-target="#imageModal{{ forloop.counter }}">{{ images|length }} photo{{ images|pluralize }}</a>{% endif %}
									<div class="modal fade" id="imageModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
													<h4 id="myLargeModalLabel">{{ options.grouper.name }}</h4>
												</div>
												<div id="item-carousel{{ forloop.counter }}" class="carousel slide" data-ride="carousel" data-interval="false">
												{% if images|length > 1 %}
													<!-- Indicators -->
													<ol class="carousel-indicators">
														{% for image in images %}
															<li data-target="#item-carousel{{ forloop.counter }}" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active"{% endif %}></li>
														{% endfor %}
													</ol>
												{% endif %}
												<!-- Wrapper for slides -->
												<div class="carousel-inner text-center">
													{% for image in images %}
														<div class="item{% if forloop.first %} active{% endif %}">
															<img src="{{ image.image.url }}">
														</div>
													{% endfor %}
												</div>
												{% if images|length > 1 %}
													<!-- Controls -->
													<a class="left carousel-control" href="#item-carousel{{ forloop.counter }}" role="button" data-slide="prev">
														<span class="icon-prev fa fa-2x fa-chevron-left"></span>
													</a>
													<a class="right carousel-control" href="#item-carousel{{ forloop.counter }}" role="button" data-slide="next">
														<span class="icon-next fa fa-2x fa-chevron-right"></span>
													</a>
												{% endif %}
											</div>
											</div>
										</div>
									</div>
								{% endif %}
							{% endwith %}
						</header>
						<div class='list-group relative'>
							{% for option in options.list %}
								<a{% if not user.is_authenticated or user.confirmed_email %} target='{% if order.person %}{% url "brambling_event_shop_add" event_slug=event.slug pk=option.pk %}{% else %}{% url "brambling_event_shop_add" event_slug=event.slug pk=option.pk code=order.code %}{% endif %}'{% endif %} href='javascript://' class="list-group-item">
									{# <div class="scroll-x"> #}
										<div class='row'>
											<div class='col-sm-5'>{{ option.name }}</div>
											<div class='col-sm-3 text-right'>{% if option.total_number %}{{ option.remaining }} / {{ option.total_number }} left{% else %}&nbsp;{% endif %}</div>
											<div class='col-sm-3 text-right'>{{ option.price|format_money:event.currency }}</div>
											<div class='col-sm-1 text-right'><span class='fa fa-plus'></span></div>
										</div>
									{# </div> #}
								</a>
							{% endfor %}
							{% if user.is_authenticated and not user.confirmed_email %}
								<div class="scrim"></div>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% else %}
		<div class="row">
			<div class="col-sm-8">
				<h4>{{ event.name }} doesn't have any passes or merchandise available right now. Check back later or contact an event organizer.</h4>
			</div>
		</div>
	{% endif %}
{% endblock %}
