{% extends 'brambling/event/order/__base.html' %}

{% load staticfiles floppyforms zenaida %}

{% block title %}Shop – {{ block.super }}{% endblock %}

{% block javascripts %}
	{{ block.super }}

	{% include 'brambling/event/order/_use_discount_js.html' %}

	<script>
		$(function(){
			$('a[target]').on('click', function(e){
				e.preventDefault();
				$.post($(this).attr('target'), function(data){
					// For now, just reload the page.
					if (data.success) {
						location.reload();
					} else if (data.error) {
						$('#items-list').before(
							"<div class='alert alert-dismissable alert-danger'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button> " + data.error + "</div>"
						);
					}
				});
			})
		});
	</script>
	{% include "brambling/event/_confirmation_screen.html" %}
	<script type="text/javascript" src="{% static "zenaida/js/bootstrap/carousel.js" %}"></script>
{% endblock %}

{% block main %}
	{{ block.super }}

	{% include "brambling/event/_empty_shop_alert.html" %}

	{% if item_options %}
		{% regroup item_options by item as option_list %}
		<div class="row" id="items-list">
			<div class="col-md-7">
				{% for options in option_list %}
					<div class='panel panel-default'>
						<header class='panel-heading clearfix'>
							{# if image #}
								<img src="http://placehold.it/100x100" class="img-responsive pull-left item-img" data-toggle="modal" data-target="#imageModal"> 
							{# endif #}
							<div class='panel-title'>{{ options.grouper.name }}</div>
							<p>I am an optional short description of the item yes I am</p>
							<a href="" data-toggle="modal" data-target="#imageModal">3 photos</a>
							<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
											<h4 id="myLargeModalLabel">{{ options.grouper.name }}</h4>
										</div>
										<div id="item-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
										<!-- Indicators -->
										<ol class="carousel-indicators">
											<li data-target="#item-carousel" data-slide-to="0" class="active"></li>
											<li data-target="#item-carousel" data-slide-to="1"></li>
											<li data-target="#item-carousel" data-slide-to="2"></li>
										</ol>
										<!-- Wrapper for slides -->
										<div class="carousel-inner">
											<div class="item active">
												<img src="http://placehold.it/598x449">
											</div>
											<div class="item">
												<img src="http://placehold.it/598x449">
											</div>
											<div class="item">
												<img src="http://placehold.it/598x449">
											</div>
										</div>
										<!-- Controls -->
										<a class="left carousel-control" href="#item-carousel" role="button" data-slide="prev">
											<span class="icon-prev fa fa-2x fa-chevron-left"></span>
										</a>
										<a class="right carousel-control" href="#item-carousel" role="button" data-slide="next">
											<span class="icon-next fa fa-2x fa-chevron-right"></span>
										</a>
									</div>
									</div>
								</div>
							</div>
						</header>
						<div class='list-group'>
							{% for option in options.list %}
								<a target='{% url "brambling_event_shop_add" event_slug=event.slug pk=option.pk %}' href='javascript://' class="list-group-item">
									<div class='row'>
										<div class='col-xs-5'>{{ option.name }}</div>
										<div class='col-xs-3 text-right'>{% if option.total_number %}{{ option.remaining }} / {{ option.total_number }} left{% else %}&nbsp;{% endif %}</div>
										<div class='col-xs-3 text-right'>{{ option.price|format_money:event.currency }}</div>
										<div class='col-xs-1 text-right'><span class='fa fa-plus'></span></div>
									</div>
								</a>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="col-md-5">
				{% with has_cart=order.has_cart %}
					{% if has_cart %}
						<div class='panel panel-default'>
							<header class='panel-heading'>
								<div class='panel-title'>
									<i class="fa fa-fw fa-shopping-cart"></i> Cart
								</div>
							</header>
							{% regroup order.get_groupable_cart by item_option.item as cart_list %}
							<ul class='list-group'>
								{% for options in cart_list %}
									<li class='list-group-item'><strong>{{ options.grouper }}</strong></li>
									{% for personitem in options.list %}
										<li class='list-group-item'>
											{{ personitem.item_option.name }} <a target='{% url "brambling_event_shop_remove" event_slug=event.slug pk=personitem.pk %}' href='javascript://' class='text-danger pull-right'><span class='fa fa-times'></span></a>
										</li>
									{% endfor %}
								{% endfor %}
							</ul>
						</div>
					{% endif %}
				{% endwith %}

				<div class='panel panel-default' id='discounts'>
					<header class='panel-heading'>
						<div class='panel-title'>
							<i class="fa fa-fw fa-gift"></i> Discounts
						</div>
					</header>
					<ul class='list-group'>
						{% for discount in discounts %}
							<li class='list-group-item'>
								{{ discount.discount.name }} <em class='text-muted'>{{ discount.discount.code }}</em>
							</li>
						{% endfor %}
						<li class='list-group-item'>
							<div class='input-group'>
								<input id='discountCode' class='form-control' placeholder='Discount code' autocomplete='off'>
								<span class='input-group-btn'>
									<button id='discountCodeButton' class='btn btn-default' type='submit' data-slug="{{ event.slug }}"><span class='fa fa-plus'></span></button>
								</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	{% else %}
		<div class="row">
			<div class="col-sm-8">
				<h4>{{ event.name }} doesn't have any passes or merchandise available right now. Check back later or contact an event organizer.</h4>
			</div>
		</div>
	{% endif %}
{% endblock %}
