{% extends 'brambling/event/order/__base.html' %}

{% load floppyforms zenaida %}

{% block title %}Order summary – {{ block.super }}{% endblock %}

{% block javascripts %}
	{{ block.super }}

	<script type='text/javascript'>
		var discountReload = true;
	</script>
	{% include 'brambling/event/order/_use_discount_js.html' %}
	{% if event.uses_stripe %}{% include "brambling/_stripe_js.html" %}{% endif %}
{% endblock %}

{% block next_step_button %}
	<form class=''>
		<div class='input-group input-group-lg'>
			<input id='discountCode' class='form-control' placeholder='Discount code' autocomplete='off'>
			<span class='input-group-btn'>
				<button id='discountCodeButton' class='btn btn-success' type='submit' data-slug="{{ event.slug }}"><span class='fa fa-plus'></span></button>
			</span>
		</div>
	</form>
{% endblock %}

{% block main %}
	{% with next_step=1 %}
		{{ block.super }}
	{% endwith %}

	{% include "brambling/event/order/_summary.html" %}

	<p>A receipt for this purchase will be sent to
		{% if order.person %}
			<strong>{{ order.person.name }} ({{ order.person.email }})</strong>.
		{% elif order.email %}
			<strong>{{ order.email }}</strong>.
		{% endif %}
	</p>
	{% if event.uses_checks %}
		<p>Checks should be made out to <strong>{{ event.check_payable_to }}</strong> and include your order code (<strong>{{ order.code }}</strong>) in the memo line. Mail them to:</p>
		<p>
			{{ event.check_recipient }}</br />
			{{ event.check_address }}</br />
			{{ event.check_city }}, {{ event.check_state_or_province }}
			{{ event.check_country }}
		</p>
		<p>Checks must be postmarked no later than {{ event.check_postmark_cutoff|date:"F jS, Y" }}.</p>
	{% endif %}

	{% if net_balance > 0 %}
		{% if event.uses_stripe %}
			{% if has_cards %}
				<div class="panel-group" id="accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
									Pay with a saved card
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse{% if not request.POST.new_card %} in{% endif %}">
							<div class="panel-body">
								<form novalidate action="" method="post">
									{% csrf_token %}
									<input name='choose_card' value='1' type='hidden'>
									{% formrow choose_card_form.card %}

									{% for error in choose_card_form.non_field_errors %}
										<div class='alert alert-danger'>
											{{ error }}
										</div>
									{% endfor %}

									<button type="submit" class="btn btn-primary">Pay now ({{ net_balance|format_money:event.currency }})</button>
								</form>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
									Pay with a new card
								</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse{% if request.POST.new_card %} in{% endif %}">
							<div class="panel-body">
			{% endif %}

			{% include 'brambling/_stripe_form.html' %}
			<form novalidate action="" method="post" id='card-form'>
				{% csrf_token %}
				<input name='new_card' value='1' type='hidden'>

				{% if new_card_form.save_card %}{% formrow new_card_form.save_card %}{% endif %}

				{% for error in new_card_form.non_field_errors %}
					<div class='alert alert-danger'>
						{{ error }}
					</div>
				{% endfor %}

				<button type="submit" id='card-submit' class="btn btn-primary">Pay now ({{ net_balance|format_money:event.currency }})</button>
			</form>

			{% if has_cards %}
							</div>
						</div>
					</div>
				</div>
			{% endif %}
			{% include 'brambling/_stripe_note.html' %}
		{% endif %}
		{% if event.uses_dwolla %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						Pay with Dwolla
					</h4>
				</div>
				<div class="panel-body">
					{% if user.dwolla_user_id or order.dwolla_user_id %}
						{% if user.dwolla_user_id %}
							<p>Connected account: {{ user.dwolla_user_id }}</p>
						{% else %}
							<p>Connected account: {{ order.dwolla_user_id }}</p>
						{% endif %}
						<form novalidate action="" method="post">
							{% csrf_token %}
							<input name='dwolla' value='1' type='hidden'>

							{% formrow dwolla_form.dwolla_pin with autocomplete="off" %}

							{% for error in dwolla_form.non_field_errors %}
								<div class='alert alert-danger'>
									{{ error }}
								</div>
							{% endfor %}

							<button type="submit" class="btn btn-primary">Pay now ({{ net_balance|format_money:event.currency }})</button>
						</form>
					{% else %}
						<a href='{{ dwolla_oauth_url }}' class='btn btn-primary'>Connect to Dwolla <i class='fa fa-external-link'></i></a>
					{% endif %}
				</div>
			</div>
		{% endif %}
		{% if event.uses_checks %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						Pay with check
					</h4>
				</div>
				<div class="panel-body">
					<form novalidate action="" method="post">
						{% csrf_token %}
						<input name='check' value='1' type='hidden'>

						<button type="submit" class="btn btn-primary">Pay now ({{ net_balance|format_money:event.currency }})</button>
					</form>
				</div>
			</div>
		{% endif %}
	{% elif order.has_cart %}
		<form novalidate action="" method="post">
			{% csrf_token %}
			<button type="submit" class="btn btn-primary">Confirm cart purchases</button>
		</form>
	{% endif %}
{% endblock %}
