{% extends 'brambling/event/order/__base.html' %}

{% load floppyforms %}

{% block title %}Survey – {{ block.super }}{% endblock %}

{% block javascripts %}
	{{ block.super }}

	{% include 'brambling/event/_use_discount_js.html' %}
{% endblock %}

{% block next_step_button %}
	<button type="submit" class="btn btn-success btn-lg btn-block">Next step <span class='fa fa-chevron-right'></span></button>
{% endblock %}

{% block main %}
	<form action="" method="post" novalidate>
		{{ block.super }}

		{% csrf_token %}
		{% form form using %}
			{% formconfig row using "floppyforms/rows/bootstrap.html" %}


			{% formrow form.heard_through %}
			{% formrow form.heard_through_other %}

			<div data-target="#promotionalCollapse" data-toggle="collapse">
				{% formrow form.send_flyers with label="I would love to distribute promotional materials for "|add:event.name|add:" to my community. Please mail me some!" %}
			</div>
			<div id="promotionalCollapse" class="collapse{% if form.instance.send_flyers %} in{% endif %}">
				<div class="row">
					<div class="col-md-6">{% formrow form.send_flyers_address %}</div>
					<div class="col-md-6">{% formrow form.send_flyers_city %}</div>
					<div class="col-md-6">{% formrow form.send_flyers_state_or_province %}</div>
					<div class="col-md-6">{% formrow form.send_flyers_country %}</div>
				</div>
			</div>

			{% formrow form.providing_housing %}
		{% endform %}
	</form>
{% endblock %}
