{% extends 'brambling/event/order/__base.html' %}

{% load floppyforms %}

{% block title %}Transfer item – {{ block.super }}{% endblock %}

{% block main %}
	{% with next_step=1 %}
		{{ block.super }}
	{% endwith %}

	{% if not user.is_authenticated %}
	<div class='alert alert-danger'>
		Sorry!
		<b>You need to <a class="alert-link" href="{% url 'brambling_signup' %}?email={{ order.email }}">create an account</a> to transfer an item.</b>
		You'll be able to claim this order right away if you <a class="alert-link" href="{% url 'brambling_signup' %}?email={{ order.email }}">create an account</a> with the same email address.
	</div>
	{% endif %}

	<div class='row'>
		<div class='col-xs-6 col-xs-offset-3'>
			<p>
				Clicking the "Transfer it!" button will send a confirmation link to the specified email address. Once the recipient accepts the transfer, it cannot be undone.
			</p>
			<p>
				If transferring an item leaves an attendee with no items, that attendee will be removed from your order.
			</p>

			<form method='post' action=''>
				{% csrf_token %}
				<fieldset {% if not user.is_authenticated %}disabled{% endif %}>
					{% form form using %}
						{% formrow form.bought_item with label="Item to transfer" %}
						{% formrow form.email with label="Send item to..." help_text="Email address" %}
					{% endform %}

					<button type='submit' class='btn btn-success'>Transfer it!</button>

					{% url "brambling_event_order_summary" event_slug=event.slug organization_slug=event.organization.slug as cancel_url %}

					<a href='{{ cancel_url }}' class='btn btn-link'>
						Wait, never mind
					</a>
				</fieldset>
			</form>
		</div>
	</div>
{% endblock %}
