{% extends 'brambling/layouts/3_9.html' %}

{% load humanize %}

{% block side %}
	{% url 'brambling_home' as brambling_home_url %}
	{% url 'brambling_user_account' as brambling_user_account_url %}
	{% url 'brambling_user_billing' as brambling_user_billing_url %}
	{% url 'brambling_user_attendees' as brambling_user_attendees_url %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Settings</h4>
		</div>
		<nav class="list-group">
			<a class="list-group-item{% if request.path == brambling_user_account_url %} active{% endif %}" href="{{ brambling_user_account_url }}"><i class="fa fa-user fa-fw"></i> Account</a>
			<a class="list-group-item{% if request.path == brambling_user_billing_url %} active{% endif %}" href="{{ brambling_user_billing_url }}"><i class="fa fa-money fa-fw"></i> Billing</a>
			<a class="list-group-item{% if request.path|slice:':11' == brambling_user_attendees_url %} active{% endif %}" href="{{ brambling_user_attendees_url }}"><i class="fa fa-group fa-fw"></i> Attendee Details</a>
			<a class="list-group-item{% if request.path == brambling_home_url %} active{% endif %}" href="{{ brambling_home_url }}"><i class="fa fa-home fa-fw"></i> Home</a>
		</nav>
	</div>
{% endblock %}
