{% extends 'brambling/user/__base.html' %}

{% load floppyforms %}

{% block title %}Saved Attendees – {{ block.super }}{% endblock %}

{% block javascripts %}
	{{ block.super }}

	<script>
		$(function(){
			$('.js-post-link').on('click', function(e){
				e.preventDefault();
				$.post($(this).attr('href'), function(){
					// For now, just reload the page.
					location.reload();
				});
			})
		});
	</script>
{% endblock %}

{% block main %}
	{{ block.super }}
	<h2 class="sr-only">Attendee Details</h2>

	<p>
		{% if attendees %}
			Here are attendee details stored with your account.
			You can prefill forms with these details when registering for events.
		{% else %}
			Currently you don’t have any attendee details stored with your account.
		{% endif %}
	</p>
	<p>
		Save details here for anyone you might regularly register for events. These might include yourself, family, and significant others.
	</p>

	<div class="panel panel-default">
		<header class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Attendee Details</h3>
			<a class='btn btn-default btn-xs pull-right' href='{% url "brambling_user_attendee_add" %}'>
				<i class='fa fa-fw fa-plus'></i> Add attendee
			</a>
		</header>
		<div class="list-group">
			{% for attendee in attendees %}
				{% url "brambling_user_attendee_edit" pk=attendee.pk as attendee_url %}
				{% url "brambling_user_attendee_remove" pk=attendee.pk as attendee_remove_url %}
				<div class="list-group-item">
					<a class="a-secret" href='{{ attendee_url }}'>
						<strong>{{ attendee.get_full_name }}</strong> ({{ attendee.email }})
					</a>
					<div class="pull-right">
						<a href='{{ attendee_url }}' class='btn btn-success btn-xs'>
							<i class='fa fa-fw fa-pencil'></i> Edit
						</a>
						<a class='remove-link js-post-link btn btn-danger btn-xs' href='{{ attendee_remove_url }}'>
							<i class='fa fa-fw fa-trash'></i> Delete
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
