{% extends 'brambling/user/__base.html' %}

{% load floppyforms %}

{% block title %}Claim orders – {{ block.super }}{% endblock %}

{% block main %}
	<h2 class="sr-only">Claim orders</h2>

	{% if request.user.email != request.user.confirmed_email %}
		<p>There may be claimable orders for your current email address.</p>

		<p><a class='btn btn-default tipped' data-placement="bottom" href="{{ send_url }}" title='Send an email with a confirmation link to {{ request.user.email }}'><i class='fa fa-paper-plane'></i> Confirm your email address</a> to find out!</p>
	{% else %}
		{% if claimable_orders %}
			<div class='table-responsive'>
				<table class='table table-striped'>
					<tbody>
						{% for order in claimable_orders %}
							<tr>
								<td>
									<strong>{{ order.event.name }}</strong><br />
									{{ order.event.organization.name }}
								</td>
								<td>
									{{ order.event.start_date|date:"F jS, Y" }}
								</td>
								<td class='text-right'>
									<button class='btn btn-default'>Claim it!</button>
								</td>
							</tr>

						{% endfor %}
					</tbody>
				</table>
			</div>
		{% else %}
			<p>There are no orders which can be automatically switched over to your account.</p>
		{% endif %}

		{% if unclaimable_orders %}
			<p>The following orders were created using your email address, but can't be merged automatically because they conflict with orders already attached to this account.</p>

			<div class='table-responsive'>
				<table class='table table-striped'>
					<tbody>
						{% for order in unclaimable_orders %}
							<tr>
								<td>
									<strong>{{ order.event.name }}</strong><br />
									{{ order.event.organization.name }}
								</td>
								<td>
									{{ order.event.start_date|date:"F jS, Y" }}
								</td>
							</tr>

						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
	{% endif %}

{% endblock %}
