{% extends 'brambling/user/__base.html' %}

{% load floppyforms %}

{% block title %}Link orders – {{ block.super }}{% endblock %}

{% block main %}
	<h2 class="sr-only">Link orders</h2>

	<p>
		Here you can find orders that were created using your email address, but not by a logged-in user.
		Link these orders to your account to easily view and modify them.
	</p>

	{% if request.user.email != request.user.confirmed_email %}
		<div class='well'>
			<p class='text-danger'><i class='fa fa-ban'></i> Your address ({{ request.user.email }}) isn't confirmed</p>
			<p>
				You'll need to confirm your email address before you can see whether you have any linkable orders.
			</p>

			<p><a class='btn btn-default tipped' data-placement="bottom" href="{{ send_url }}" title='Send an email with a confirmation link to {{ request.user.email }}'><i class='fa fa-paper-plane'></i> Confirm your email address!</a></p>
		</div>
	{% else %}
		{% if linkable_orders %}
			<div class='table-responsive'>
				<table class='table table-striped'>
					<tbody>
						{% for order in linkable_orders %}
							<tr>
								<td>
									<strong>{{ order.event.name }}</strong><br />
									{{ order.event.organization.name }}
								</td>
								<td>
									{{ order.event.start_date|date:"F jS, Y" }}
								</td>
								<td class='text-right'>
									<form method='post' action='{% url "brambling_link_order" pk=order.pk %}'>
										{% csrf_token %}
										<button type='submit' class='btn btn-default'>Link it!</button>
									</form>
								</td>
							</tr>

						{% endfor %}
					</tbody>
				</table>
			</div>
		{% else %}
			<p>There are no orders which can be automatically linked to your account.</p>
		{% endif %}

		{% if unlinkable_orders %}
			<p>The following orders were created using your email address, but can't be linked automatically because they conflict with orders already linked to this account.</p>

			<div class='table-responsive'>
				<table class='table table-striped'>
					<tbody>
						{% for order in unlinkable_orders %}
							<tr>
								<td>
									<strong>{{ order.event.name }}</strong><br />
									{{ order.event.organization.name }}
								</td>
								<td>
									{{ order.event.start_date|date:"F jS, Y" }}
								</td>
							</tr>

						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
	{% endif %}

{% endblock %}
