{% extends 'brambling/user/__base.html' %}

{% load floppyforms static %}
{% formconfig row using "floppyforms/rows/bootstrap.html" %}

{% block title %}Profile settings – {{ block.super }}{% endblock %}

{% block main %}
	{{ block.super }}
	<h2 class="sr-only">Profile settings</h2>

	{% include "brambling/forms/_top_error_list.html" %}

	<form action="{{ request.path }}" method="post">
		{% csrf_token %}
		{% form form using %}
			<div class="panel panel-default">
				<header class="panel-heading">
					<h4 class="panel-title">Profile Information</h4>
				</header>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-6">
							{% formrow form.given_name %}
						</div>
						<div class="col-sm-6">
							{% formrow form.surname %}
						</div>
					</div>

					{# only display button if additional name options are still default #}

					{# display automatically if any of the additional name settings are non-default #}
					<div class="collapse {% if form.instance.name_order != "GMS" or form.instance.middle_name %}in{% endif %}" id="nameOptions">
						{% formrow form.middle_name %}
						{% formrow form.name_order %}
					</div>
					{% if form.instance.name_order == "GMS" and form.instance.middle_name == "" %}
						<small><a href="#nameOptions" data-toggle="collapse" class="pull-right more-name-options"><i class="fa fa-plus"></i> More Name Options</a></small>
					{% endif %}
					{% formrow form.phone %}
				</div>
			</div>{# /.panel #}
			<div class="panel panel-default">
				<header class="panel-heading">
					<h4 class="panel-title">Environmental factors</h4>
				</header>
				<div class="panel-body">
					{% formrow form.dietary_restrictions %}
					{% formrow form.housing_prefer %}
					{% formrow form.ef_cause %}
					{% formrow form.ef_avoid %}
				</div>
			</div>
			<div class="panel panel-default">
				<header class="panel-heading">
					<h4 class="panel-title">People and Other Needs</h4>
				</header>
				<div class="panel-body">
					{% formrow form.person_prefer %}
					{% formrow form.person_avoid %}
					{% formrow form.other_needs %}
				</div>
			</div>
		{% endform %}
		<button class="btn btn-primary" type="submit">Save changes</button>
		<a href="" class="btn btn-link">Cancel</a>
	</form>

{% endblock %}
